/*
LeaseWeb API for launching and managing Public Cloud instances

> The base URL for this API is: **https://api.leaseweb.com/publicCloud/v1/_**  This API provides ways to launch and manage Public Cloud instances.  <div class=\"badge\">BETA</div> This API is in BETA. Documentation might be incorrect or incomplete. Functionality might change with the final release.>

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package publiccloud

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type PubliccloudAPI interface {

	/*
	AddToPrivateNetwork Add instance to Private Network

	Add instance to Private Network.

Cannot be performed when the instance has snapshots.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiAddToPrivateNetworkRequest
	*/
	AddToPrivateNetwork(ctx context.Context, instanceId string) ApiAddToPrivateNetworkRequest

	// AddToPrivateNetworkExecute executes the request
	AddToPrivateNetworkExecute(r ApiAddToPrivateNetworkRequest) (*http.Response, error)

	/*
	AttachInstanceISO Attach ISO to a specific Instance

	Instance must not have ISO attached, otherwise, it will return a validation error.

Available ISOs can be obtained using `/v1/isos`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiAttachInstanceISORequest
	*/
	AttachInstanceISO(ctx context.Context, instanceId string) ApiAttachInstanceISORequest

	// AttachInstanceISOExecute executes the request
	AttachInstanceISOExecute(r ApiAttachInstanceISORequest) (*http.Response, error)

	/*
	AttachVPSISO Attach ISO to a specific VPS

	VPS must not have ISO attached, otherwise, it will return a validation error.

Available ISOs can be obtained using `/v1/isos`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@return ApiAttachVPSISORequest
	*/
	AttachVPSISO(ctx context.Context, vpsId string) ApiAttachVPSISORequest

	// AttachVPSISOExecute executes the request
	AttachVPSISOExecute(r ApiAttachVPSISORequest) (*http.Response, error)

	/*
	CancelInstanceTermination Cancel instance termination

	Cancel the termination process of monthly instances. Must be executed prior to the instance's `contractEndsAt`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiCancelInstanceTerminationRequest
	*/
	CancelInstanceTermination(ctx context.Context, instanceId string) ApiCancelInstanceTerminationRequest

	// CancelInstanceTerminationExecute executes the request
	CancelInstanceTerminationExecute(r ApiCancelInstanceTerminationRequest) (*http.Response, error)

	/*
	CreateAutoScalingGroup Create Auto Scaling Group

	Create an Auto Scaling Group.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateAutoScalingGroupRequest
	*/
	CreateAutoScalingGroup(ctx context.Context) ApiCreateAutoScalingGroupRequest

	// CreateAutoScalingGroupExecute executes the request
	//  @return AutoScalingGroupDetails
	CreateAutoScalingGroupExecute(r ApiCreateAutoScalingGroupRequest) (*AutoScalingGroupDetails, *http.Response, error)

	/*
	CreateImage Create Custom Image

	Create a Custom Image

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateImageRequest
	*/
	CreateImage(ctx context.Context) ApiCreateImageRequest

	// CreateImageExecute executes the request
	//  @return ImageDetails
	CreateImageExecute(r ApiCreateImageRequest) (*ImageDetails, *http.Response, error)

	/*
	CreateLoadBalancerListener Create listener

	Create listener

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiCreateLoadBalancerListenerRequest
	*/
	CreateLoadBalancerListener(ctx context.Context, loadBalancerId string) ApiCreateLoadBalancerListenerRequest

	// CreateLoadBalancerListenerExecute executes the request
	//  @return LoadBalancerListener
	CreateLoadBalancerListenerExecute(r ApiCreateLoadBalancerListenerRequest) (*LoadBalancerListener, *http.Response, error)

	/*
	CreateSnapshot Create instance snapshot

	The instance must be running before the execution.

The time taken to create the snapshot depends on several factors, including memory size and usage.

Allowed only one snapshot per instance.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiCreateSnapshotRequest
	*/
	CreateSnapshot(ctx context.Context, instanceId string) ApiCreateSnapshotRequest

	// CreateSnapshotExecute executes the request
	CreateSnapshotExecute(r ApiCreateSnapshotRequest) (*http.Response, error)

	/*
	CreateTargetGroup Create Target Group

	Create a Target Group

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateTargetGroupRequest
	*/
	CreateTargetGroup(ctx context.Context) ApiCreateTargetGroupRequest

	// CreateTargetGroupExecute executes the request
	//  @return TargetGroup
	CreateTargetGroupExecute(r ApiCreateTargetGroupRequest) (*TargetGroup, *http.Response, error)

	/*
	DeleteAutoScalingGroup Delete Auto Scaling Group

	Delete an Auto Scaling Group.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param autoScalingGroupId Auto Scaling Group ID
	@return ApiDeleteAutoScalingGroupRequest
	*/
	DeleteAutoScalingGroup(ctx context.Context, autoScalingGroupId string) ApiDeleteAutoScalingGroupRequest

	// DeleteAutoScalingGroupExecute executes the request
	DeleteAutoScalingGroupExecute(r ApiDeleteAutoScalingGroupRequest) (*http.Response, error)

	/*
	DeleteInstanceCredential Delete Instance credential for a given type and username

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@param type_ Type of credential
	@param username Username
	@return ApiDeleteInstanceCredentialRequest
	*/
	DeleteInstanceCredential(ctx context.Context, instanceId string, type_ CredentialType, username string) ApiDeleteInstanceCredentialRequest

	// DeleteInstanceCredentialExecute executes the request
	DeleteInstanceCredentialExecute(r ApiDeleteInstanceCredentialRequest) (*http.Response, error)

	/*
	DeleteInstanceCredentials Delete all credentials associated with a specific Instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiDeleteInstanceCredentialsRequest
	*/
	DeleteInstanceCredentials(ctx context.Context, instanceId string) ApiDeleteInstanceCredentialsRequest

	// DeleteInstanceCredentialsExecute executes the request
	DeleteInstanceCredentialsExecute(r ApiDeleteInstanceCredentialsRequest) (*http.Response, error)

	/*
	DeleteLoadBalancerListener Delete load balancer listener

	Delete a listener

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@param listenerId Listener ID
	@return ApiDeleteLoadBalancerListenerRequest
	*/
	DeleteLoadBalancerListener(ctx context.Context, loadBalancerId string, listenerId string) ApiDeleteLoadBalancerListenerRequest

	// DeleteLoadBalancerListenerExecute executes the request
	DeleteLoadBalancerListenerExecute(r ApiDeleteLoadBalancerListenerRequest) (*http.Response, error)

	/*
	DeleteSnapshot Delete instance snapshot

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@param snapshotId
	@return ApiDeleteSnapshotRequest
	*/
	DeleteSnapshot(ctx context.Context, instanceId string, snapshotId string) ApiDeleteSnapshotRequest

	// DeleteSnapshotExecute executes the request
	DeleteSnapshotExecute(r ApiDeleteSnapshotRequest) (*http.Response, error)

	/*
	DeleteTargetGroup Delete Target Group

	Delete a Target Group.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param targetGroupId Target Group ID
	@return ApiDeleteTargetGroupRequest
	*/
	DeleteTargetGroup(ctx context.Context, targetGroupId string) ApiDeleteTargetGroupRequest

	// DeleteTargetGroupExecute executes the request
	DeleteTargetGroupExecute(r ApiDeleteTargetGroupRequest) (*http.Response, error)

	/*
	DeleteVPSCredential Delete VPS credential

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@param type_ Type of credential
	@param username Username
	@return ApiDeleteVPSCredentialRequest
	*/
	DeleteVPSCredential(ctx context.Context, vpsId string, type_ CredentialType, username string) ApiDeleteVPSCredentialRequest

	// DeleteVPSCredentialExecute executes the request
	DeleteVPSCredentialExecute(r ApiDeleteVPSCredentialRequest) (*http.Response, error)

	/*
	DeleteVPSCredentials Delete all credentials associated with a specific VPS

	Delete all credentials stored for a given VPS.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@return ApiDeleteVPSCredentialsRequest
	*/
	DeleteVPSCredentials(ctx context.Context, vpsId string) ApiDeleteVPSCredentialsRequest

	// DeleteVPSCredentialsExecute executes the request
	DeleteVPSCredentialsExecute(r ApiDeleteVPSCredentialsRequest) (*http.Response, error)

	/*
	DeregisterAutoScalingGroupTargetGroup Deregister Target Group

	Disassociate a target group from an Auto Scaling Group

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param autoScalingGroupId Auto Scaling Group ID
	@return ApiDeregisterAutoScalingGroupTargetGroupRequest
	*/
	DeregisterAutoScalingGroupTargetGroup(ctx context.Context, autoScalingGroupId string) ApiDeregisterAutoScalingGroupTargetGroupRequest

	// DeregisterAutoScalingGroupTargetGroupExecute executes the request
	//  @return AutoScalingGroupDetails
	DeregisterAutoScalingGroupTargetGroupExecute(r ApiDeregisterAutoScalingGroupTargetGroupRequest) (*AutoScalingGroupDetails, *http.Response, error)

	/*
	DeregisterTargets Deregister Targets

	Deregister Targets in a Target Group

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param targetGroupId Target Group ID
	@return ApiDeregisterTargetsRequest
	*/
	DeregisterTargets(ctx context.Context, targetGroupId string) ApiDeregisterTargetsRequest

	// DeregisterTargetsExecute executes the request
	DeregisterTargetsExecute(r ApiDeregisterTargetsRequest) (*http.Response, error)

	/*
	DetachInstanceISO Detach ISO from a specific Instance

	Instance must have ISO attached, otherwise, it will return a validation error

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiDetachInstanceISORequest
	*/
	DetachInstanceISO(ctx context.Context, instanceId string) ApiDetachInstanceISORequest

	// DetachInstanceISOExecute executes the request
	DetachInstanceISOExecute(r ApiDetachInstanceISORequest) (*http.Response, error)

	/*
	DetachVPSISO Detach ISO from a specific VPS

	VPS must have ISO attached, otherwise, it will return a validation error

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@return ApiDetachVPSISORequest
	*/
	DetachVPSISO(ctx context.Context, vpsId string) ApiDetachVPSISORequest

	// DetachVPSISOExecute executes the request
	DetachVPSISOExecute(r ApiDetachVPSISORequest) (*http.Response, error)

	/*
	GetAutoScalingGroup Get Auto Scaling Group details

	Get details about Auto Scaling Group.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param autoScalingGroupId Auto Scaling Group ID
	@return ApiGetAutoScalingGroupRequest
	*/
	GetAutoScalingGroup(ctx context.Context, autoScalingGroupId string) ApiGetAutoScalingGroupRequest

	// GetAutoScalingGroupExecute executes the request
	//  @return AutoScalingGroupDetails
	GetAutoScalingGroupExecute(r ApiGetAutoScalingGroupRequest) (*AutoScalingGroupDetails, *http.Response, error)

	/*
	GetAutoScalingGroupInstanceList Get list of instances belonging to an Auto Scaling Group

	List instances belonging to an Auto Scaling Group

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param autoScalingGroupId Auto Scaling Group ID
	@return ApiGetAutoScalingGroupInstanceListRequest
	*/
	GetAutoScalingGroupInstanceList(ctx context.Context, autoScalingGroupId string) ApiGetAutoScalingGroupInstanceListRequest

	// GetAutoScalingGroupInstanceListExecute executes the request
	//  @return GetAutoScalingGroupInstanceListResult
	GetAutoScalingGroupInstanceListExecute(r ApiGetAutoScalingGroupInstanceListRequest) (*GetAutoScalingGroupInstanceListResult, *http.Response, error)

	/*
	GetAutoScalingGroupList Get Auto Scaling Group list

	List and filter Auto Scaling Groups

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAutoScalingGroupListRequest
	*/
	GetAutoScalingGroupList(ctx context.Context) ApiGetAutoScalingGroupListRequest

	// GetAutoScalingGroupListExecute executes the request
	//  @return GetAutoScalingGroupListResult
	GetAutoScalingGroupListExecute(r ApiGetAutoScalingGroupListRequest) (*GetAutoScalingGroupListResult, *http.Response, error)

	/*
	GetConnectionsMetrics Get connections metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiGetConnectionsMetricsRequest
	*/
	GetConnectionsMetrics(ctx context.Context, loadBalancerId string) ApiGetConnectionsMetricsRequest

	// GetConnectionsMetricsExecute executes the request
	//  @return GetConnectionsMetricsResult
	GetConnectionsMetricsExecute(r ApiGetConnectionsMetricsRequest) (*GetConnectionsMetricsResult, *http.Response, error)

	/*
	GetConnectionsPerSecondMetrics Get connections per second metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiGetConnectionsPerSecondMetricsRequest
	*/
	GetConnectionsPerSecondMetrics(ctx context.Context, loadBalancerId string) ApiGetConnectionsPerSecondMetricsRequest

	// GetConnectionsPerSecondMetricsExecute executes the request
	//  @return GetConnectionsPerSecondMetricsResult
	GetConnectionsPerSecondMetricsExecute(r ApiGetConnectionsPerSecondMetricsRequest) (*GetConnectionsPerSecondMetricsResult, *http.Response, error)

	/*
	GetConsoleAccessToInstance Get console access

	Get console access to the instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiGetConsoleAccessToInstanceRequest
	*/
	GetConsoleAccessToInstance(ctx context.Context, instanceId string) ApiGetConsoleAccessToInstanceRequest

	// GetConsoleAccessToInstanceExecute executes the request
	//  @return GetConsoleAccessToInstanceResult
	GetConsoleAccessToInstanceExecute(r ApiGetConsoleAccessToInstanceRequest) (*GetConsoleAccessToInstanceResult, *http.Response, error)

	/*
	GetCpuMetrics Get instance CPU metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiGetCpuMetricsRequest
	*/
	GetCpuMetrics(ctx context.Context, instanceId string) ApiGetCpuMetricsRequest

	// GetCpuMetricsExecute executes the request
	//  @return GetCpuMetricsResult
	GetCpuMetricsExecute(r ApiGetCpuMetricsRequest) (*GetCpuMetricsResult, *http.Response, error)

	/*
	GetDataTransferredMetrics Get load balancer data transferred metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiGetDataTransferredMetricsRequest
	*/
	GetDataTransferredMetrics(ctx context.Context, loadBalancerId string) ApiGetDataTransferredMetricsRequest

	// GetDataTransferredMetricsExecute executes the request
	//  @return GetDataTransferredMetricsResult
	GetDataTransferredMetricsExecute(r ApiGetDataTransferredMetricsRequest) (*GetDataTransferredMetricsResult, *http.Response, error)

	/*
	GetDataTransferredPerSecondMetrics Get load balancer data transferred per second metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiGetDataTransferredPerSecondMetricsRequest
	*/
	GetDataTransferredPerSecondMetrics(ctx context.Context, loadBalancerId string) ApiGetDataTransferredPerSecondMetricsRequest

	// GetDataTransferredPerSecondMetricsExecute executes the request
	//  @return GetDataTransferredPerSecondMetricsResult
	GetDataTransferredPerSecondMetricsExecute(r ApiGetDataTransferredPerSecondMetricsRequest) (*GetDataTransferredPerSecondMetricsResult, *http.Response, error)

	/*
	GetExpenses Get costs for a given month.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param equipmentId Equipment's UUID
	@return ApiGetExpensesRequest
	*/
	GetExpenses(ctx context.Context, equipmentId string) ApiGetExpensesRequest

	// GetExpensesExecute executes the request
	//  @return GetExpensesResult
	GetExpensesExecute(r ApiGetExpensesRequest) (*GetExpensesResult, *http.Response, error)

	/*
	GetImageList List all available Images

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetImageListRequest
	*/
	GetImageList(ctx context.Context) ApiGetImageListRequest

	// GetImageListExecute executes the request
	//  @return GetImageListResult
	GetImageListExecute(r ApiGetImageListRequest) (*GetImageListResult, *http.Response, error)

	/*
	GetInstance Get instance details

	Get details about the instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiGetInstanceRequest
	*/
	GetInstance(ctx context.Context, instanceId string) ApiGetInstanceRequest

	// GetInstanceExecute executes the request
	//  @return InstanceDetails
	GetInstanceExecute(r ApiGetInstanceRequest) (*InstanceDetails, *http.Response, error)

	/*
	GetInstanceCredential Get Instance credentials by type and username.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@param type_ Type of credential
	@param username Username
	@return ApiGetInstanceCredentialRequest
	*/
	GetInstanceCredential(ctx context.Context, instanceId string, type_ CredentialType, username string) ApiGetInstanceCredentialRequest

	// GetInstanceCredentialExecute executes the request
	//  @return GetCredentialResult
	GetInstanceCredentialExecute(r ApiGetInstanceCredentialRequest) (*GetCredentialResult, *http.Response, error)

	/*
	GetInstanceCredentialList List credentials stored for a specific Instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiGetInstanceCredentialListRequest
	*/
	GetInstanceCredentialList(ctx context.Context, instanceId string) ApiGetInstanceCredentialListRequest

	// GetInstanceCredentialListExecute executes the request
	//  @return GetCredentialListResult
	GetInstanceCredentialListExecute(r ApiGetInstanceCredentialListRequest) (*GetCredentialListResult, *http.Response, error)

	/*
	GetInstanceCredentialListByType Get credentials by type for a specific Instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@param type_ Type of credential
	@return ApiGetInstanceCredentialListByTypeRequest
	*/
	GetInstanceCredentialListByType(ctx context.Context, instanceId string, type_ CredentialType) ApiGetInstanceCredentialListByTypeRequest

	// GetInstanceCredentialListByTypeExecute executes the request
	//  @return GetCredentialListByTypeResult
	GetInstanceCredentialListByTypeExecute(r ApiGetInstanceCredentialListByTypeRequest) (*GetCredentialListByTypeResult, *http.Response, error)

	/*
	GetInstanceDataTrafficMetrics Get data traffic metrics for a specific Instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiGetInstanceDataTrafficMetricsRequest
	*/
	GetInstanceDataTrafficMetrics(ctx context.Context, instanceId string) ApiGetInstanceDataTrafficMetricsRequest

	// GetInstanceDataTrafficMetricsExecute executes the request
	//  @return GetDataTrafficMetricsResult
	GetInstanceDataTrafficMetricsExecute(r ApiGetInstanceDataTrafficMetricsRequest) (*GetDataTrafficMetricsResult, *http.Response, error)

	/*
	GetInstanceIP Get IP details for a specific Instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@param ip
	@return ApiGetInstanceIPRequest
	*/
	GetInstanceIP(ctx context.Context, instanceId string, ip string) ApiGetInstanceIPRequest

	// GetInstanceIPExecute executes the request
	//  @return IpDetails
	GetInstanceIPExecute(r ApiGetInstanceIPRequest) (*IpDetails, *http.Response, error)

	/*
	GetInstanceIPList List IP addresses associated with a specific Instance

	List the Instance's IPs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiGetInstanceIPListRequest
	*/
	GetInstanceIPList(ctx context.Context, instanceId string) ApiGetInstanceIPListRequest

	// GetInstanceIPListExecute executes the request
	//  @return GetIPListResult
	GetInstanceIPListExecute(r ApiGetInstanceIPListRequest) (*GetIPListResult, *http.Response, error)

	/*
	GetInstanceList Get instance list

	List and filter instances

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetInstanceListRequest
	*/
	GetInstanceList(ctx context.Context) ApiGetInstanceListRequest

	// GetInstanceListExecute executes the request
	//  @return GetInstanceListResult
	GetInstanceListExecute(r ApiGetInstanceListRequest) (*GetInstanceListResult, *http.Response, error)

	/*
	GetInstanceTypeList List instance types

	Get instance types

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetInstanceTypeListRequest
	*/
	GetInstanceTypeList(ctx context.Context) ApiGetInstanceTypeListRequest

	// GetInstanceTypeListExecute executes the request
	//  @return InstanceTypes
	GetInstanceTypeListExecute(r ApiGetInstanceTypeListRequest) (*InstanceTypes, *http.Response, error)

	/*
	GetIsoList List available ISOs

	List all available ISO images

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetIsoListRequest
	*/
	GetIsoList(ctx context.Context) ApiGetIsoListRequest

	// GetIsoListExecute executes the request
	//  @return GetIsoListResult
	GetIsoListExecute(r ApiGetIsoListRequest) (*GetIsoListResult, *http.Response, error)

	/*
	GetLoadBalancer Get load balancer details

	Get details about the load balancer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiGetLoadBalancerRequest
	*/
	GetLoadBalancer(ctx context.Context, loadBalancerId string) ApiGetLoadBalancerRequest

	// GetLoadBalancerExecute executes the request
	//  @return LoadBalancerDetails
	GetLoadBalancerExecute(r ApiGetLoadBalancerRequest) (*LoadBalancerDetails, *http.Response, error)

	/*
	GetLoadBalancerDataTrafficMetrics Get data traffic metrics for a specific Load Balancer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiGetLoadBalancerDataTrafficMetricsRequest
	*/
	GetLoadBalancerDataTrafficMetrics(ctx context.Context, loadBalancerId string) ApiGetLoadBalancerDataTrafficMetricsRequest

	// GetLoadBalancerDataTrafficMetricsExecute executes the request
	//  @return GetDataTrafficMetricsResult
	GetLoadBalancerDataTrafficMetricsExecute(r ApiGetLoadBalancerDataTrafficMetricsRequest) (*GetDataTrafficMetricsResult, *http.Response, error)

	/*
	GetLoadBalancerIP Get IP details for a specific Load Balancer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@param ip
	@return ApiGetLoadBalancerIPRequest
	*/
	GetLoadBalancerIP(ctx context.Context, loadBalancerId string, ip string) ApiGetLoadBalancerIPRequest

	// GetLoadBalancerIPExecute executes the request
	//  @return IpDetails
	GetLoadBalancerIPExecute(r ApiGetLoadBalancerIPRequest) (*IpDetails, *http.Response, error)

	/*
	GetLoadBalancerIPList List IP addresses associated with a specific Load Balancer

	List the Load Balancers IPs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiGetLoadBalancerIPListRequest
	*/
	GetLoadBalancerIPList(ctx context.Context, loadBalancerId string) ApiGetLoadBalancerIPListRequest

	// GetLoadBalancerIPListExecute executes the request
	//  @return GetIPListResult
	GetLoadBalancerIPListExecute(r ApiGetLoadBalancerIPListRequest) (*GetIPListResult, *http.Response, error)

	/*
	GetLoadBalancerList Get load balancer list

	List and filter load balancers

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetLoadBalancerListRequest
	*/
	GetLoadBalancerList(ctx context.Context) ApiGetLoadBalancerListRequest

	// GetLoadBalancerListExecute executes the request
	//  @return GetLoadBalancerListResult
	GetLoadBalancerListExecute(r ApiGetLoadBalancerListRequest) (*GetLoadBalancerListResult, *http.Response, error)

	/*
	GetLoadBalancerListener Get listener details

	Get details about a listener

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@param listenerId Listener ID
	@return ApiGetLoadBalancerListenerRequest
	*/
	GetLoadBalancerListener(ctx context.Context, loadBalancerId string, listenerId string) ApiGetLoadBalancerListenerRequest

	// GetLoadBalancerListenerExecute executes the request
	//  @return LoadBalancerListenerDetails
	GetLoadBalancerListenerExecute(r ApiGetLoadBalancerListenerRequest) (*LoadBalancerListenerDetails, *http.Response, error)

	/*
	GetLoadBalancerListenerList Get listener list

	List listeners

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiGetLoadBalancerListenerListRequest
	*/
	GetLoadBalancerListenerList(ctx context.Context, loadBalancerId string) ApiGetLoadBalancerListenerListRequest

	// GetLoadBalancerListenerListExecute executes the request
	//  @return GetLoadBalancerListenerListResult
	GetLoadBalancerListenerListExecute(r ApiGetLoadBalancerListenerListRequest) (*GetLoadBalancerListenerListResult, *http.Response, error)

	/*
	GetMarketAppList Get marketplace apps

	Get all available marketplace apps.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetMarketAppListRequest
	*/
	GetMarketAppList(ctx context.Context) ApiGetMarketAppListRequest

	// GetMarketAppListExecute executes the request
	//  @return GetMarketAppListResult
	GetMarketAppListExecute(r ApiGetMarketAppListRequest) (*GetMarketAppListResult, *http.Response, error)

	/*
	GetRegionList List regions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRegionListRequest
	*/
	GetRegionList(ctx context.Context) ApiGetRegionListRequest

	// GetRegionListExecute executes the request
	//  @return GetRegionListResult
	GetRegionListExecute(r ApiGetRegionListRequest) (*GetRegionListResult, *http.Response, error)

	/*
	GetReinstallInstanceImageList List images available for reinstall

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiGetReinstallInstanceImageListRequest
	*/
	GetReinstallInstanceImageList(ctx context.Context, instanceId string) ApiGetReinstallInstanceImageListRequest

	// GetReinstallInstanceImageListExecute executes the request
	//  @return GetReinstallImageListResult
	GetReinstallInstanceImageListExecute(r ApiGetReinstallInstanceImageListRequest) (*GetReinstallImageListResult, *http.Response, error)

	/*
	GetReinstallVPSImageList List images available for reinstall

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@return ApiGetReinstallVPSImageListRequest
	*/
	GetReinstallVPSImageList(ctx context.Context, vpsId string) ApiGetReinstallVPSImageListRequest

	// GetReinstallVPSImageListExecute executes the request
	//  @return GetReinstallImageListResult
	GetReinstallVPSImageListExecute(r ApiGetReinstallVPSImageListRequest) (*GetReinstallImageListResult, *http.Response, error)

	/*
	GetRequestsMetrics Get load balancer requests metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiGetRequestsMetricsRequest
	*/
	GetRequestsMetrics(ctx context.Context, loadBalancerId string) ApiGetRequestsMetricsRequest

	// GetRequestsMetricsExecute executes the request
	//  @return GetRequestsMetricsResult
	GetRequestsMetricsExecute(r ApiGetRequestsMetricsRequest) (*GetRequestsMetricsResult, *http.Response, error)

	/*
	GetRequestsPerSecondMetrics Get load balancer requests per second metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiGetRequestsPerSecondMetricsRequest
	*/
	GetRequestsPerSecondMetrics(ctx context.Context, loadBalancerId string) ApiGetRequestsPerSecondMetricsRequest

	// GetRequestsPerSecondMetricsExecute executes the request
	//  @return GetRequestsPerSecondMetricsResult
	GetRequestsPerSecondMetricsExecute(r ApiGetRequestsPerSecondMetricsRequest) (*GetRequestsPerSecondMetricsResult, *http.Response, error)

	/*
	GetResponseCodesMetrics Get response codes metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiGetResponseCodesMetricsRequest
	*/
	GetResponseCodesMetrics(ctx context.Context, loadBalancerId string) ApiGetResponseCodesMetricsRequest

	// GetResponseCodesMetricsExecute executes the request
	//  @return GetResponseCodesMetricsResult
	GetResponseCodesMetricsExecute(r ApiGetResponseCodesMetricsRequest) (*GetResponseCodesMetricsResult, *http.Response, error)

	/*
	GetResponseCodesPerSecondMetrics Get response codes per second metrics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiGetResponseCodesPerSecondMetricsRequest
	*/
	GetResponseCodesPerSecondMetrics(ctx context.Context, loadBalancerId string) ApiGetResponseCodesPerSecondMetricsRequest

	// GetResponseCodesPerSecondMetricsExecute executes the request
	//  @return GetResponseCodesPerSecondMetricsResult
	GetResponseCodesPerSecondMetricsExecute(r ApiGetResponseCodesPerSecondMetricsRequest) (*GetResponseCodesPerSecondMetricsResult, *http.Response, error)

	/*
	GetSnapshot Get snapshot detail

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@param snapshotId
	@return ApiGetSnapshotRequest
	*/
	GetSnapshot(ctx context.Context, instanceId string, snapshotId string) ApiGetSnapshotRequest

	// GetSnapshotExecute executes the request
	//  @return Snapshot
	GetSnapshotExecute(r ApiGetSnapshotRequest) (*Snapshot, *http.Response, error)

	/*
	GetSnapshotList List snapshots

	List instance snapshots

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiGetSnapshotListRequest
	*/
	GetSnapshotList(ctx context.Context, instanceId string) ApiGetSnapshotListRequest

	// GetSnapshotListExecute executes the request
	//  @return GetSnapshotListResult
	GetSnapshotListExecute(r ApiGetSnapshotListRequest) (*GetSnapshotListResult, *http.Response, error)

	/*
	GetTargetGroup Get Target Group details

	Get Target Group details.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param targetGroupId Target Group ID
	@return ApiGetTargetGroupRequest
	*/
	GetTargetGroup(ctx context.Context, targetGroupId string) ApiGetTargetGroupRequest

	// GetTargetGroupExecute executes the request
	//  @return TargetGroup
	GetTargetGroupExecute(r ApiGetTargetGroupRequest) (*TargetGroup, *http.Response, error)

	/*
	GetTargetGroupList Get Target Group list

	List and filter Target Groups

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTargetGroupListRequest
	*/
	GetTargetGroupList(ctx context.Context) ApiGetTargetGroupListRequest

	// GetTargetGroupListExecute executes the request
	//  @return GetTargetGroupListResult
	GetTargetGroupListExecute(r ApiGetTargetGroupListRequest) (*GetTargetGroupListResult, *http.Response, error)

	/*
	GetTargetList Get Targets

	Get targets in a Target Group

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param targetGroupId Target Group ID
	@return ApiGetTargetListRequest
	*/
	GetTargetList(ctx context.Context, targetGroupId string) ApiGetTargetListRequest

	// GetTargetListExecute executes the request
	//  @return GetTargetListResult
	GetTargetListExecute(r ApiGetTargetListRequest) (*GetTargetListResult, *http.Response, error)

	/*
	GetUpdateInstanceTypeList List available instance types for update

	Get available instance types for update

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiGetUpdateInstanceTypeListRequest
	*/
	GetUpdateInstanceTypeList(ctx context.Context, instanceId string) ApiGetUpdateInstanceTypeListRequest

	// GetUpdateInstanceTypeListExecute executes the request
	//  @return InstanceTypes
	GetUpdateInstanceTypeListExecute(r ApiGetUpdateInstanceTypeListRequest) (*InstanceTypes, *http.Response, error)

	/*
	GetVPSCredential Get VPS credential by type and username.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@param type_ Type of credential
	@param username Username
	@return ApiGetVPSCredentialRequest
	*/
	GetVPSCredential(ctx context.Context, vpsId string, type_ CredentialType, username string) ApiGetVPSCredentialRequest

	// GetVPSCredentialExecute executes the request
	//  @return GetCredentialResult
	GetVPSCredentialExecute(r ApiGetVPSCredentialRequest) (*GetCredentialResult, *http.Response, error)

	/*
	GetVPSCredentialList List credentials stored for a specific VPS

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@return ApiGetVPSCredentialListRequest
	*/
	GetVPSCredentialList(ctx context.Context, vpsId string) ApiGetVPSCredentialListRequest

	// GetVPSCredentialListExecute executes the request
	//  @return GetCredentialListResult
	GetVPSCredentialListExecute(r ApiGetVPSCredentialListRequest) (*GetCredentialListResult, *http.Response, error)

	/*
	GetVPSCredentialListByType Get credentials by type for a specific VPS

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@param type_ Type of credential
	@return ApiGetVPSCredentialListByTypeRequest
	*/
	GetVPSCredentialListByType(ctx context.Context, vpsId string, type_ CredentialType) ApiGetVPSCredentialListByTypeRequest

	// GetVPSCredentialListByTypeExecute executes the request
	//  @return GetCredentialListByTypeResult
	GetVPSCredentialListByTypeExecute(r ApiGetVPSCredentialListByTypeRequest) (*GetCredentialListByTypeResult, *http.Response, error)

	/*
	GetVPSDataTrafficMetrics Get data traffic metrics for a specific VPS

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@return ApiGetVPSDataTrafficMetricsRequest
	*/
	GetVPSDataTrafficMetrics(ctx context.Context, vpsId string) ApiGetVPSDataTrafficMetricsRequest

	// GetVPSDataTrafficMetricsExecute executes the request
	//  @return GetDataTrafficMetricsResult
	GetVPSDataTrafficMetricsExecute(r ApiGetVPSDataTrafficMetricsRequest) (*GetDataTrafficMetricsResult, *http.Response, error)

	/*
	GetVPSIP Get IP details for a specific VPS

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@param ip
	@return ApiGetVPSIPRequest
	*/
	GetVPSIP(ctx context.Context, vpsId string, ip string) ApiGetVPSIPRequest

	// GetVPSIPExecute executes the request
	//  @return IpDetails
	GetVPSIPExecute(r ApiGetVPSIPRequest) (*IpDetails, *http.Response, error)

	/*
	GetVPSIPList List IP addresses associated with a specific VPS

	List the VPS's IPs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@return ApiGetVPSIPListRequest
	*/
	GetVPSIPList(ctx context.Context, vpsId string) ApiGetVPSIPListRequest

	// GetVPSIPListExecute executes the request
	//  @return GetIPListResult
	GetVPSIPListExecute(r ApiGetVPSIPListRequest) (*GetIPListResult, *http.Response, error)

	/*
	GetVps Get VPS details

	Get VPS details.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId Vps ID
	@return ApiGetVpsRequest
	*/
	GetVps(ctx context.Context, vpsId string) ApiGetVpsRequest

	// GetVpsExecute executes the request
	//  @return VpsDetails
	GetVpsExecute(r ApiGetVpsRequest) (*VpsDetails, *http.Response, error)

	/*
	GetVpsList Get VPS list

	List and filter VPS

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetVpsListRequest
	*/
	GetVpsList(ctx context.Context) ApiGetVpsListRequest

	// GetVpsListExecute executes the request
	//  @return GetVpsListResult
	GetVpsListExecute(r ApiGetVpsListRequest) (*GetVpsListResult, *http.Response, error)

	/*
	LaunchInstance Launch instance

	Launch a Public Cloud instance. 

Available regions can be obtained using `/v1/regions`.

Available Images can be obtained using `/v1/images`.

Available instance types for your region can be obtained using `/v1/instanceTypes`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiLaunchInstanceRequest
	*/
	LaunchInstance(ctx context.Context) ApiLaunchInstanceRequest

	// LaunchInstanceExecute executes the request
	//  @return Instance
	LaunchInstanceExecute(r ApiLaunchInstanceRequest) (*Instance, *http.Response, error)

	/*
	LaunchLoadBalancer Launch Load balancer

	Launch a Load balancer. 

Available regions can be obtained using `/v1/regions`.

Available load balancer types for your region can be obtained using `/v1/loadBalancerTypes`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiLaunchLoadBalancerRequest
	*/
	LaunchLoadBalancer(ctx context.Context) ApiLaunchLoadBalancerRequest

	// LaunchLoadBalancerExecute executes the request
	//  @return LoadBalancerDetails
	LaunchLoadBalancerExecute(r ApiLaunchLoadBalancerRequest) (*LoadBalancerDetails, *http.Response, error)

	/*
	NullRouteInstanceIP Null route IP address for a specific resource Instance

	Null route an IP. It may take a few minutes before the change is propagated across the network.

Only works for IPv4.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@param ip
	@return ApiNullRouteInstanceIPRequest
	*/
	NullRouteInstanceIP(ctx context.Context, instanceId string, ip string) ApiNullRouteInstanceIPRequest

	// NullRouteInstanceIPExecute executes the request
	//  @return IpDetails
	NullRouteInstanceIPExecute(r ApiNullRouteInstanceIPRequest) (*IpDetails, *http.Response, error)

	/*
	NullRouteLoadBalancerIP Null route IP address for a specific resource Load Balancer

	Null route an IP. It may take a few minutes before the change is propagated across the network.

Only works for IPv4.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@param ip
	@return ApiNullRouteLoadBalancerIPRequest
	*/
	NullRouteLoadBalancerIP(ctx context.Context, loadBalancerId string, ip string) ApiNullRouteLoadBalancerIPRequest

	// NullRouteLoadBalancerIPExecute executes the request
	//  @return IpDetails
	NullRouteLoadBalancerIPExecute(r ApiNullRouteLoadBalancerIPRequest) (*IpDetails, *http.Response, error)

	/*
	NullRouteVPSIP Null route IP address for a specific resource VPS

	Null route an IP. It may take a few minutes before the change is propagated across the network.

Only works for IPv4.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@param ip
	@return ApiNullRouteVPSIPRequest
	*/
	NullRouteVPSIP(ctx context.Context, vpsId string, ip string) ApiNullRouteVPSIPRequest

	// NullRouteVPSIPExecute executes the request
	//  @return IpDetails
	NullRouteVPSIPExecute(r ApiNullRouteVPSIPRequest) (*IpDetails, *http.Response, error)

	/*
	RebootInstance Reboot a specific Instance

	The Instance must be running before the execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiRebootInstanceRequest
	*/
	RebootInstance(ctx context.Context, instanceId string) ApiRebootInstanceRequest

	// RebootInstanceExecute executes the request
	RebootInstanceExecute(r ApiRebootInstanceRequest) (*http.Response, error)

	/*
	RebootLoadBalancer Reboot a specific Load Balancer

	The Load Balancer must be running before the execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiRebootLoadBalancerRequest
	*/
	RebootLoadBalancer(ctx context.Context, loadBalancerId string) ApiRebootLoadBalancerRequest

	// RebootLoadBalancerExecute executes the request
	RebootLoadBalancerExecute(r ApiRebootLoadBalancerRequest) (*http.Response, error)

	/*
	RebootVPS Reboot a specific VPS

	The VPS must be running before the execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@return ApiRebootVPSRequest
	*/
	RebootVPS(ctx context.Context, vpsId string) ApiRebootVPSRequest

	// RebootVPSExecute executes the request
	RebootVPSExecute(r ApiRebootVPSRequest) (*http.Response, error)

	/*
	RegisterAutoScalingGroupTargetGroup Register Target Group

	Associates an auto scaling group with a target group.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param autoScalingGroupId Auto Scaling Group ID
	@return ApiRegisterAutoScalingGroupTargetGroupRequest
	*/
	RegisterAutoScalingGroupTargetGroup(ctx context.Context, autoScalingGroupId string) ApiRegisterAutoScalingGroupTargetGroupRequest

	// RegisterAutoScalingGroupTargetGroupExecute executes the request
	//  @return AutoScalingGroupDetails
	RegisterAutoScalingGroupTargetGroupExecute(r ApiRegisterAutoScalingGroupTargetGroupRequest) (*AutoScalingGroupDetails, *http.Response, error)

	/*
	RegisterTargets Register Targets

	Register Targets in a Target Group

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param targetGroupId Target Group ID
	@return ApiRegisterTargetsRequest
	*/
	RegisterTargets(ctx context.Context, targetGroupId string) ApiRegisterTargetsRequest

	// RegisterTargetsExecute executes the request
	RegisterTargetsExecute(r ApiRegisterTargetsRequest) (*http.Response, error)

	/*
	ReinstallInstance Reinstall an Instance

	Recreates the Instance, with optionally different Image and Marketplace App.

Cannot be performed when the instance has snapshots.

Available Images can be obtained using `/v1/{resource}/{instanceId}/reinstall/images`.

Available Marketplace Apps can be obtained using `/v1/images/{imageId}/marketApps`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiReinstallInstanceRequest
	*/
	ReinstallInstance(ctx context.Context, instanceId string) ApiReinstallInstanceRequest

	// ReinstallInstanceExecute executes the request
	ReinstallInstanceExecute(r ApiReinstallInstanceRequest) (*http.Response, error)

	/*
	ReinstallVPS Reinstall a VPS

	Recreates the VPS, with optionally different Image and Marketplace App.

Cannot be performed when the VPS has snapshots.

Available Images can be obtained using `/v1/{resource}/{instanceId}/reinstall/images`.

Available Marketplace Apps can be obtained using `/v1/images/{imageId}/marketApps`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@return ApiReinstallVPSRequest
	*/
	ReinstallVPS(ctx context.Context, vpsId string) ApiReinstallVPSRequest

	// ReinstallVPSExecute executes the request
	ReinstallVPSExecute(r ApiReinstallVPSRequest) (*http.Response, error)

	/*
	RemoveFromPrivateNetwork Remove instance from Private Network

	Remove instance from Private Network.

Cannot be performed when the instance has snapshots.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiRemoveFromPrivateNetworkRequest
	*/
	RemoveFromPrivateNetwork(ctx context.Context, instanceId string) ApiRemoveFromPrivateNetworkRequest

	// RemoveFromPrivateNetworkExecute executes the request
	RemoveFromPrivateNetworkExecute(r ApiRemoveFromPrivateNetworkRequest) (*http.Response, error)

	/*
	RemoveInstanceIPNullRoute Remove an IP null route for a specific Instance

	Remove an IP null route. It may take a few minutes before the change is propagated across the network

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@param ip
	@return ApiRemoveInstanceIPNullRouteRequest
	*/
	RemoveInstanceIPNullRoute(ctx context.Context, instanceId string, ip string) ApiRemoveInstanceIPNullRouteRequest

	// RemoveInstanceIPNullRouteExecute executes the request
	//  @return IpDetails
	RemoveInstanceIPNullRouteExecute(r ApiRemoveInstanceIPNullRouteRequest) (*IpDetails, *http.Response, error)

	/*
	RemoveLoadBalancerIPNullRoute Remove an IP null route for a specific Load Balancer

	Remove an IP null route. It may take a few minutes before the change is propagated across the network

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@param ip
	@return ApiRemoveLoadBalancerIPNullRouteRequest
	*/
	RemoveLoadBalancerIPNullRoute(ctx context.Context, loadBalancerId string, ip string) ApiRemoveLoadBalancerIPNullRouteRequest

	// RemoveLoadBalancerIPNullRouteExecute executes the request
	//  @return IpDetails
	RemoveLoadBalancerIPNullRouteExecute(r ApiRemoveLoadBalancerIPNullRouteRequest) (*IpDetails, *http.Response, error)

	/*
	RemoveVPSIPNullRoute Remove an IP null route for a specific VPS

	Remove an IP null route. It may take a few minutes before the change is propagated across the network

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@param ip
	@return ApiRemoveVPSIPNullRouteRequest
	*/
	RemoveVPSIPNullRoute(ctx context.Context, vpsId string, ip string) ApiRemoveVPSIPNullRouteRequest

	// RemoveVPSIPNullRouteExecute executes the request
	//  @return IpDetails
	RemoveVPSIPNullRouteExecute(r ApiRemoveVPSIPNullRouteRequest) (*IpDetails, *http.Response, error)

	/*
	ResetInstancePassword Reset the password for a specific Instance

	The operation may take a few moments to complete.

You can obtain the new credential using the credentials endpoints

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiResetInstancePasswordRequest
	*/
	ResetInstancePassword(ctx context.Context, instanceId string) ApiResetInstancePasswordRequest

	// ResetInstancePasswordExecute executes the request
	ResetInstancePasswordExecute(r ApiResetInstancePasswordRequest) (*http.Response, error)

	/*
	ResetVPSPassword Reset the password for a specific VPS

	The operation may take a few moments to complete.

You can obtain the new credential using the credentials endpoints

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@return ApiResetVPSPasswordRequest
	*/
	ResetVPSPassword(ctx context.Context, vpsId string) ApiResetVPSPasswordRequest

	// ResetVPSPasswordExecute executes the request
	ResetVPSPasswordExecute(r ApiResetVPSPasswordRequest) (*http.Response, error)

	/*
	RestoreSnapshot Restore instance snapshot

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@param snapshotId
	@return ApiRestoreSnapshotRequest
	*/
	RestoreSnapshot(ctx context.Context, instanceId string, snapshotId string) ApiRestoreSnapshotRequest

	// RestoreSnapshotExecute executes the request
	RestoreSnapshotExecute(r ApiRestoreSnapshotRequest) (*http.Response, error)

	/*
	StartInstance Start a specific resource Instance

	The Instance must be stopped before the execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiStartInstanceRequest
	*/
	StartInstance(ctx context.Context, instanceId string) ApiStartInstanceRequest

	// StartInstanceExecute executes the request
	StartInstanceExecute(r ApiStartInstanceRequest) (*http.Response, error)

	/*
	StartLoadBalancer Start a specific resource Load Balancer

	The Load Balancer must be stopped before the execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiStartLoadBalancerRequest
	*/
	StartLoadBalancer(ctx context.Context, loadBalancerId string) ApiStartLoadBalancerRequest

	// StartLoadBalancerExecute executes the request
	StartLoadBalancerExecute(r ApiStartLoadBalancerRequest) (*http.Response, error)

	/*
	StartVPS Start a specific resource VPS

	The VPS must be stopped before the execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@return ApiStartVPSRequest
	*/
	StartVPS(ctx context.Context, vpsId string) ApiStartVPSRequest

	// StartVPSExecute executes the request
	StartVPSExecute(r ApiStartVPSRequest) (*http.Response, error)

	/*
	StopInstance Stop a specific Instance

	The Instance must be running before the execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiStopInstanceRequest
	*/
	StopInstance(ctx context.Context, instanceId string) ApiStopInstanceRequest

	// StopInstanceExecute executes the request
	StopInstanceExecute(r ApiStopInstanceRequest) (*http.Response, error)

	/*
	StopLoadBalancer Stop a specific Load Balancer

	The Load Balancer must be running before the execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiStopLoadBalancerRequest
	*/
	StopLoadBalancer(ctx context.Context, loadBalancerId string) ApiStopLoadBalancerRequest

	// StopLoadBalancerExecute executes the request
	StopLoadBalancerExecute(r ApiStopLoadBalancerRequest) (*http.Response, error)

	/*
	StopVPS Stop a specific VPS

	The VPS must be running before the execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@return ApiStopVPSRequest
	*/
	StopVPS(ctx context.Context, vpsId string) ApiStopVPSRequest

	// StopVPSExecute executes the request
	StopVPSExecute(r ApiStopVPSRequest) (*http.Response, error)

	/*
	StoreInstanceCredential Store credentials for a specific Instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiStoreInstanceCredentialRequest
	*/
	StoreInstanceCredential(ctx context.Context, instanceId string) ApiStoreInstanceCredentialRequest

	// StoreInstanceCredentialExecute executes the request
	//  @return StoreCredentialResult
	StoreInstanceCredentialExecute(r ApiStoreInstanceCredentialRequest) (*StoreCredentialResult, *http.Response, error)

	/*
	StoreVPSCredential Store credentials for a specific VPS

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@return ApiStoreVPSCredentialRequest
	*/
	StoreVPSCredential(ctx context.Context, vpsId string) ApiStoreVPSCredentialRequest

	// StoreVPSCredentialExecute executes the request
	//  @return StoreCredentialResult
	StoreVPSCredentialExecute(r ApiStoreVPSCredentialRequest) (*StoreCredentialResult, *http.Response, error)

	/*
	TerminateInstance Terminate instance

	Terminate Public Cloud instance

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiTerminateInstanceRequest
	*/
	TerminateInstance(ctx context.Context, instanceId string) ApiTerminateInstanceRequest

	// TerminateInstanceExecute executes the request
	TerminateInstanceExecute(r ApiTerminateInstanceRequest) (*http.Response, error)

	/*
	TerminateLoadBalancer Delete load balancer

	Terminate a Load balancer

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiTerminateLoadBalancerRequest
	*/
	TerminateLoadBalancer(ctx context.Context, loadBalancerId string) ApiTerminateLoadBalancerRequest

	// TerminateLoadBalancerExecute executes the request
	TerminateLoadBalancerExecute(r ApiTerminateLoadBalancerRequest) (*http.Response, error)

	/*
	UpdateAutoScalingGroup Update Auto Scaling Group

	Update an Auto Scaling Group.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param autoScalingGroupId Auto Scaling Group ID
	@return ApiUpdateAutoScalingGroupRequest
	*/
	UpdateAutoScalingGroup(ctx context.Context, autoScalingGroupId string) ApiUpdateAutoScalingGroupRequest

	// UpdateAutoScalingGroupExecute executes the request
	//  @return AutoScalingGroupDetails
	UpdateAutoScalingGroupExecute(r ApiUpdateAutoScalingGroupRequest) (*AutoScalingGroupDetails, *http.Response, error)

	/*
	UpdateImage Update Custom Image

	Update a Custom Image

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param imageId Image's ID
	@return ApiUpdateImageRequest
	*/
	UpdateImage(ctx context.Context, imageId string) ApiUpdateImageRequest

	// UpdateImageExecute executes the request
	//  @return ImageDetails
	UpdateImageExecute(r ApiUpdateImageRequest) (*ImageDetails, *http.Response, error)

	/*
	UpdateInstance Update instance

	Update the instance's reference, type, storage or contract type.

Eligible instance types for update can be obtained using `/v1/instances/{instanceId}/instanceTypesUpdate`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@return ApiUpdateInstanceRequest
	*/
	UpdateInstance(ctx context.Context, instanceId string) ApiUpdateInstanceRequest

	// UpdateInstanceExecute executes the request
	//  @return InstanceDetails
	UpdateInstanceExecute(r ApiUpdateInstanceRequest) (*InstanceDetails, *http.Response, error)

	/*
	UpdateInstanceCredential Update credentials for a given type and username

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@param type_ Type of credential
	@param username Username
	@return ApiUpdateInstanceCredentialRequest
	*/
	UpdateInstanceCredential(ctx context.Context, instanceId string, type_ CredentialType, username string) ApiUpdateInstanceCredentialRequest

	// UpdateInstanceCredentialExecute executes the request
	//  @return UpdateCredentialResult
	UpdateInstanceCredentialExecute(r ApiUpdateInstanceCredentialRequest) (*UpdateCredentialResult, *http.Response, error)

	/*
	UpdateInstanceIP Update the IP address for a specific Instance

	Allows you to set the reverse lookup for the IP

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param instanceId Instance's ID
	@param ip
	@return ApiUpdateInstanceIPRequest
	*/
	UpdateInstanceIP(ctx context.Context, instanceId string, ip string) ApiUpdateInstanceIPRequest

	// UpdateInstanceIPExecute executes the request
	//  @return IpDetails
	UpdateInstanceIPExecute(r ApiUpdateInstanceIPRequest) (*IpDetails, *http.Response, error)

	/*
	UpdateLoadBalancer Update load balancer

	Update load balancer configurations

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@return ApiUpdateLoadBalancerRequest
	*/
	UpdateLoadBalancer(ctx context.Context, loadBalancerId string) ApiUpdateLoadBalancerRequest

	// UpdateLoadBalancerExecute executes the request
	//  @return LoadBalancerDetails
	UpdateLoadBalancerExecute(r ApiUpdateLoadBalancerRequest) (*LoadBalancerDetails, *http.Response, error)

	/*
	UpdateLoadBalancerIP Update the IP address for a specific Load Balancer

	Allows you to set the reverse lookup for the IP

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@param ip
	@return ApiUpdateLoadBalancerIPRequest
	*/
	UpdateLoadBalancerIP(ctx context.Context, loadBalancerId string, ip string) ApiUpdateLoadBalancerIPRequest

	// UpdateLoadBalancerIPExecute executes the request
	//  @return IpDetails
	UpdateLoadBalancerIPExecute(r ApiUpdateLoadBalancerIPRequest) (*IpDetails, *http.Response, error)

	/*
	UpdateLoadBalancerListener Update a listener

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param loadBalancerId Load balancer ID
	@param listenerId Listener ID
	@return ApiUpdateLoadBalancerListenerRequest
	*/
	UpdateLoadBalancerListener(ctx context.Context, loadBalancerId string, listenerId string) ApiUpdateLoadBalancerListenerRequest

	// UpdateLoadBalancerListenerExecute executes the request
	//  @return LoadBalancerListener
	UpdateLoadBalancerListenerExecute(r ApiUpdateLoadBalancerListenerRequest) (*LoadBalancerListener, *http.Response, error)

	/*
	UpdateTargetGroup Update Target Group

	Update a Target Group

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param targetGroupId Target Group ID
	@return ApiUpdateTargetGroupRequest
	*/
	UpdateTargetGroup(ctx context.Context, targetGroupId string) ApiUpdateTargetGroupRequest

	// UpdateTargetGroupExecute executes the request
	//  @return TargetGroup
	UpdateTargetGroupExecute(r ApiUpdateTargetGroupRequest) (*TargetGroup, *http.Response, error)

	/*
	UpdateVPSIP Update the IP address for a specific VPS

	Allows you to set the reverse lookup for the IP

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@param ip
	@return ApiUpdateVPSIPRequest
	*/
	UpdateVPSIP(ctx context.Context, vpsId string, ip string) ApiUpdateVPSIPRequest

	// UpdateVPSIPExecute executes the request
	//  @return IpDetails
	UpdateVPSIPExecute(r ApiUpdateVPSIPRequest) (*IpDetails, *http.Response, error)

	/*
	UpdateVpsCredential Update credentials for a given type and username

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param vpsId VPS ID
	@param type_ Type of credential
	@param username Username
	@return ApiUpdateVpsCredentialRequest
	*/
	UpdateVpsCredential(ctx context.Context, vpsId string, type_ CredentialType, username string) ApiUpdateVpsCredentialRequest

	// UpdateVpsCredentialExecute executes the request
	//  @return UpdateCredentialResult
	UpdateVpsCredentialExecute(r ApiUpdateVpsCredentialRequest) (*UpdateCredentialResult, *http.Response, error)
}

// PubliccloudAPIService PubliccloudAPI service
type PubliccloudAPIService service

type ApiAddToPrivateNetworkRequest struct {
	ctx context.Context
	ApiService PubliccloudAPI
	instanceId string
}

func (r ApiAddToPrivateNetworkRequest) Execute() (*http.Response, error) {
	return r.ApiService.AddToPrivateNetworkExecute(r)
}

/*
AddToPrivateNetwork Add instance to Private Network

Add instance to Private Network.

Cannot be performed when the instance has snapshots.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param instanceId Instance's ID
 @return ApiAddToPrivateNetworkRequest
*/
func (a *PubliccloudAPIService) AddToPrivateNetwork(ctx context.Context, instanceId string) ApiAddToPrivateNetworkRequest {
	return ApiAddToPrivateNetworkRequest{
		ApiService: a,
		ctx: ctx,
		instanceId: instanceId,
	}
}

// Execute executes the request
func (a *PubliccloudAPIService) AddToPrivateNetworkExecute(r ApiAddToPrivateNetworkRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubliccloudAPIService.AddToPrivateNetwork")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/instances/{instanceId}/addToPrivateNetwork"
	localVarPath = strings.Replace(localVarPath, "{"+"instanceId"+"}", url.PathEscape(parameterValueToString(r.instanceId, "instanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAttachInstanceISORequest struct {
	ctx context.Context
	ApiService PubliccloudAPI
	instanceId string
	attachIsoOpts *AttachIsoOpts
}

func (r ApiAttachInstanceISORequest) AttachIsoOpts(attachIsoOpts AttachIsoOpts) ApiAttachInstanceISORequest {
	r.attachIsoOpts = &attachIsoOpts
	return r
}

func (r ApiAttachInstanceISORequest) Execute() (*http.Response, error) {
	return r.ApiService.AttachInstanceISOExecute(r)
}

/*
AttachInstanceISO Attach ISO to a specific Instance

Instance must not have ISO attached, otherwise, it will return a validation error.

Available ISOs can be obtained using `/v1/isos`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param instanceId Instance's ID
 @return ApiAttachInstanceISORequest
*/
func (a *PubliccloudAPIService) AttachInstanceISO(ctx context.Context, instanceId string) ApiAttachInstanceISORequest {
	return ApiAttachInstanceISORequest{
		ApiService: a,
		ctx: ctx,
		instanceId: instanceId,
	}
}

// Execute executes the request
func (a *PubliccloudAPIService) AttachInstanceISOExecute(r ApiAttachInstanceISORequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubliccloudAPIService.AttachInstanceISO")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/instances/{instanceId}/attachIso"
	localVarPath = strings.Replace(localVarPath, "{"+"instanceId"+"}", url.PathEscape(parameterValueToString(r.instanceId, "instanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.attachIsoOpts == nil {
		return nil, reportError("attachIsoOpts is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.attachIsoOpts
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAttachVPSISORequest struct {
	ctx context.Context
	ApiService PubliccloudAPI
	vpsId string
	attachIsoOpts *AttachIsoOpts
}

func (r ApiAttachVPSISORequest) AttachIsoOpts(attachIsoOpts AttachIsoOpts) ApiAttachVPSISORequest {
	r.attachIsoOpts = &attachIsoOpts
	return r
}

func (r ApiAttachVPSISORequest) Execute() (*http.Response, error) {
	return r.ApiService.AttachVPSISOExecute(r)
}

/*
AttachVPSISO Attach ISO to a specific VPS

VPS must not have ISO attached, otherwise, it will return a validation error.

Available ISOs can be obtained using `/v1/isos`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vpsId VPS ID
 @return ApiAttachVPSISORequest
*/
func (a *PubliccloudAPIService) AttachVPSISO(ctx context.Context, vpsId string) ApiAttachVPSISORequest {
	return ApiAttachVPSISORequest{
		ApiService: a,
		ctx: ctx,
		vpsId: vpsId,
	}
}

// Execute executes the request
func (a *PubliccloudAPIService) AttachVPSISOExecute(r ApiAttachVPSISORequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubliccloudAPIService.AttachVPSISO")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/vps/{vpsId}/attachIso"
	localVarPath = strings.Replace(localVarPath, "{"+"vpsId"+"}", url.PathEscape(parameterValueToString(r.vpsId, "vpsId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.attachIsoOpts == nil {
		return nil, reportError("attachIsoOpts is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.attachIsoOpts
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCancelInstanceTerminationRequest struct {
	ctx context.Context
	ApiService PubliccloudAPI
	instanceId string
}

func (r ApiCancelInstanceTerminationRequest) Execute() (*http.Response, error) {
	return r.ApiService.CancelInstanceTerminationExecute(r)
}

/*
CancelInstanceTermination Cancel instance termination

Cancel the termination process of monthly instances. Must be executed prior to the instance's `contractEndsAt`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param instanceId Instance's ID
 @return ApiCancelInstanceTerminationRequest
*/
func (a *PubliccloudAPIService) CancelInstanceTermination(ctx context.Context, instanceId string) ApiCancelInstanceTerminationRequest {
	return ApiCancelInstanceTerminationRequest{
		ApiService: a,
		ctx: ctx,
		instanceId: instanceId,
	}
}

// Execute executes the request
func (a *PubliccloudAPIService) CancelInstanceTerminationExecute(r ApiCancelInstanceTerminationRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubliccloudAPIService.CancelInstanceTermination")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/instances/{instanceId}/cancelTermination"
	localVarPath = strings.Replace(localVarPath, "{"+"instanceId"+"}", url.PathEscape(parameterValueToString(r.instanceId, "instanceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCreateAutoScalingGroupRequest struct {
	ctx context.Context
	ApiService PubliccloudAPI
	createAutoScalingGroupOpts *CreateAutoScalingGroupOpts
}

func (r ApiCreateAutoScalingGroupRequest) CreateAutoScalingGroupOpts(createAutoScalingGroupOpts CreateAutoScalingGroupOpts) ApiCreateAutoScalingGroupRequest {
	r.createAutoScalingGroupOpts = &createAutoScalingGroupOpts
	return r
}

func (r ApiCreateAutoScalingGroupRequest) Execute() (*AutoScalingGroupDetails, *http.Response, error) {
	return r.ApiService.CreateAutoScalingGroupExecute(r)
}

/*
CreateAutoScalingGroup Create Auto Scaling Group

Create an Auto Scaling Group.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateAutoScalingGroupRequest
*/
func (a *PubliccloudAPIService) CreateAutoScalingGroup(ctx context.Context) ApiCreateAutoScalingGroupRequest {
	return ApiCreateAutoScalingGroupRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AutoScalingGroupDetails
func (a *PubliccloudAPIService) CreateAutoScalingGroupExecute(r ApiCreateAutoScalingGroupRequest) (*AutoScalingGroupDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AutoScalingGroupDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubliccloudAPIService.CreateAutoScalingGroup")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/autoScalingGroups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createAutoScalingGroupOpts == nil {
		return localVarReturnValue, nil, reportError("createAutoScalingGroupOpts is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createAutoScalingGroupOpts
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateImageRequest struct {
	ctx context.Context
	ApiService PubliccloudAPI
	createImageOpts *CreateImageOpts
}

func (r ApiCreateImageRequest) CreateImageOpts(createImageOpts CreateImageOpts) ApiCreateImageRequest {
	r.createImageOpts = &createImageOpts
	return r
}

func (r ApiCreateImageRequest) Execute() (*ImageDetails, *http.Response, error) {
	return r.ApiService.CreateImageExecute(r)
}

/*
CreateImage Create Custom Image

Create a Custom Image

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateImageRequest
*/
func (a *PubliccloudAPIService) CreateImage(ctx context.Context) ApiCreateImageRequest {
	return ApiCreateImageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ImageDetails
func (a *PubliccloudAPIService) CreateImageExecute(r ApiCreateImageRequest) (*ImageDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ImageDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PubliccloudAPIService.CreateImage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/images"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createImageOpts == nil {
		return localVarReturnValue, nil, reportError("createImageOpts is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createImageOpts
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
[...]
