openapi: 3.0.0
info:
  contact: {}
  description: |-
    > The base URL for this API is: **https://api.leaseweb.com/publicCloud/v1/**

    This API provides ways to launch and manage Public Cloud instances.

    <div class="badge">BETA</div> This API is in BETA. Documentation might be incorrect or incomplete. Functionality might change with the final release.>
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: LeaseWeb API for launching and managing Public Cloud instances
  version: v1
  x-logo:
    altText: Leaseweb developer documentation
    backgroundColor: '#5484c6'
    href: https://developer.leaseweb.com
    url: https://developer.leaseweb.com/images/logo.png
servers:
- url: https://api.leaseweb.com/publicCloud/v1
security:
- X-LSW-Auth: []
tags:
- description: |
    The API uses standard HTTP status codes to indicate the success or failure of the API call. The response will be JSON. Most APIs use the following format:

    ```json
    {
        "errorCode": "APP00800",
        "errorMessage": "The connection with the DB cannot be established.",
        "correlationId": "550e8400-e29b-41d4-a716-446655440000",
        "userMessage": "Cannot handle your request at the moment. Please try again later.",
        "reference": "https://developer.leaseweb.com/errors/APP00800"
    }
    ```
  name: Errors
  x-traitTag: true
- description: |
    Authentication for the APIs is required. To authenticate your call, you will need to sent your API key as `X-LSW-Auth` header.

    You can generate API keys in the [Customer Portal](https://secure.leaseweb.com/api-client-management/).
  name: API Key Authentication
  x-traitTag: true
- description: ""
  name: Regions
- description: ""
  name: Instance Types
- description: ""
  name: Instances
- description: ""
  name: Power
- description: ""
  name: Credentials
- description: ""
  name: Expenses
- description: ""
  name: ISOs
- description: ""
  name: Images
- description: ""
  name: Target Groups
- description: ""
  name: Marketplace Apps
- description: ""
  name: Metrics
- description: ""
  name: Snapshots
- description: ""
  name: IPs
- description: ""
  name: Private Networks
- description: ""
  name: Load Balancer
- description: ""
  name: Auto Scaling Groups
paths:
  /regions:
    get:
      operationId: getRegionList
      parameters:
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  totalCount: 7
                  limit: 20
                  offset: 0
                regions:
                - name: eu-west-3
                  location: Amsterdam
                - name: eu-central-1
                  location: Frankfurt
                - name: eu-west-2
                  location: London
                - name: ap-southeast-1
                  location: Singapore
                - name: ca-central-1
                  location: Montreal
                - name: us-east-1
                  location: Washington
                - name: us-west-1
                  location: San Francisco
              schema:
                $ref: '#/components/schemas/getRegionListResult'
          description: OK.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: List regions
      tags:
      - publicCloud
  /instanceTypes:
    get:
      description: Get instance types
      operationId: getInstanceTypeList
      parameters:
      - example: eu-west-3
        explode: true
        in: query
        name: region
        required: true
        schema:
          $ref: '#/components/schemas/regionName'
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                instanceTypes:
                - name: lsw.c3.large
                  resources:
                    cpu:
                      value: 2
                      unit: vCPU
                    memory:
                      value: 3
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.0395"
                      monthlyPrice: "26.0200"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.c3.xlarge
                  resources:
                    cpu:
                      value: 4
                      unit: vCPU
                    memory:
                      value: 7
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.0798"
                      monthlyPrice: "52.5000"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.c3.2xlarge
                  resources:
                    cpu:
                      value: 8
                      unit: vCPU
                    memory:
                      value: 15
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.1604"
                      monthlyPrice: "105.4500"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.c3.4xlarge
                  resources:
                    cpu:
                      value: 16
                      unit: vCPU
                    memory:
                      value: 30
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.3203"
                      monthlyPrice: "210.5100"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.m3.large
                  resources:
                    cpu:
                      value: 2
                      unit: vCPU
                    memory:
                      value: 7
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.0447"
                      monthlyPrice: "29.4400"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.m3.xlarge
                  resources:
                    cpu:
                      value: 4
                      unit: vCPU
                    memory:
                      value: 15
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.0902"
                      monthlyPrice: "59.3300"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.m3.2xlarge
                  resources:
                    cpu:
                      value: 8
                      unit: vCPU
                    memory:
                      value: 30
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.1799"
                      monthlyPrice: "118.2700"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.r3.large
                  resources:
                    cpu:
                      value: 2
                      unit: vCPU
                    memory:
                      value: 15.25
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.0555"
                      monthlyPrice: "36.4900"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.r3.xlarge
                  resources:
                    cpu:
                      value: 4
                      unit: vCPU
                    memory:
                      value: 30.5
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.1104"
                      monthlyPrice: "72.5700"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.r3.2xlarge
                  resources:
                    cpu:
                      value: 8
                      unit: vCPU
                    memory:
                      value: 61
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.2202"
                      monthlyPrice: "144.7400"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                _metadata:
                  totalCount: 10
                  limit: 50
                  offset: 0
              schema:
                $ref: '#/components/schemas/instanceTypes'
          description: OK.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: List instance types
      tags:
      - publicCloud
  /instances:
    get:
      description: List and filter instances
      operationId: getInstanceList
      parameters:
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - example: 10.0.0.1
        explode: true
        in: query
        name: ip
        required: false
        schema:
          format: ip
          type: string
        style: form
      - example: my-webserver
        explode: true
        in: query
        name: reference
        required: false
        schema:
          type: string
        style: form
      - example: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
        explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: contractType
        required: false
        schema:
          $ref: '#/components/schemas/contractType'
        style: form
      - explode: true
        in: query
        name: contractState
        required: false
        schema:
          $ref: '#/components/schemas/contractState'
        style: form
      - description: Available Images can be obtained using `/v1/images`.
        example: UBUNTU_22_04_64BIT
        explode: true
        in: query
        name: imageId
        required: false
        schema:
          $ref: '#/components/schemas/imageId'
        style: form
      - description: "The instance's current state(s), separated by commas."
        explode: false
        in: query
        name: state
        required: false
        schema:
          $ref: '#/components/schemas/state'
        style: form
      - description: Available regions can be obtained using `/v1/regions`
        example: eu-west-3
        explode: true
        in: query
        name: region
        required: false
        schema:
          $ref: '#/components/schemas/regionName'
        style: form
      - description: Available instance types for your region can be obtained using
          `/v1/instanceTypes`.
        example: lsw.c3.xlarge
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/typeName'
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  totalCount: 1
                  limit: 20
                  offset: 0
                instances:
                - marketAppId: null
                  productType: INSTANCE
                  autoScalingGroup:
                    cooldownTime: null
                    cpuThreshold: null
                    createdAt: 2024-04-26T09:22:25+00:00
                    desiredAmount: 2
                    endsAt: null
                    id: fb769dab-3daa-47e4-89ed-06a4b6499176
                    maximumAmount: null
                    minimumAmount: null
                    reference: Manual Auto Scaling Group
                    region: eu-west-3
                    startsAt: null
                    state: ACTIVE
                    type: MANUAL
                    updatedAt: 2024-04-26T09:22:25+00:00
                    warmupTime: null
                  id: ace712e9-a166-47f1-9065-4af0f7e7fce1
                  type: lsw.m3.large
                  resources:
                    cpu:
                      value: 16
                      unit: vCPU
                    memory:
                      value: 30
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  region: eu-west-3
                  reference: my webserver
                  image:
                    id: UBUNTU_22_04_64BIT
                    name: Ubuntu 22.04 LTS (x86_64)
                    family: linux
                    flavour: ubuntu
                    custom: false
                  state: RUNNING
                  hasPublicIpV4: true
                  hasPrivateNetwork: false
                  hasUserData: false
                  rootDiskStorageType: CENTRAL
                  rootDiskSize: 10
                  ips:
                  - ip: 10.32.60.12
                    prefixLength: "32"
                    version: 4
                    nullRouted: false
                    reverseLookup: null
                    mainIp: false
                    networkType: INTERNAL
                  startedAt: 2024-04-09T15:11:37+00:00
                  contract:
                    billingFrequency: 1
                    term: 0
                    type: HOURLY
                    endsAt: null
                    renewalsAt: 2024-04-09T15:28:28+00:00
                    createdAt: 2024-04-09T15:11:21+00:00
                    state: ACTIVE
              schema:
                $ref: '#/components/schemas/getInstanceListResult'
          description: OK.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Get instance list
      tags:
      - publicCloud
    post:
      description: "Launch a Public Cloud instance. \n\nAvailable regions can be obtained\
        \ using `/v1/regions`.\n\nAvailable Images can be obtained using `/v1/images`.\n\
        \nAvailable instance types for your region can be obtained using `/v1/instanceTypes`."
      operationId: launchInstance
      requestBody:
        content:
          application/json:
            example:
              billingFrequency: 1
              contractTerm: 0
              contractType: HOURLY
              imageId: UBUNTU_20_04_64BIT
              reference: my-webserver
              region: eu-west-3
              rootDiskSize: 50
              rootDiskStorageType: CENTRAL
              type: lsw.m3.large
              userData: "#cloud-config\n# vim: syntax=yaml\n#\n# This is the configuration\
                \ syntax that the write_files module\n# will know how to understand.\
                \ Encoding can be given b64 or gzip or (gz+b64).\n# The content will\
                \ be decoded accordingly and then written to the path that is\n# provided.\
                \ \n#\n# Note: Content strings here are truncated for example purposes.\n\
                write_files:\n- encoding: b64\n  content: TG9yZW0gaXBzdW0gZG9sb3Igc2l0IGFtZXQsIGNvbnNlY3Rll1cyBtYXhpbXVzLg==\n\
                \  owner: root:root\n  path: /tmp/3.txt\n  permissions: '0644'\n"
            schema:
              $ref: '#/components/schemas/launchInstanceOpts'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                autoScalingGroup: null
                contract:
                  billingFrequency: 1
                  term: 0
                  type: HOURLY
                  endsAt: null
                  renewalsAt: 2024-04-09T15:28:28+00:00
                  createdAt: 2024-04-09T15:11:21+00:00
                  state: ACTIVE
                hasPrivateNetwork: false
                hasPublicIpV4: true
                hasUserData: true
                id: ace712e9-a166-47f1-9065-4af0f7e7fce1
                image:
                  id: UBUNTU_22_04_64BIT
                  name: Ubuntu 22.04 LTS (x86_64)
                  family: linux
                  flavour: ubuntu
                  custom: false
                ips:
                - ip: 10.32.60.12
                  prefixLength: "27"
                  version: 4
                  nullRouted: false
                  reverseLookup: null
                  mainIp: false
                  networkType: INTERNAL
                marketAppId: null
                productType: INSTANCE
                reference: my webserver
                region: eu-west-3
                resources:
                  cpu:
                    value: 2
                    unit: vCPU
                  memory:
                    value: 7
                    unit: GiB
                  publicNetworkSpeed:
                    value: 1
                    unit: Gbps
                  privateNetworkSpeed:
                    value: 100
                    unit: Mbps
                rootDiskSize: 5
                rootDiskStorageType: CENTRAL
                startedAt: null
                state: STOPPED
                type: lsw.m3.large
              schema:
                $ref: '#/components/schemas/instance'
          description: OK
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Launch instance
      tags:
      - publicCloud
  /instances/{instanceId}:
    delete:
      description: Terminate Public Cloud instance
      operationId: terminateInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: "If instance is hourly, it is scheduled for termination immediately,\
            \ otherwise, will be marked for termination at the date specified by the\
            \ instance's field `contractEndAt`"
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Terminate instance
      tags:
      - publicCloud
    get:
      description: Get details about the instance
      operationId: getInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                autoScalingGroup: null
                contract:
                  billingFrequency: 1
                  term: 0
                  type: HOURLY
                  endsAt: null
                  renewalsAt: 2024-04-09T15:28:28+00:00
                  createdAt: 2024-04-09T15:11:21+00:00
                  state: ACTIVE
                hasPrivateNetwork: false
                hasPublicIpV4: true
                hasUserData: false
                id: ace712e9-a166-47f1-9065-4af0f7e7fce1
                image:
                  id: UBUNTU_20_04_64BIT
                  name: Ubuntu 20.04 LTS (x86_64)
                  family: linux
                  flavour: ubuntu
                  custom: false
                ips:
                - ip: 10.32.60.12
                  prefixLength: "27"
                  version: 4
                  reverseLookup: null
                  mainIp: false
                  networkType: INTERNAL
                  nullRouted: false
                  ddos:
                    detectionProfile: STANDARD_DEFAULT
                    protectionType: STANDARD
                iso: null
                marketAppId: null
                privateNetwork: null
                productType: INSTANCE
                reference: my webserver
                region: eu-west-3
                resources:
                  cpu:
                    value: 1
                    unit: vCPU
                  memory:
                    value: 3
                    unit: GiB
                  publicNetworkSpeed:
                    value: 1
                    unit: Gbps
                  privateNetworkSpeed:
                    value: 100
                    unit: Mbps
                rootDiskSize: 5
                rootDiskStorageType: CENTRAL
                startedAt: 2024-04-09T15:11:37+00:00
                state: RUNNING
                type: lsw.m3.large
              schema:
                $ref: '#/components/schemas/instanceDetails'
          description: OK.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Get instance details
      tags:
      - publicCloud
    put:
      description: |-
        Update the instance's reference, type, storage or contract type.

        Eligible instance types for update can be obtained using `/v1/instances/{instanceId}/instanceTypesUpdate`.
      operationId: updateInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              reference:
                summary: Update only reference
                value:
                  reference: new-reference
              type:
                summary: Update only type
                value:
                  type: lsw.m4.xlarge
              type-and-root-disk-size:
                summary: Update type and root disk size from 10 to 20 GB
                value:
                  type: lsw.m4.xlarge
                  rootDiskSize: 20
              type-and-contract-type:
                summary: Update contract type from HOURLY to MONTHLY
                value:
                  contractType: MONTHLY
                  contractTerm: 1
                  billingFrequency: 3
            schema:
              $ref: '#/components/schemas/updateInstanceOpts'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                autoScalingGroup: null
                contract:
                  billingFrequency: 1
                  term: 0
                  type: HOURLY
                  endsAt: null
                  renewalsAt: 2024-04-09T15:28:28+00:00
                  createdAt: 2024-04-09T15:11:21+00:00
                  state: ACTIVE
                hasPrivateNetwork: false
                hasPublicIpV4: true
                hasUserData: false
                id: ace712e9-a166-47f1-9065-4af0f7e7fce1
                image:
                  id: UBUNTU_20_04_64BIT
                  name: Ubuntu 20.04 LTS (x86_64)
                  family: linux
                  flavour: ubuntu
                  custom: false
                ips:
                - ip: 10.32.60.12
                  prefixLength: "27"
                  version: 4
                  reverseLookup: null
                  mainIp: false
                  networkType: INTERNAL
                  nullRouted: false
                  ddos:
                    detectionProfile: STANDARD_DEFAULT
                    protectionType: STANDARD
                iso: null
                marketAppId: null
                privateNetwork: null
                productType: INSTANCE
                reference: my webserver
                region: eu-west-3
                resources:
                  cpu:
                    value: 1
                    unit: vCPU
                  memory:
                    value: 3
                    unit: GiB
                  publicNetworkSpeed:
                    value: 1
                    unit: Gbps
                  privateNetworkSpeed:
                    value: 100
                    unit: Mbps
                rootDiskSize: 5
                rootDiskStorageType: CENTRAL
                startedAt: 2024-04-09T15:11:37+00:00
                state: RUNNING
                type: lsw.m3.large
              schema:
                $ref: '#/components/schemas/instanceDetails'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Update instance
      tags:
      - publicCloud
  /instances/{instanceId}/cancelTermination:
    post:
      description: Cancel the termination process of monthly instances. Must be executed
        prior to the instance's `contractEndsAt`.
      operationId: cancelInstanceTermination
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No content. Cancellation has been cancelled and contract is
            reinstated.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Cancel instance termination
      tags:
      - publicCloud
  /instances/{instanceId}/start:
    post:
      description: The instance must be stopped before the execution
      operationId: startInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Request has been accepted and instance is going to be started
            soon
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Start instance
      tags:
      - publicCloud
  /instances/{instanceId}/stop:
    post:
      description: The instance must be running before the execution
      operationId: stopInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Request has been accepted and instance is going to be stopped
            soon
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Stop instance
      tags:
      - publicCloud
  /instances/{instanceId}/reboot:
    post:
      description: The instance must be running before the execution
      operationId: rebootInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Request has been accepted and instance is going to be rebooted
            soon
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Reboot instance
      tags:
      - publicCloud
  /instances/{instanceId}/console:
    get:
      description: Get console access to the instance
      operationId: getConsoleAccessToInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                url: https://public-cloud.leaseweb.com/resource/noVNC/vnc.html?autoconnect=true&port=8080&token=dvoPyDxbBl8LC9OsXI55CmAUmUA50lY19b0/v/7jrA6VkrdflVWw8S2XuxDZrBaaSo4XdBAYmpfqC0kUr2aOVHjMlGFb6movdnKNxvMOEmC0spwU9XbdZJrWXzGicCLT4X4GMxgN13nn1oDQb8k9ag2rMMxENyiPZ3bbV1iGuL4cWLEMad8hHFXjJ7P2MvbnpiasXK5wKuHadrR76778ZM22xxzvjarg9S6bAWziH1u3VdKIQyJMIrDmAdjYRqL1IHqrN+uLrY6WPzv+s51lnNYd0zeQtB7YWBZup8VDcZSt5C0GrYnZx3Vh4fXWOOsFlWZgdEGKf9oM9y9RX2G/jLlVeVv4LmVCN02GRr7SAfyx8WcuWGXS7WsxpXTzdxWEm9EMZDrPQhFiZKo20PXRdgT6KbdnqCI/j8z5iPAKGO3YI5BcK5sUdhHgFUMNgJUw/qhz71/xivIP8UKrWVgZMRWXmt6hNWIeHLqrdZ0n5m9It4Os8UaKgeBvwlFTpzNTUWxvoI0+2sa8GAmW3RCe9mfK3xvW/iy1MZ651cALLVmoj6imZl7K7P33iQ==
              schema:
                $ref: '#/components/schemas/getConsoleAccessToInstanceResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Get console access
      tags:
      - publicCloud
  /instances/{instanceId}/instanceTypesUpdate:
    get:
      description: Get available instance types for update
      operationId: getUpdateInstanceTypeList
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                instanceTypes:
                - name: lsw.c3.large
                  resources:
                    cpu:
                      value: 2
                      unit: vCPU
                    memory:
                      value: 3
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.0395"
                      monthlyPrice: "26.0200"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.c3.xlarge
                  resources:
                    cpu:
                      value: 4
                      unit: vCPU
                    memory:
                      value: 7
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.0798"
                      monthlyPrice: "52.5000"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.c3.2xlarge
                  resources:
                    cpu:
                      value: 8
                      unit: vCPU
                    memory:
                      value: 15
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.1604"
                      monthlyPrice: "105.4500"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.c3.4xlarge
                  resources:
                    cpu:
                      value: 16
                      unit: vCPU
                    memory:
                      value: 30
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.3203"
                      monthlyPrice: "210.5100"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.m3.large
                  resources:
                    cpu:
                      value: 2
                      unit: vCPU
                    memory:
                      value: 7
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.0447"
                      monthlyPrice: "29.4400"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.m3.xlarge
                  resources:
                    cpu:
                      value: 4
                      unit: vCPU
                    memory:
                      value: 15
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.0902"
                      monthlyPrice: "59.3300"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.m3.2xlarge
                  resources:
                    cpu:
                      value: 8
                      unit: vCPU
                    memory:
                      value: 30
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.1799"
                      monthlyPrice: "118.2700"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.r3.large
                  resources:
                    cpu:
                      value: 2
                      unit: vCPU
                    memory:
                      value: 15.25
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.0555"
                      monthlyPrice: "36.4900"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.r3.xlarge
                  resources:
                    cpu:
                      value: 4
                      unit: vCPU
                    memory:
                      value: 30.5
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.1104"
                      monthlyPrice: "72.5700"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                - name: lsw.r3.2xlarge
                  resources:
                    cpu:
                      value: 8
                      unit: vCPU
                    memory:
                      value: 61
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.2202"
                      monthlyPrice: "144.7400"
                    storage:
                      local:
                        hourlyPrice: "0.00004"
                        monthlyPrice: "0.03000"
                      central:
                        hourlyPrice: "0.00011"
                        monthlyPrice: "0.08000"
                  storageTypes:
                  - CENTRAL
                _metadata:
                  totalCount: 10
                  limit: 50
                  offset: 0
              schema:
                $ref: '#/components/schemas/instanceTypes'
          description: OK.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: List available instance types for update
      tags:
      - publicCloud
  /instances/{instanceId}/credentials:
    delete:
      description: Delete all credentials stored for a given instance
      operationId: deleteCredentials
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No content.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Delete all instance credentials
      tags:
      - publicCloud
    get:
      description: Get all credentials stored for the instance
      operationId: getCredentialList
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  totalCount: 1
                  limit: 20
                  offset: 0
                credentials:
                - type: OPERATING_SYSTEM
                  username: root
              schema:
                $ref: '#/components/schemas/getCredentialListResult'
          description: OK.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: List credentials stored for instance
      tags:
      - publicCloud
    post:
      description: Store credential used for the instance
      operationId: storeCredential
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              password: a$Ndes-3fad2-rfas@-
              type: OPERATING_SYSTEM
              username: another-user
            schema:
              $ref: '#/components/schemas/storeCredentialOpts'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                password: a$Ndes-3fad2-rfas@-
                type: OPERATING_SYSTEM
                username: another-user
              schema:
                $ref: '#/components/schemas/storeCredentialResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Store credentials
      tags:
      - publicCloud
  /instances/{instanceId}/credentials/{type}:
    get:
      description: Get credentials stored for the instance by their types
      operationId: getCredentialListByType
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - example: OPERATING_SYSTEM
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  totalCount: 1
                  limit: 20
                  offset: 0
                credentials:
                - type: OPERATING_SYSTEM
                  username: root
              schema:
                $ref: '#/components/schemas/getCredentialListByTypeResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Get credentials by type
      tags:
      - publicCloud
  /instances/{instanceId}/credentials/{type}/{username}:
    delete:
      description: Delete credential for a given type and username
      operationId: deleteCredential
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credential type
        example: OPERATING_SYSTEM
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        example: root
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Delete credentials
      tags:
      - publicCloud
    get:
      description: Get credentials by type and username
      operationId: getCredential
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credential type
        example: OPERATING_SYSTEM
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        example: root
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                password: "12341234"
                type: OPERATING_SYSTEM
                username: root
              schema:
                $ref: '#/components/schemas/getCredentialResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Get credentials by type and username
      tags:
      - publicCloud
    put:
      description: Update credentials for a given type and username
      operationId: updateCredential
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credential type
        example: OPERATING_SYSTEM
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        example: root
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              password: '@-n3w-Pa$$w0rD'
            schema:
              $ref: '#/components/schemas/updateCredentialOpts'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                password: '@-n3w-Pa$$w0rD'
                type: OPERATING_SYSTEM
                username: another-user
              schema:
                $ref: '#/components/schemas/updateCredentialResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Update credentials
      tags:
      - publicCloud
  /instances/{instanceId}/resetPassword:
    post:
      description: |-
        The operation may take a few moments to complete.

        You can obtain the new credential using the credentials endpoints
      operationId: resetPassword
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: "Accepted. Reinstall process has started, it may take a few\
            \ moments to complete."
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Reset instance password
      tags:
      - publicCloud
  /equipments/{equipmentId}/expenses:
    get:
      operationId: getExpenses
      parameters:
      - description: Equipment's UUID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: equipmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Start date of the period to get costs for. It must be the first
          day of the month
        example: 2023-11-01
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "End date of the period to get costs for. This date needs to\
          \ be exactly one month after the 'from' date. If this value is not passed,\
          \ it will be calculated based on 'from' parameter"
        example: 2023-12-01
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                billing:
                  instances:
                  - id: b778824a-a96e-4f6f-9713-7b7196f09c4f
                    reference: test-instance
                    resources:
                      cpu:
                        value: 2
                        unit: vCPU
                      memory:
                        value: 8
                        unit: GB
                      publicNetworkSpeed:
                        value: 5
                        unit: Gbps
                      privateNetworkSpeed:
                        value: 1000
                        unit: Mbps
[...]
