openapi: 3.0.0
info:
  description: |-
    > The base URL for this API is: **https://api.leaseweb.com/publicCloud/v1/**

    This API provides ways to launch and manage Public Cloud instances.

    <div class="badge">BETA</div> This API is in BETA. Documentation might be incorrect or incomplete. Functionality might change with the final release.>
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: LeaseWeb API for launching and managing Public Cloud instances
  version: v1
  x-logo:
    url: /images/logo.png
    altText: Leaseweb developer documentation
    backgroundColor: '#5484c6'
    href: https://developer.leaseweb.com
servers:
- url: https://api.leaseweb.com/publicCloud/v1
security:
- OAuth2: []
- BearerAuth: []
- ApiKeyAuth: []
tags:
- description: |
    The API uses standard HTTP status codes to indicate the success or failure of the API call. The response will be JSON. Most APIs use the following format:

    ```
    {
    "errorCode" : "APP00800",
    "errorMessage" : "The connection with the DB cannot be established.",
    "correlationId" : "550e8400-e29b-41d4-a716-446655440000",
    "userMessage" : "Cannot handle your request at the moment. Please try again later.",
    "reference" : "https://developer.leaseweb.com/errors/APP00800"
    }
    ```
  name: Errors
  x-traitTag: true
- description: |-
    Authentication for the APIs is required. To authenticate your call, you will need to sent your API key as `X-LSW-Auth` header.

    You can generate API keys in the [Customer Portal](https://secure.leaseweb.com/api-client-management/).
  name: Authentication
  x-traitTag: true
paths:
  /regions:
    get:
      operationId: regions/list
      parameters:
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                regions:
                - name: eu-west-3
                  location: Amsterdam
                - name: eu-central-1
                  location: Frankfurt
                - name: eu-west-2
                  location: London
                - name: ap-southeast-1
                  location: Singapore
                - name: ca-central-1
                  location: Montreal
                - name: us-east-1
                  location: Washington
                - name: us-west-1
                  location: San Francisco
                _metadata:
                  totalCount: 7
                  limit: 20
                  offset: 0
              schema:
                $ref: '#/components/schemas/getRegionListResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: List regions
      tags:
      - publicCloud
  /instanceTypes:
    get:
      description: Get instance types
      operationId: getInstanceTypeList
      parameters:
      - explode: true
        in: query
        name: region
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                instanceTypes:
                - name: lsw.c3.xlarge
                  resources:
                    cpu:
                      value: 4
                      unit: vCPU
                    memory:
                      value: 7
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    currency: EUR
                    currencySymbol: €
                    compute:
                      hourlyPrice: "0.0798"
                      monthlyPrice: "52.5"
                    storage:
                      local:
                        hourlyPrice: "0.0001"
                        monthlyPrice: "0.03"
                      central:
                        hourlyPrice: "0.0001"
                        monthlyPrice: "0.08"
                  storageTypes:
                  - CENTRAL
                  - LOCAL
                _metadata:
                  totalCount: 74
                  limit: 1
                  offset: 1
              schema:
                $ref: '#/components/schemas/getInstanceTypeListResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: List instance types
      tags:
      - publicCloud
  /instances:
    get:
      description: List and filter instances
      operationId: instance/list
      parameters:
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - example: 10.0.0.1
        explode: true
        in: query
        name: ip
        required: false
        schema:
          format: ip
          type: string
        style: form
      - example: my-webserver
        explode: true
        in: query
        name: reference
        required: false
        schema:
          type: string
        style: form
      - example: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
        explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "Using this parameter, you can filter by id, reference or IP."
        example: my-webserver
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - example: HOURLY
        explode: true
        in: query
        name: contractType
        required: false
        schema:
          enum:
          - HOURLY
          - MONTHLY
          type: string
        style: form
      - example: RUNNING
        explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - RUNNING
          - STARTING
          - STOPPED
          - STOPPING
          - CREATING
          - DESTROYED
          - DESTROYING
          type: string
        style: form
      - description: Available regions can be found using the List Regions endpoint.
        example: eu-west-3
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      - description: Available instance types can be found using the List Instance
          Types endpoint.
        example: lsw.c3.xlarge
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                instances:
                - customerId: "11111111"
                  id: 5fd135a9-3ff6-4794-8b92-8cd8747a3ea3
                  type: lsw.c3.4xlarge
                  resources:
                    cpu:
                      value: 16
                      unit: vCPU
                    memory:
                      value: 30
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  region: eu-west-3
                  reference: my-webserver
                  operatingSystem:
                    id: UBUNTU_22_04_64BIT
                    name: Ubuntu 22.04 LTS (x86_64)
                    version: "22.04"
                    family: linux
                    flavour: ubuntu
                    architecture: x86_64
                  state: RUNNING
                  hasPublicIpV4: true
                  hasPrivateNetwork: false
                  rootDiskSize: 10
                  ips:
                  - ip: 85.99.99.99
                    prefixLength: "28"
                    version: 4
                    nullRouted: false
                    reverseLookup: null
                    mainIp: false
                    ddos:
                      detectionProfile: STANDARD_DEFAULT
                      protectionType: STANDARD
                  billingFrequency: 3
                  contractTerm: 3
                  contractType: MONTHLY
                  contractEndsAt: 2024-02-01T00:00:00+00:00
                  startedAt: 2023-10-26T08:17:33+00:00
                  contractRenewalsAt: 2024-02-01T00:00:00+00:00
                  contractCreatedAt: 2023-10-26T08:17:19+00:00
                _metadata:
                  totalCount: 1
                  limit: 20
                  offset: 0
              schema:
                $ref: '#/components/schemas/getInstanceListResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Get instance list
      tags:
      - publicCloud
    post:
      description: "Launch a Public Cloud instance. \n\nAvailable regions can be obtained\
        \ using `/v1/regions`.\n\nAvailable Operating Systems can be obtained using\
        \ `/v1/operatingSystems`.\n\nAvailable instance types for your region can\
        \ be obtained using `/v1/instanceTypes`."
      operationId: launchInstance
      requestBody:
        content:
          application/json:
            example:
              type: lsw.m3.large
              region: eu-west-3
              operatingSystemId: UBUNTU_20_04_64BIT
              reference: my-webserver
              contractTerm: 0
              billingFrequency: 1
              contractType: HOURLY
              rootDiskSize: 50
              rootDiskStorageType: CENTRAL
            schema:
              $ref: '#/components/schemas/launchInstanceOpts'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                customerId: "111111111"
                id: 15ca75e3-5b36-44af-98fe-e96cf402d17e
                type: lsw.m3.large
                resources:
                  cpu:
                    value: 1
                    unit: vCPU
                  memory:
                    value: 3
                    unit: GiB
                  publicNetworkSpeed:
                    value: 1
                    unit: Gbps
                  privateNetworkSpeed:
                    value: 100
                    unit: Mbps
                region: eu-west-3
                reference: web server
                operatingSystem:
                  id: UBUNTU_20_04_64BIT
                  name: Ubuntu 20.04 LTS (x86_64)
                  version: "20.04"
                  family: linux
                  flavour: ubuntu
                  architecture: x86_64
                state: CREATING
                publicIpV4: true
                privateNetwork: false
                startedAt: null
                rootDiskSize: 5
                rootDiskStorageType: CENTRAL
                ips: []
                billingFrequency: 1
                contractTerm: 0
                contractType: HOURLY
                contractEndsAt: null
                contractRenewalsAt: 2023-10-30T16:39:09+00:00
                contractCreatedAt: 2023-10-30T16:39:09+00:00
                iso: null
                marketAppId: null
              schema:
                $ref: '#/components/schemas/launchInstanceCreatedResult'
          description: OK
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Launch instance
      tags:
      - publicCloud
  /instances/{instanceId}:
    delete:
      description: Terminate Public Cloud instance
      operationId: terminateInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: "If instance is hourly, it is scheduled for termination immediately,\
            \ otherwise, will be marked for termination at the date specified by the\
            \ instance's field `contractEndAt`"
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Terminate instance
      tags:
      - publicCloud
    get:
      description: Get details about the instance
      operationId: getInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                customerId: "11111111"
                id: 5fd135a9-3ff6-4794-8b92-8cd8747a3ea3
                type: lsw.c3.4xlarge
                resources:
                  cpu:
                    value: 16
                    unit: vCPU
                  memory:
                    value: 30
                    unit: GiB
                  publicNetworkSpeed:
                    value: 1
                    unit: Gbps
                  privateNetworkSpeed:
                    value: 100
                    unit: Mbps
                region: eu-west-3
                reference: my-webserver
                operatingSystem:
                  id: UBUNTU_22_04_64BIT
                  name: Ubuntu 22.04 LTS (x86_64)
                  version: "22.04"
                  family: linux
                  flavour: ubuntu
                  architecture: x86_64
                state: RUNNING
                hasPublicIpV4: true
                hasPrivateNetwork: false
                rootDiskSize: 10
                ips:
                - ip: 85.99.99.99
                  prefixLength: "28"
                  version: 4
                  nullRouted: false
                  reverseLookup: null
                  mainIp: false
                  ddos:
                    detectionProfile: STANDARD_DEFAULT
                    protectionType: STANDARD
                billingFrequency: 3
                contractTerm: 3
                contractType: MONTHLY
                contractEndsAt: 2024-02-01T00:00:00+00:00
                startedAt: 2023-10-26T08:17:33+00:00
                contractRenewalsAt: 2024-02-01T00:00:00+00:00
                contractCreatedAt: 2023-10-26T08:17:19+00:00
                iso: null
                privateNetwork:
                  privateNetworkId: "1234"
                  status: CONFIGURED
                  subnet: 10.0.0.0/27
              schema:
                $ref: '#/components/schemas/getInstanceResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Get instance details
      tags:
      - publicCloud
    put:
      description: |-
        Update the instance's reference, type, storage or contract type.

        Eligible instance types for update can be obtained using `/v1/instances/{instanceId}/instanceTypesUpdate`.
      operationId: updateInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              reference:
                summary: Update only reference
                value:
                  reference: new-reference
              type:
                summary: Update only type
                value:
                  type: lsw.m4.xlarge
              type-and-root-disk-size:
                summary: Update type and root disk size from 10 to 20 GB
                value:
                  type: lsw.m4.xlarge
                  rootDiskSize: 20
              type-and-contract-type:
                summary: Update contract type from HOURLY to MONTHLY
                value:
                  contractType: MONTHLY
                  contractTerm: 1
                  billingFrequency: 3
            schema:
              $ref: '#/components/schemas/updateInstanceOpts'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                customerId: "111111111"
                salesOrgId: "2000"
                id: 15ca75e3-5b36-44af-98fe-e96cf402d17e
                type: lsw.m3.large
                resources:
                  cpu:
                    value: 1
                    unit: vCPU
                  memory:
                    value: 3
                    unit: GiB
                  publicNetworkSpeed:
                    value: 1
                    unit: Gbps
                  privateNetworkSpeed:
                    value: 100
                    unit: Mbps
                region: eu-west-3
                reference: web server
                operatingSystem:
                  id: UBUNTU_20_04_64BIT
                  name: Ubuntu 20.04 LTS (x86_64)
                  version: "20.04"
                  family: linux
                  flavour: ubuntu
                  architecture: x86_64
                state: RUNNING
                publicIpV4: true
                privateNetwork: false
                startedAt: null
                rootDiskSize: 5
                ips:
                - ip: 85.99.99.99
                  prefixLength: "28"
                  version: 4
                  nullRouted: false
                  reverseLookup: null
                  mainIp: false
                  ddos:
                    detectionProfile: STANDARD_DEFAULT
                    protectionType: STANDARD
                billingFrequency: 1
                contractTerm: 0
                contractType: HOURLY
                contractEndsAt: null
                contractRenewalsAt: 2023-10-30T16:39:09+00:00
                contractCreatedAt: 2023-10-30T16:39:09+00:00
                iso: null
              schema:
                $ref: '#/components/schemas/updateInstanceResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Update instance
      tags:
      - publicCloud
  /instances/{instanceId}/cancelTermination:
    post:
      description: Cancel the termination process of monthly instances. Must be executed
        prior to the instance's `contractEndsAt`.
      operationId: cancelInstanceTermination
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No content. Cancellation has been cancelled and contract is
            reinstated.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Cancel instance termination
      tags:
      - publicCloud
  /instances/{instanceId}/start:
    post:
      description: The instance must be stopped before the execution
      operationId: startInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Request has been accepted and instance is going to be started
            soon
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Start instance
      tags:
      - publicCloud
  /instances/{instanceId}/stop:
    post:
      description: The instance must be running before the execution
      operationId: stopInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Request has been accepted and instance is going to be stopped
            soon
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Stop instance
      tags:
      - publicCloud
  /instances/{instanceId}/reboot:
    post:
      description: The instance must be running before the execution
      operationId: rebootInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Request has been accepted and instance is going to be rebooted
            soon
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Reboot instance
      tags:
      - publicCloud
  /instances/{instanceId}/console:
    get:
      description: Get console access to the instance
      operationId: getConsoleAccessToInstance
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                url: http://public-cloud.leaseweb.com/resource/noVNC/vnc.html?autoconnect=true&port=8080&token=dvoPyDxbBl8LC9OsXI55CmAUmUA50lY19b0/v/7jrA6VkrdflVWw8S2XuxDZrBaaSo4XdBAYmpfqC0kUr2aOVHjMlGFb6movdnKNxvMOEmC0spwU9XbdZJrWXzGicCLT4X4GMxgN13nn1oDQb8k9ag2rMMxENyiPZ3bbV1iGuL4cWLEMad8hHFXjJ7P2MvbnpiasXK5wKuHadrR76778ZM22xxzvjarg9S6bAWziH1u3VdKIQyJMIrDmAdjYRqL1IHqrN+uLrY6WPzv+s51lnNYd0zeQtB7YWBZup8VDcZSt5C0GrYnZx3Vh4fXWOOsFlWZgdEGKf9oM9y9RX2G/jLlVeVv4LmVCN02GRr7SAfyx8WcuWGXS7WsxpXTzdxWEm9EMZDrPQhFiZKo20PXRdgT6KbdnqCI/j8z5iPAKGO3YI5BcK5sUdhHgFUMNgJUw/qhz71/xivIP8UKrWVgZMRWXmt6hNWIeHLqrdZ0n5m9It4Os8UaKgeBvwlFTpzNTUWxvoI0+2sa8GAmW3RCe9mfK3xvW/iy1MZ651cALLVmoj6imZl7K7P33iQ==
              schema:
                $ref: '#/components/schemas/getConsoleAccessToInstanceResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Get console access
      tags:
      - publicCloud
  /instances/{instanceId}/instanceTypesUpdate:
    get:
      description: Get available instance types for update
      operationId: getUpdateInstanceTypeList
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                instanceTypes:
                - name: lsw.m3.xlarge
                  resources:
                    cpu:
                      value: 4
                      unit: vCPU
                    memory:
                      value: 15
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    eu-west-2:
                      currency: GBP
                      currencySymbol: £
                      compute:
                        hourlyPrice: "0.0783"
                        monthlyPrice: "51.5000"
                      storage:
                        local:
                          hourlyPrice: "0.00004"
                          monthlyPrice: "0.02604"
                        central:
                          hourlyPrice: "0.00010"
                          monthlyPrice: "0.06944"
                    ca-central-1:
                      currency: CAD
                      currencySymbol: CA$
                      compute:
                        hourlyPrice: "0.1347"
                        monthlyPrice: "88.5800"
                      storage:
                        local:
                          hourlyPrice: "0.00006"
                          monthlyPrice: "0.04479"
                        central:
                          hourlyPrice: "0.00016"
                          monthlyPrice: "0.11944"
                    eu-west-3:
                      currency: EUR
                      currencySymbol: €
                      compute:
                        hourlyPrice: "0.0902"
                        monthlyPrice: "59.3300"
                      storage:
                        local:
                          hourlyPrice: "0.00004"
                          monthlyPrice: "0.03000"
                        central:
                          hourlyPrice: "0.00011"
                          monthlyPrice: "0.08000"
                    eu-central-1:
                      currency: EUR
                      currencySymbol: €
                      compute:
                        hourlyPrice: "0.0902"
                        monthlyPrice: "59.3300"
                      storage:
                        local:
                          hourlyPrice: "0.00004"
                          monthlyPrice: "0.03000"
                        central:
                          hourlyPrice: "0.00011"
                          monthlyPrice: "0.08000"
                    us-east-1:
                      currency: USD
                      currencySymbol: $
                      compute:
                        hourlyPrice: "0.0986"
                        monthlyPrice: "64.7900"
                      storage:
                        local:
                          hourlyPrice: "0.00004"
                          monthlyPrice: "0.03276"
                        central:
                          hourlyPrice: "0.00012"
                          monthlyPrice: "0.08736"
                    us-west-1:
                      currency: USD
                      currencySymbol: $
                      compute:
                        hourlyPrice: "0.0986"
                        monthlyPrice: "64.7900"
                      storage:
                        local:
                          hourlyPrice: "0.00004"
                          monthlyPrice: "0.03276"
                        central:
                          hourlyPrice: "0.00012"
                          monthlyPrice: "0.08736"
                    ap-southeast-1:
                      currency: SGD
                      currencySymbol: S$
                      compute:
                        hourlyPrice: "0.1318"
                        monthlyPrice: "86.6300"
                      storage:
                        local:
                          hourlyPrice: "0.00006"
                          monthlyPrice: "0.04380"
                        central:
                          hourlyPrice: "0.00016"
                          monthlyPrice: "0.11680"
                  storageTypes: null
                - name: lsw.m3.2xlarge
                  resources:
                    cpu:
                      value: 8
                      unit: vCPU
                    memory:
                      value: 30
                      unit: GiB
                    publicNetworkSpeed:
                      value: 1
                      unit: Gbps
                    privateNetworkSpeed:
                      value: 100
                      unit: Mbps
                  prices:
                    eu-west-2:
                      currency: GBP
                      currencySymbol: £
                      compute:
                        hourlyPrice: "0.1562"
                        monthlyPrice: "102.6500"
                      storage:
                        local:
                          hourlyPrice: "0.00004"
                          monthlyPrice: "0.02604"
                        central:
                          hourlyPrice: "0.00010"
                          monthlyPrice: "0.06944"
                    ca-central-1:
                      currency: CAD
                      currencySymbol: CA$
                      compute:
                        hourlyPrice: "0.2687"
                        monthlyPrice: "176.5700"
                      storage:
                        local:
                          hourlyPrice: "0.00006"
                          monthlyPrice: "0.04479"
                        central:
                          hourlyPrice: "0.00016"
                          monthlyPrice: "0.11944"
                    eu-west-3:
                      currency: EUR
                      currencySymbol: €
                      compute:
                        hourlyPrice: "0.1799"
                        monthlyPrice: "118.2700"
                      storage:
                        local:
                          hourlyPrice: "0.00004"
                          monthlyPrice: "0.03000"
                        central:
                          hourlyPrice: "0.00011"
                          monthlyPrice: "0.08000"
                    eu-central-1:
                      currency: EUR
                      currencySymbol: €
                      compute:
                        hourlyPrice: "0.1799"
                        monthlyPrice: "118.2700"
                      storage:
                        local:
                          hourlyPrice: "0.00004"
                          monthlyPrice: "0.03000"
                        central:
                          hourlyPrice: "0.00011"
                          monthlyPrice: "0.08000"
                    us-east-1:
                      currency: USD
                      currencySymbol: $
                      compute:
                        hourlyPrice: "0.1965"
                        monthlyPrice: "129.1500"
                      storage:
                        local:
                          hourlyPrice: "0.00004"
                          monthlyPrice: "0.03276"
                        central:
                          hourlyPrice: "0.00012"
                          monthlyPrice: "0.08736"
                    us-west-1:
                      currency: USD
                      currencySymbol: $
                      compute:
                        hourlyPrice: "0.1965"
                        monthlyPrice: "129.1500"
                      storage:
                        local:
                          hourlyPrice: "0.00004"
                          monthlyPrice: "0.03276"
                        central:
                          hourlyPrice: "0.00012"
                          monthlyPrice: "0.08736"
                    ap-southeast-1:
                      currency: SGD
                      currencySymbol: S$
                      compute:
                        hourlyPrice: "0.2627"
                        monthlyPrice: "172.6700"
                      storage:
                        local:
                          hourlyPrice: "0.00006"
                          monthlyPrice: "0.04380"
                        central:
                          hourlyPrice: "0.00016"
                          monthlyPrice: "0.11680"
                  storageTypes: null
                _metadata:
                  totalCount: 2
                  limit: 50
                  offset: 0
              schema:
                $ref: '#/components/schemas/getUpdateInstanceTypeListResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: List available instance types for update
      tags:
      - publicCloud
  /instances/{instanceId}/credentials:
    delete:
      description: Delete all credentials stored for a given instance
      operationId: credentials/delete
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No content.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Delete all instance credentials
      tags:
      - publicCloud
    get:
      description: Get all credentials stored for the instance
      operationId: getCredentialList
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                credentials:
                - type: OPERATING_SYSTEM
                  username: root
                _metadata:
                  totalCount: 1
                  limit: 20
                  offset: 0
              schema:
                $ref: '#/components/schemas/getCredentialListResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: List credentials stored for instance
      tags:
      - publicCloud
    post:
      description: Store credential used for the instance
      operationId: storeCredential
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              type: OPERATING_SYSTEM
              username: another-user
              password: a$Ndes-3fad2-rfas@-
            schema:
              $ref: '#/components/schemas/storeCredentialOpts'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                type: OPERATING_SYSTEM
                username: another-user
                password: a$Ndes-3fad2-rfas@-
              schema:
                $ref: '#/components/schemas/storeCredentialResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Store credentials
      tags:
      - publicCloud
  /instances/{instanceId}/credentials/{type}:
    get:
      description: Get credentials stored for the instance by their types
      operationId: getCredentialListByType
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - example: OPERATING_SYSTEM
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                credentials:
                - type: OPERATING_SYSTEM
                  username: root
                _metadata:
                  totalCount: 1
                  limit: 20
                  offset: 0
              schema:
                $ref: '#/components/schemas/getCredentialListByTypeResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Get credentials by type
      tags:
      - publicCloud
  /instances/{instanceId}/credentials/{type}/{username}:
    delete:
      description: Delete credential for a given type and username
      operationId: deleteCredential
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credential type
        example: OPERATING_SYSTEM
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        example: root
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Delete credentials
      tags:
      - publicCloud
    get:
      description: Get credentials by type and username
      operationId: getCredential
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credential type
        example: OPERATING_SYSTEM
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        example: root
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                type: OPERATING_SYSTEM
                username: root
                password: "12341234"
              schema:
                $ref: '#/components/schemas/getCredentialResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Get credentials by type and username
      tags:
      - publicCloud
    put:
      description: Update credentials for a given type and username
      operationId: updateCredential
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Credential type
        example: OPERATING_SYSTEM
        explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      - description: Username
        example: root
        explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              password: '@-n3w-Pa$$w0rD'
            schema:
              $ref: '#/components/schemas/updateCredentialOpts'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                type: OPERATING_SYSTEM
                username: another-user
                password: '@-n3w-Pa$$w0rD'
              schema:
                $ref: '#/components/schemas/updateCredentialResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Update credentials
      tags:
      - publicCloud
  /instances/{instanceId}/resetPassword:
    post:
      description: |-
        The operation may take a few moments to complete.

        You can obtain the new credential using the credentials endpoints
      operationId: resetPassword
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: "Accepted. Reinstall process has started, it may take a few\
            \ moments to complete."
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Reset instance password
      tags:
      - publicCloud
  /equipments/{equipmentId}/expenses:
    get:
      operationId: getExpenses
      parameters:
      - description: Equipment's UUID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: equipmentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Start date of the period to get costs for. It must be the first
          day of the month
        example: 2023-11-01
        explode: true
        in: query
        name: from
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "End date of the period to get costs for. This date needs to\
          \ be exactly one month after the 'from' date. If this value is not passed,\
          \ it will be calculated based on 'from' parameter"
        example: 2023-12-01
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                billing:
                  instances:
                  - id: b778824a-a96e-4f6f-9713-7b7196f09c4f
                    reference: test-instance
                    resources:
                      cpu:
                        value: 2
                        unit: vCPU
                      memory:
                        value: 8
                        unit: GB
                      publicNetworkSpeed:
                        value: 5
                        unit: Gbps
                      privateNetworkSpeed:
                        value: 1000
                        unit: Mbps
                    contractType: HOURLY
                    contractCreatedAt: 2023-11-30T16:31:28+00:00
                    startedAt: 2023-11-30T16:31:46+00:00
                    contractTerm: 0
                    billingFrequency: 1
                    rootDiskSize: 15
                    billingType: POSTPAID
                    hours: 14
                    from: 2023-12-01T00:00:00+00:00
                    to: 2023-12-01T13:18:41+00:00
                    rootDiskType: CENTRAL
                    price: "0.72"
                  traffic:
                    unit: GB
                    values:
                      tier_0:
                        usage: 1000
                        price: 0
                      tier_1:
                        usage: 10000
                        price: 15.54
                      tier_2:
                        usage: 10000
                        price: 13.45
                      tier_3:
                        usage: 34.5
                        price: 2.34
              schema:
                $ref: '#/components/schemas/getExpensesResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: Get costs for a given month.
      tags:
      - publicCloud
  /instances/{instanceId}/firewall:
    get:
      description: List firewall rules
      operationId: getFirewallRuleList
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                firewallRules:
                - id: 7e59b33d-05f3-4078-b251-c7831ae8fe14
                  name: null
                  protocol: ALL
                  cidr: 0.0.0.0/0
                  startPort: 80
                  endPort: 80
                  icmpCode: null
                  icmpType: null
                - id: 2538aac0-bae3-4994-9359-7aa5a16f9773
                  name: test
                  protocol: TCP
                  cidr: 10.0.0.101/32
                  startPort: 22
                  endPort: 22
                  icmpCode: null
                  icmpType: null
                _metadata:
                  totalCount: 2
                  limit: 20
                  offset: 0
              schema:
                $ref: '#/components/schemas/getFirewallRuleListResult'
          description: OK.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      summary: List firewall rules
      tags:
      - publicCloud
  /instances/{instanceId}/firewall/batchCreate:
    post:
      description: Add multiple rules at once
      operationId: createFirewallRules
      parameters:
      - description: Instance's ID
        example: 695ddd91-051f-4dd6-9120-938a927a47d0
        explode: false
        in: path
        name: instanceId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              rules:
              - name: HTTP
                protocol: TCP
                startPort: 80
                endPort: 80
                cidr: 10.0.0.0/0
              - name: SSH
                protocol: TCP
                startPort: 22
                endPort: 22
                cidr: 10.0.0.21/32
            schema:
              $ref: '#/components/schemas/createFirewallRulesOpts'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                created:
                - id: 63ef9da0-fc26-4220-9847-519be34e5dcd
                  protocol: TCP
                  cidr: 0.0.0.0/0
                  startPort: 80
                  endPort: 80
                  icmpCode: null
                  icmpType: null
                  name: null
                - id: a1d9c596-0e71-4d95-8542-a0c3d6f7911b
                  protocol: TCP
                  cidr: 10.0.0.10/32
                  startPort: 22
                  endPort: 22
                  icmpCode: null
                  icmpType: null
                  name: null
                failed: []
              schema:
                $ref: '#/components/schemas/createFirewallRulesCreatedResult'
          description: Created.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
[...]
