/*
Leaseweb API for dedicated servers

This documents the rest api dedicatedserver provides.

API version: v2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dedicatedserver

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


type DedicatedserverAPI interface {

	/*
	AddServerToPrivateNetwork Add a server to private network

	It takes a few minutes before the server has access to the private network.

To get the current status of the server you can call
`/bareMetals/v2/servers/{serverId}`.

Once the server is added to the private network the status changes from
`CONFIGURING` to `CONFIGURED`.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param privateNetworkId The ID of a Private Network
	@return ApiAddServerToPrivateNetworkRequest
	*/
	AddServerToPrivateNetwork(ctx context.Context, serverId string, privateNetworkId string) ApiAddServerToPrivateNetworkRequest

	// AddServerToPrivateNetworkExecute executes the request
	AddServerToPrivateNetworkExecute(r ApiAddServerToPrivateNetworkRequest) (*http.Response, error)

	/*
	CancelActiveJob Cancel active job

	Canceling an active job will trigger the `onfail` flow of the current job
often resulting in a server reboot. If you do not want the server state to
change `expire` the active job instead.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiCancelActiveJobRequest
	*/
	CancelActiveJob(ctx context.Context, serverId string) ApiCancelActiveJobRequest

	// CancelActiveJobExecute executes the request
	//  @return ServerJob
	CancelActiveJobExecute(r ApiCancelActiveJobRequest) (*ServerJob, *http.Response, error)

	/*
	CloseNetworkInterface Close network interface

	Close the network interface of this type of this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param networkTypeURL
	@return ApiCloseNetworkInterfaceRequest
	*/
	CloseNetworkInterface(ctx context.Context, serverId string, networkTypeURL NetworkTypeURL) ApiCloseNetworkInterfaceRequest

	// CloseNetworkInterfaceExecute executes the request
	CloseNetworkInterfaceExecute(r ApiCloseNetworkInterfaceRequest) (*http.Response, error)

	/*
	CloseNetworkInterfaces Close all network interfaces

	Close all network interfaces for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiCloseNetworkInterfacesRequest
	*/
	CloseNetworkInterfaces(ctx context.Context, serverId string) ApiCloseNetworkInterfacesRequest

	// CloseNetworkInterfacesExecute executes the request
	CloseNetworkInterfacesExecute(r ApiCloseNetworkInterfacesRequest) (*http.Response, error)

	/*
	CreateNetworkEquipmentCredential Create new network equipment credentials

	Password will NOT be updated on the network equipment. The ability to update
credentials is for convenience only. It provides a secure way to communicate
passwords with Leaseweb engineers in case support is required.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@return ApiCreateNetworkEquipmentCredentialRequest
	*/
	CreateNetworkEquipmentCredential(ctx context.Context, networkEquipmentId string) ApiCreateNetworkEquipmentCredentialRequest

	// CreateNetworkEquipmentCredentialExecute executes the request
	//  @return Credential
	CreateNetworkEquipmentCredentialExecute(r ApiCreateNetworkEquipmentCredentialRequest) (*Credential, *http.Response, error)

	/*
	CreateServerBandwidthNotificationSetting Create a bandwidth notification setting

	Create a new bandwidth notification setting for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiCreateServerBandwidthNotificationSettingRequest
	*/
	CreateServerBandwidthNotificationSetting(ctx context.Context, serverId string) ApiCreateServerBandwidthNotificationSettingRequest

	// CreateServerBandwidthNotificationSettingExecute executes the request
	//  @return BandwidthNotificationSetting
	CreateServerBandwidthNotificationSettingExecute(r ApiCreateServerBandwidthNotificationSettingRequest) (*BandwidthNotificationSetting, *http.Response, error)

	/*
	CreateServerCredential Create new server credentials

	Password will NOT be updated on the server. The ability to update credentials
is for convenience only. It provides a secure way to communicate passwords
with Leaseweb engineers in case support is required.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiCreateServerCredentialRequest
	*/
	CreateServerCredential(ctx context.Context, serverId string) ApiCreateServerCredentialRequest

	// CreateServerCredentialExecute executes the request
	//  @return Credential
	CreateServerCredentialExecute(r ApiCreateServerCredentialRequest) (*Credential, *http.Response, error)

	/*
	CreateServerDataTrafficNotificationSetting Create a data traffic notification setting

	Create a new data traffic notification setting for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiCreateServerDataTrafficNotificationSettingRequest
	*/
	CreateServerDataTrafficNotificationSetting(ctx context.Context, serverId string) ApiCreateServerDataTrafficNotificationSettingRequest

	// CreateServerDataTrafficNotificationSettingExecute executes the request
	//  @return DataTrafficNotificationSetting
	CreateServerDataTrafficNotificationSettingExecute(r ApiCreateServerDataTrafficNotificationSettingRequest) (*DataTrafficNotificationSetting, *http.Response, error)

	/*
	CreateServerDhcpReservation Create a DHCP reservation

	After rebooting your server it will acquire this DHCP reservation and boot
from the specified `bootfile` url.

Please note that this API call will not reboot or power cycle your server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiCreateServerDhcpReservationRequest
	*/
	CreateServerDhcpReservation(ctx context.Context, serverId string) ApiCreateServerDhcpReservationRequest

	// CreateServerDhcpReservationExecute executes the request
	CreateServerDhcpReservationExecute(r ApiCreateServerDhcpReservationRequest) (*http.Response, error)

	/*
	DeleteNetworkEquipmentCredential Delete network equipment credentials

	This action is purely administrative and will only remove the username and
password associated with this resource from our database.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@param type_ The type of the credential.
	@param username Username
	@return ApiDeleteNetworkEquipmentCredentialRequest
	*/
	DeleteNetworkEquipmentCredential(ctx context.Context, networkEquipmentId string, type_ CredentialType, username string) ApiDeleteNetworkEquipmentCredentialRequest

	// DeleteNetworkEquipmentCredentialExecute executes the request
	DeleteNetworkEquipmentCredentialExecute(r ApiDeleteNetworkEquipmentCredentialRequest) (*http.Response, error)

	/*
	DeleteServerBandwidthNotificationSetting Delete a bandwidth notification setting

	Remove a Bandwidth Notification setting for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param notificationSettingId The ID of a notification setting
	@return ApiDeleteServerBandwidthNotificationSettingRequest
	*/
	DeleteServerBandwidthNotificationSetting(ctx context.Context, serverId string, notificationSettingId string) ApiDeleteServerBandwidthNotificationSettingRequest

	// DeleteServerBandwidthNotificationSettingExecute executes the request
	DeleteServerBandwidthNotificationSettingExecute(r ApiDeleteServerBandwidthNotificationSettingRequest) (*http.Response, error)

	/*
	DeleteServerCredential Delete server credentials

	This action is purely administrative and will only remove the username and
password associated with this resource from our database.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param type_ The type of the credential.
	@param username Username
	@return ApiDeleteServerCredentialRequest
	*/
	DeleteServerCredential(ctx context.Context, serverId string, type_ CredentialType, username string) ApiDeleteServerCredentialRequest

	// DeleteServerCredentialExecute executes the request
	DeleteServerCredentialExecute(r ApiDeleteServerCredentialRequest) (*http.Response, error)

	/*
	DeleteServerDataTrafficNotificationSetting Delete a data traffic notification setting

	Delete the given data traffic notification setting for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param notificationSettingId The ID of a notification setting
	@return ApiDeleteServerDataTrafficNotificationSettingRequest
	*/
	DeleteServerDataTrafficNotificationSetting(ctx context.Context, serverId string, notificationSettingId string) ApiDeleteServerDataTrafficNotificationSettingRequest

	// DeleteServerDataTrafficNotificationSettingExecute executes the request
	DeleteServerDataTrafficNotificationSettingExecute(r ApiDeleteServerDataTrafficNotificationSettingRequest) (*http.Response, error)

	/*
	DeleteServerDhcpReservation Delete a DHCP reservation

	Delete a DHCP reservation for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiDeleteServerDhcpReservationRequest
	*/
	DeleteServerDhcpReservation(ctx context.Context, serverId string) ApiDeleteServerDhcpReservationRequest

	// DeleteServerDhcpReservationExecute executes the request
	DeleteServerDhcpReservationExecute(r ApiDeleteServerDhcpReservationRequest) (*http.Response, error)

	/*
	DeleteServerFromPrivateNetwork Delete a server from a private network

	This API call will remove the dedicated server from the private network.

It takes a few minutes before the server has been removed from the private
network.

To get the current status of the server you can call
`/bareMetals/v2/servers/{serverId}`.

While the server is being removed the status changes to `REMOVING`.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param privateNetworkId The ID of a Private Network
	@return ApiDeleteServerFromPrivateNetworkRequest
	*/
	DeleteServerFromPrivateNetwork(ctx context.Context, serverId string, privateNetworkId string) ApiDeleteServerFromPrivateNetworkRequest

	// DeleteServerFromPrivateNetworkExecute executes the request
	DeleteServerFromPrivateNetworkExecute(r ApiDeleteServerFromPrivateNetworkRequest) (*http.Response, error)

	/*
	EnableServerRescueMode Launch rescue mode

	Rescue mode allows you to trouble shoot your server in case your installed
operating system is no longer reachable.

You can supply a `postInstallScript` key in the body of the request which
should contain a base64 encoded string with a valid script. This script will
be executed as soon as rescue mode is launched and can be used to further
automate the process. A requirement for the post install script is that it
starts with a shebang line like `#!/usr/bin/env bash`.

After a rescue mode is launched you can manually reboot the server. After this
reboot the server will boot into the existing operating system.

To get a list of available rescue images, you could do so by sending a `GET`
request to `/bareMetals/v2/rescueImages`.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiEnableServerRescueModeRequest
	*/
	EnableServerRescueMode(ctx context.Context, serverId string) ApiEnableServerRescueModeRequest

	// EnableServerRescueModeExecute executes the request
	//  @return ServerJob
	EnableServerRescueModeExecute(r ApiEnableServerRescueModeRequest) (*ServerJob, *http.Response, error)

	/*
	ExpireActiveJob Expire active job

	Expiring an active job will not have any influence on the current state of the
server and is merely an administrative action.

Often you want to `cancel` the job, resulting in a server reboot. In that
case\nuse the `/cancelActiveJob` API call instead.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiExpireActiveJobRequest
	*/
	ExpireActiveJob(ctx context.Context, serverId string) ApiExpireActiveJobRequest

	// ExpireActiveJobExecute executes the request
	//  @return ServerJob
	ExpireActiveJobExecute(r ApiExpireActiveJobRequest) (*ServerJob, *http.Response, error)

	/*
	GetControlPanelList List control panels

	An `id` of a control panel can be supplied when (re)installing a dedicated
server (for more information on how to install dedicated servers via the API
refer to the API documentation).


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetControlPanelListRequest
	*/
	GetControlPanelList(ctx context.Context) ApiGetControlPanelListRequest

	// GetControlPanelListExecute executes the request
	//  @return ControlPanelList
	GetControlPanelListExecute(r ApiGetControlPanelListRequest) (*ControlPanelList, *http.Response, error)

	/*
	GetControlPanelListByOperatingSystemId List control panels by Operating System

	An `id` of a control panel can be supplied when (re)installing a dedicated
server (for more information on how to install dedicated servers via the API
refer to the API documentation).

Not all operating systems support all control panels. Some operating systems
do not allow for installation of a control panel. To filter the list of
control panels which are supported for an operating system use the
`operatingSystemId` query string parameter to filter this list.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param operatingSystemId Operating system ID
	@return ApiGetControlPanelListByOperatingSystemIdRequest
	*/
	GetControlPanelListByOperatingSystemId(ctx context.Context, operatingSystemId string) ApiGetControlPanelListByOperatingSystemIdRequest

	// GetControlPanelListByOperatingSystemIdExecute executes the request
	//  @return ControlPanelList
	GetControlPanelListByOperatingSystemIdExecute(r ApiGetControlPanelListByOperatingSystemIdRequest) (*ControlPanelList, *http.Response, error)

	/*
	GetDdosNotificationSetting Inspect DDoS notification settings

	Show all DDoS Protection related notification settings for this server. These
settings control if you want to be notified via email in case a DDoS was
mitigated.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetDdosNotificationSettingRequest
	*/
	GetDdosNotificationSetting(ctx context.Context, serverId string) ApiGetDdosNotificationSettingRequest

	// GetDdosNotificationSettingExecute executes the request
	//  @return GetDdosNotificationSettingResult
	GetDdosNotificationSettingExecute(r ApiGetDdosNotificationSettingRequest) (*GetDdosNotificationSettingResult, *http.Response, error)

	/*
	GetNetworkEquipment Get network equipment

	Use this API to get information about a single network equipment.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@return ApiGetNetworkEquipmentRequest
	*/
	GetNetworkEquipment(ctx context.Context, networkEquipmentId string) ApiGetNetworkEquipmentRequest

	// GetNetworkEquipmentExecute executes the request
	//  @return NetworkEquipment
	GetNetworkEquipmentExecute(r ApiGetNetworkEquipmentRequest) (*NetworkEquipment, *http.Response, error)

	/*
	GetNetworkEquipmentCredential Show network equipment credentials

	View the password for the given credential, identified by `type` and
`username`.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@param type_ The type of the credential.
	@param username Username
	@return ApiGetNetworkEquipmentCredentialRequest
	*/
	GetNetworkEquipmentCredential(ctx context.Context, networkEquipmentId string, type_ CredentialType, username string) ApiGetNetworkEquipmentCredentialRequest

	// GetNetworkEquipmentCredentialExecute executes the request
	//  @return Credential
	GetNetworkEquipmentCredentialExecute(r ApiGetNetworkEquipmentCredentialRequest) (*Credential, *http.Response, error)

	/*
	GetNetworkEquipmentCredentialList List network equipment credentials

	The credentials API allows you to store usernames and passwords securely.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@return ApiGetNetworkEquipmentCredentialListRequest
	*/
	GetNetworkEquipmentCredentialList(ctx context.Context, networkEquipmentId string) ApiGetNetworkEquipmentCredentialListRequest

	// GetNetworkEquipmentCredentialListExecute executes the request
	//  @return CredentialList
	GetNetworkEquipmentCredentialListExecute(r ApiGetNetworkEquipmentCredentialListRequest) (*CredentialList, *http.Response, error)

	/*
	GetNetworkEquipmentCredentialListByType List network equipment credentials by type

	List all the credentials filtered by the specified type that are associated
with this network equipment.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@param type_ The type of the credential.
	@return ApiGetNetworkEquipmentCredentialListByTypeRequest
	*/
	GetNetworkEquipmentCredentialListByType(ctx context.Context, networkEquipmentId string, type_ CredentialType) ApiGetNetworkEquipmentCredentialListByTypeRequest

	// GetNetworkEquipmentCredentialListByTypeExecute executes the request
	//  @return CredentialList
	GetNetworkEquipmentCredentialListByTypeExecute(r ApiGetNetworkEquipmentCredentialListByTypeRequest) (*CredentialList, *http.Response, error)

	/*
	GetNetworkEquipmentIp Show a network equipment IP

	Get a single IP address associated with this network equipment.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@param ip The IP Address
	@return ApiGetNetworkEquipmentIpRequest
	*/
	GetNetworkEquipmentIp(ctx context.Context, networkEquipmentId string, ip string) ApiGetNetworkEquipmentIpRequest

	// GetNetworkEquipmentIpExecute executes the request
	//  @return Ip
	GetNetworkEquipmentIpExecute(r ApiGetNetworkEquipmentIpRequest) (*Ip, *http.Response, error)

	/*
	GetNetworkEquipmentIpList List IPs

	List all IP Addresses associated with this network equipment. Optionally
filtered.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@return ApiGetNetworkEquipmentIpListRequest
	*/
	GetNetworkEquipmentIpList(ctx context.Context, networkEquipmentId string) ApiGetNetworkEquipmentIpListRequest

	// GetNetworkEquipmentIpListExecute executes the request
	//  @return GetNetworkEquipmentIpListResult
	GetNetworkEquipmentIpListExecute(r ApiGetNetworkEquipmentIpListRequest) (*GetNetworkEquipmentIpListResult, *http.Response, error)

	/*
	GetNetworkEquipmentList List network equipment

	List your Dedicated Network Equipment. This api call supports pagination. Use
the `limit` and `offset` query string parameters to paginate through all your
dedicated network equipment.

Every `network equipment` object in the json response lists a few properties
of a network equipment. Use the single resource api call to get more details
for a single network equipment.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetNetworkEquipmentListRequest
	*/
	GetNetworkEquipmentList(ctx context.Context) ApiGetNetworkEquipmentListRequest

	// GetNetworkEquipmentListExecute executes the request
	//  @return GetNetworkEquipmentListResult
	GetNetworkEquipmentListExecute(r ApiGetNetworkEquipmentListRequest) (*GetNetworkEquipmentListResult, *http.Response, error)

	/*
	GetNetworkEquipmentNullRouteHistory Show null route history

	Show all null route history for any ips associated with this a network
equipment.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@return ApiGetNetworkEquipmentNullRouteHistoryRequest
	*/
	GetNetworkEquipmentNullRouteHistory(ctx context.Context, networkEquipmentId string) ApiGetNetworkEquipmentNullRouteHistoryRequest

	// GetNetworkEquipmentNullRouteHistoryExecute executes the request
	//  @return GetNetworkEquipmentNullRouteHistoryResult
	GetNetworkEquipmentNullRouteHistoryExecute(r ApiGetNetworkEquipmentNullRouteHistoryRequest) (*GetNetworkEquipmentNullRouteHistoryResult, *http.Response, error)

	/*
	GetNetworkEquipmentPowerStatus Show power status

	The network equipment can either be `ON` or `OFF`. Network Equipment can be
powered on or off by using the respective `/powerOn` and `/powerOff` API
calls. In addition network equipment can also be rebooted using the
`/powerCycle` API call.

The `pdu` object describes the power status from the power distribution unit
(PDU) point of view. If your network equipment is connected to multiple PDU
ports the `status` property will report `on` if at least one PDU port has
power.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@return ApiGetNetworkEquipmentPowerStatusRequest
	*/
	GetNetworkEquipmentPowerStatus(ctx context.Context, networkEquipmentId string) ApiGetNetworkEquipmentPowerStatusRequest

	// GetNetworkEquipmentPowerStatusExecute executes the request
	//  @return GetNetworkEquipmentPowerStatusResult
	GetNetworkEquipmentPowerStatusExecute(r ApiGetNetworkEquipmentPowerStatusRequest) (*GetNetworkEquipmentPowerStatusResult, *http.Response, error)

	/*
	GetNetworkInterface Show a network interface

	Show the network interface of the given type of this server, including its
status.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param networkTypeURL
	@return ApiGetNetworkInterfaceRequest
	*/
	GetNetworkInterface(ctx context.Context, serverId string, networkTypeURL NetworkTypeURL) ApiGetNetworkInterfaceRequest

	// GetNetworkInterfaceExecute executes the request
	//  @return OperationNetworkInterface
	GetNetworkInterfaceExecute(r ApiGetNetworkInterfaceRequest) (*OperationNetworkInterface, *http.Response, error)

	/*
	GetNetworkInterfaceList List network interfaces

	List all network interfaces for this server, including their current status.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetNetworkInterfaceListRequest
	*/
	GetNetworkInterfaceList(ctx context.Context, serverId string) ApiGetNetworkInterfaceListRequest

	// GetNetworkInterfaceListExecute executes the request
	//  @return GetNetworkInterfaceListResult
	GetNetworkInterfaceListExecute(r ApiGetNetworkInterfaceListRequest) (*GetNetworkInterfaceListResult, *http.Response, error)

	/*
	GetOperatingSystem Show an operating system

	This detailed information shows default options when installing the given
operating system on a dedicated server.

For some operating systems these defaults can be adjusted when making the
`POST` request to `/install`. If the `configurable` parameter is `true` these
defaults can be adjusted by the client.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param operatingSystemId Operating system ID
	@return ApiGetOperatingSystemRequest
	*/
	GetOperatingSystem(ctx context.Context, operatingSystemId string) ApiGetOperatingSystemRequest

	// GetOperatingSystemExecute executes the request
	//  @return GetOperatingSystemResult
	GetOperatingSystemExecute(r ApiGetOperatingSystemRequest) (*GetOperatingSystemResult, *http.Response, error)

	/*
	GetOperatingSystemList List Operating Systems

	An `id` of a operating system can be supplied when (re)installing a dedicated
server (for more information on how to install dedicated servers via the API
refer to the API documentation).


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetOperatingSystemListRequest
	*/
	GetOperatingSystemList(ctx context.Context) ApiGetOperatingSystemListRequest

	// GetOperatingSystemListExecute executes the request
	//  @return GetOperatingSystemListResult
	GetOperatingSystemListExecute(r ApiGetOperatingSystemListRequest) (*GetOperatingSystemListResult, *http.Response, error)

	/*
	GetRescueImageList Rescue Images

	Lists all Rescue Images which are available for launching a dedicated server
into rescue mode.

A `rescueImageId` can be supplied to the `POST /rescueMode` API call and will
reboot your server into rescue mode.

Launching rescue mode for a server is often used to troubleshoot an existing
installation.

Note that launching rescue mode does not modify any data on the disks of your
server. It will require your server to be rebooted.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRescueImageListRequest
	*/
	GetRescueImageList(ctx context.Context) ApiGetRescueImageListRequest

	// GetRescueImageListExecute executes the request
	//  @return GetRescueImageListResult
	GetRescueImageListExecute(r ApiGetRescueImageListRequest) (*GetRescueImageListResult, *http.Response, error)

	/*
	GetServer Get server

	Use this API to get information about a single server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetServerRequest
	*/
	GetServer(ctx context.Context, serverId string) ApiGetServerRequest

	// GetServerExecute executes the request
	//  @return Server
	GetServerExecute(r ApiGetServerRequest) (*Server, *http.Response, error)

	/*
	GetServerBandwidthMetrics Show bandwidth metrics

	At this moment only bandwidth information for the public interface is supported.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetServerBandwidthMetricsRequest
	*/
	GetServerBandwidthMetrics(ctx context.Context, serverId string) ApiGetServerBandwidthMetricsRequest

	// GetServerBandwidthMetricsExecute executes the request
	//  @return Metrics
	GetServerBandwidthMetricsExecute(r ApiGetServerBandwidthMetricsRequest) (*Metrics, *http.Response, error)

	/*
	GetServerBandwidthNotificationSetting Show a bandwidth notification setting

	Get a bandwidth notification setting for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param notificationSettingId The ID of a notification setting
	@return ApiGetServerBandwidthNotificationSettingRequest
	*/
	GetServerBandwidthNotificationSetting(ctx context.Context, serverId string, notificationSettingId string) ApiGetServerBandwidthNotificationSettingRequest

	// GetServerBandwidthNotificationSettingExecute executes the request
	//  @return BandwidthNotificationSetting
	GetServerBandwidthNotificationSettingExecute(r ApiGetServerBandwidthNotificationSettingRequest) (*BandwidthNotificationSetting, *http.Response, error)

	/*
	GetServerBandwidthNotificationSettingList List bandwidth notification settings

	List all bandwidth notification settings for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetServerBandwidthNotificationSettingListRequest
	*/
	GetServerBandwidthNotificationSettingList(ctx context.Context, serverId string) ApiGetServerBandwidthNotificationSettingListRequest

	// GetServerBandwidthNotificationSettingListExecute executes the request
	//  @return GetServerBandwidthNotificationSettingListResult
	GetServerBandwidthNotificationSettingListExecute(r ApiGetServerBandwidthNotificationSettingListRequest) (*GetServerBandwidthNotificationSettingListResult, *http.Response, error)

	/*
	GetServerCredential Show server credentials

	View the password for the given credential, identified by `type` and
`username`. Auto generated credentials (during a re-install, rescue mode or
ipmi reset can be found here).


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param type_ The type of the credential.
	@param username Username
	@return ApiGetServerCredentialRequest
	*/
	GetServerCredential(ctx context.Context, serverId string, type_ CredentialType, username string) ApiGetServerCredentialRequest

	// GetServerCredentialExecute executes the request
	//  @return Credential
	GetServerCredentialExecute(r ApiGetServerCredentialRequest) (*Credential, *http.Response, error)

	/*
	GetServerCredentialList List server credentials

	The credentials API allows you to store usernames and passwords securely.

During (re)installations, rescue modes and ipmi resets the newly generated
passwords are stored and can be retrieved using this API.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetServerCredentialListRequest
	*/
	GetServerCredentialList(ctx context.Context, serverId string) ApiGetServerCredentialListRequest

	// GetServerCredentialListExecute executes the request
	//  @return CredentialList
	GetServerCredentialListExecute(r ApiGetServerCredentialListRequest) (*CredentialList, *http.Response, error)

	/*
	GetServerCredentialListByType List server credentials by type

	List all the credentials filtered by the specified type that are associated
with this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param type_ The type of the credential.
	@return ApiGetServerCredentialListByTypeRequest
	*/
	GetServerCredentialListByType(ctx context.Context, serverId string, type_ CredentialType) ApiGetServerCredentialListByTypeRequest

	// GetServerCredentialListByTypeExecute executes the request
	//  @return CredentialList
	GetServerCredentialListByTypeExecute(r ApiGetServerCredentialListByTypeRequest) (*CredentialList, *http.Response, error)

	/*
	GetServerDataTrafficMetrics Show datatraffic metrics

	At this moment only bandwidth information for the public interface is supported.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetServerDataTrafficMetricsRequest
	*/
	GetServerDataTrafficMetrics(ctx context.Context, serverId string) ApiGetServerDataTrafficMetricsRequest

	// GetServerDataTrafficMetricsExecute executes the request
	//  @return Metrics
	GetServerDataTrafficMetricsExecute(r ApiGetServerDataTrafficMetricsRequest) (*Metrics, *http.Response, error)

	/*
	GetServerDataTrafficNotificationSetting Show a data traffic notification setting

	Get a datatraffic notification setting for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param notificationSettingId The ID of a notification setting
	@return ApiGetServerDataTrafficNotificationSettingRequest
	*/
	GetServerDataTrafficNotificationSetting(ctx context.Context, serverId string, notificationSettingId string) ApiGetServerDataTrafficNotificationSettingRequest

	// GetServerDataTrafficNotificationSettingExecute executes the request
	//  @return DataTrafficNotificationSetting
	GetServerDataTrafficNotificationSettingExecute(r ApiGetServerDataTrafficNotificationSettingRequest) (*DataTrafficNotificationSetting, *http.Response, error)

	/*
	GetServerDataTrafficNotificationSettingList List data traffic notification settings

	List all datatraffic notification settings for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetServerDataTrafficNotificationSettingListRequest
	*/
	GetServerDataTrafficNotificationSettingList(ctx context.Context, serverId string) ApiGetServerDataTrafficNotificationSettingListRequest

	// GetServerDataTrafficNotificationSettingListExecute executes the request
	//  @return GetServerDataTrafficNotificationSettingListResult
	GetServerDataTrafficNotificationSettingListExecute(r ApiGetServerDataTrafficNotificationSettingListRequest) (*GetServerDataTrafficNotificationSettingListResult, *http.Response, error)

	/*
	GetServerDhcpReservationList List DHCP reservations

	Please note that this will only show reservations for the public network
interface.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetServerDhcpReservationListRequest
	*/
	GetServerDhcpReservationList(ctx context.Context, serverId string) ApiGetServerDhcpReservationListRequest

	// GetServerDhcpReservationListExecute executes the request
	//  @return GetServerDhcpReservationListResult
	GetServerDhcpReservationListExecute(r ApiGetServerDhcpReservationListRequest) (*GetServerDhcpReservationListResult, *http.Response, error)

	/*
	GetServerHardware Show hardware information

	This information is generated when running a hardware scan for your server. A
hardware scan collects hardware information about your system.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetServerHardwareRequest
	*/
	GetServerHardware(ctx context.Context, serverId string) ApiGetServerHardwareRequest

	// GetServerHardwareExecute executes the request
	//  @return GetServerHardwareResult
	GetServerHardwareExecute(r ApiGetServerHardwareRequest) (*GetServerHardwareResult, *http.Response, error)

	/*
	GetServerIp Show a server IP

	Get a single IP address associated with this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param ip The IP Address
	@return ApiGetServerIpRequest
	*/
	GetServerIp(ctx context.Context, serverId string, ip string) ApiGetServerIpRequest

	// GetServerIpExecute executes the request
	//  @return Ip
	GetServerIpExecute(r ApiGetServerIpRequest) (*Ip, *http.Response, error)

	/*
	GetServerIpList List IPs

	List all IP Addresses associated with this server. Optionally filtered.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetServerIpListRequest
	*/
	GetServerIpList(ctx context.Context, serverId string) ApiGetServerIpListRequest

	// GetServerIpListExecute executes the request
	//  @return Ip
	GetServerIpListExecute(r ApiGetServerIpListRequest) (*Ip, *http.Response, error)

	/*
	GetServerJob Show a job

	Get a single job for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param jobId The ID of a Job
	@return ApiGetServerJobRequest
	*/
	GetServerJob(ctx context.Context, serverId string, jobId string) ApiGetServerJobRequest

	// GetServerJobExecute executes the request
	//  @return CurrentServerJob
	GetServerJobExecute(r ApiGetServerJobRequest) (*CurrentServerJob, *http.Response, error)

	/*
	GetServerJobList List jobs

	List all jobs for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetServerJobListRequest
	*/
	GetServerJobList(ctx context.Context, serverId string) ApiGetServerJobListRequest

	// GetServerJobListExecute executes the request
	//  @return ServerJobList
	GetServerJobListExecute(r ApiGetServerJobListRequest) (*ServerJobList, *http.Response, error)

	/*
	GetServerList List servers

	List your Dedicated Servers. This api call supports pagination. Use the
`limit` and `offset` query string parameters to paginate through all your
dedicated servers.

Every `server` object in the json response lists a few properties of a server.
Use the single resource api call to get more details for a single server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetServerListRequest
	*/
	GetServerList(ctx context.Context) ApiGetServerListRequest

	// GetServerListExecute executes the request
	//  @return GetServerListResult
	GetServerListExecute(r ApiGetServerListRequest) (*GetServerListResult, *http.Response, error)

	/*
	GetServerNullRouteHistory Show null route history

	Show all null route history for any ips associated with this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetServerNullRouteHistoryRequest
	*/
	GetServerNullRouteHistory(ctx context.Context, serverId string) ApiGetServerNullRouteHistoryRequest

	// GetServerNullRouteHistoryExecute executes the request
	//  @return GetServerNullRouteHistoryResult
	GetServerNullRouteHistoryExecute(r ApiGetServerNullRouteHistoryRequest) (*GetServerNullRouteHistoryResult, *http.Response, error)

	/*
	GetServerPowerStatus Show power status

	The server can either be `ON` or `OFF`. Servers can be powered on or off by
using the respective `/powerOn` and `/powerOff` API calls. In addition servers
can also be rebooted using the `/powerCycle` API call.

The `pdu` object describes the power status from the power distribution unit
(PDU) point of view. If your server is connected to multiple PDU ports the
`status` property will report `on` if at least one PDU port has power.

The `ipmi` object describes the power status by quering the remote management
interface of your server.

Note that `pdu.status` can report `on` but your server can still be powered
off if it was shutdown via `IPMI` for example.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetServerPowerStatusRequest
	*/
	GetServerPowerStatus(ctx context.Context, serverId string) ApiGetServerPowerStatusRequest

	// GetServerPowerStatusExecute executes the request
	//  @return GetServerPowerStatusResult
	GetServerPowerStatusExecute(r ApiGetServerPowerStatusRequest) (*GetServerPowerStatusResult, *http.Response, error)

	/*
	InstallOperatingSystem Launch installation

	Install your server with an Operating System and optional Control Panel.

To retrieve a list of available operating systems use the
`/v2/operatingSystems` endpoint.

To retrieve a list of available control panels use the `/v2/controlPanels`
endpoint.

The default device / partitions to be used are operating system depended and
can be retrieved via the `/v2/operatingSystems/{operatingSystemId}` endpoint.

You are now able to target a specific diskset, like SATA1TB, SATA2TB, SSD256GB,
etc. To see which disksets are available in your server check the `/v2/servers/{serverId}`
endpoint and look for the corresponding diskset id from the hdd array.

For more information about Dedicated Server installation, [click here](https://kb.leaseweb.com/products/dedicated-server/reinstalling-your-dedicated-server) for our related Knowledge Base article.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiInstallOperatingSystemRequest
	*/
	InstallOperatingSystem(ctx context.Context, serverId string) ApiInstallOperatingSystemRequest

	// InstallOperatingSystemExecute executes the request
	//  @return InstallationJob
	InstallOperatingSystemExecute(r ApiInstallOperatingSystemRequest) (*InstallationJob, *http.Response, error)

	/*
	IpmiResetServer Launch IPMI reset

	A reset makes sure that your IPMI interface of your server is compatible with
Leaseweb automation.

An IPMI reset will require a reboot of your server. The contents of your hard
drive won't be altered in any way. After a successful IPMI reset your server
is booted back into the original operating system.",


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiIpmiResetServerRequest
	*/
	IpmiResetServer(ctx context.Context, serverId string) ApiIpmiResetServerRequest

	// IpmiResetServerExecute executes the request
	//  @return ServerJob
	IpmiResetServerExecute(r ApiIpmiResetServerRequest) (*ServerJob, *http.Response, error)

	/*
	NullIpRoute Null route an IP

	Null the given IP address. It might take a few minutes before the change is
propagated across the network.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param ip The IP Address
	@return ApiNullIpRouteRequest
	*/
	NullIpRoute(ctx context.Context, serverId string, ip string) ApiNullIpRouteRequest

	// NullIpRouteExecute executes the request
	//  @return Ip
	NullIpRouteExecute(r ApiNullIpRouteRequest) (*Ip, *http.Response, error)

	/*
	NullNetworkEquipmentIpRoute Null route an IP

	Null the given IP address. It might take a few minutes before the change is
propagated across the network.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@param ip The IP Address
	@return ApiNullNetworkEquipmentIpRouteRequest
	*/
	NullNetworkEquipmentIpRoute(ctx context.Context, networkEquipmentId string, ip string) ApiNullNetworkEquipmentIpRouteRequest

	// NullNetworkEquipmentIpRouteExecute executes the request
	//  @return Ip
	NullNetworkEquipmentIpRouteExecute(r ApiNullNetworkEquipmentIpRouteRequest) (*Ip, *http.Response, error)

	/*
	OpenNetworkInterface Open network interface

	Open all network interfaces of the given type for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param networkTypeURL
	@return ApiOpenNetworkInterfaceRequest
	*/
	OpenNetworkInterface(ctx context.Context, serverId string, networkTypeURL NetworkTypeURL) ApiOpenNetworkInterfaceRequest

	// OpenNetworkInterfaceExecute executes the request
	OpenNetworkInterfaceExecute(r ApiOpenNetworkInterfaceRequest) (*http.Response, error)

	/*
	OpenNetworkInterfaces Open all network interfaces

	Open all network interfaces of this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiOpenNetworkInterfacesRequest
	*/
	OpenNetworkInterfaces(ctx context.Context, serverId string) ApiOpenNetworkInterfacesRequest

	// OpenNetworkInterfacesExecute executes the request
	OpenNetworkInterfacesExecute(r ApiOpenNetworkInterfacesRequest) (*http.Response, error)

	/*
	PowerCycleNetworkEquipment Power cycle a network equipment

	Powercyle the network equipment.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@return ApiPowerCycleNetworkEquipmentRequest
	*/
	PowerCycleNetworkEquipment(ctx context.Context, networkEquipmentId string) ApiPowerCycleNetworkEquipmentRequest

	// PowerCycleNetworkEquipmentExecute executes the request
	PowerCycleNetworkEquipmentExecute(r ApiPowerCycleNetworkEquipmentRequest) (*http.Response, error)

	/*
	PowerCycleServer Power cycle a server

	Powercyle the server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiPowerCycleServerRequest
	*/
	PowerCycleServer(ctx context.Context, serverId string) ApiPowerCycleServerRequest

	// PowerCycleServerExecute executes the request
	PowerCycleServerExecute(r ApiPowerCycleServerRequest) (*http.Response, error)

	/*
	PowerNetworkEquipmentOff Power off network equipment

	Power off the given network equipment.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@return ApiPowerNetworkEquipmentOffRequest
	*/
	PowerNetworkEquipmentOff(ctx context.Context, networkEquipmentId string) ApiPowerNetworkEquipmentOffRequest

	// PowerNetworkEquipmentOffExecute executes the request
	PowerNetworkEquipmentOffExecute(r ApiPowerNetworkEquipmentOffRequest) (*http.Response, error)

	/*
	PowerNetworkEquipmentOn Power on network equipment

	Power on the given network equipment.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@return ApiPowerNetworkEquipmentOnRequest
	*/
	PowerNetworkEquipmentOn(ctx context.Context, networkEquipmentId string) ApiPowerNetworkEquipmentOnRequest

	// PowerNetworkEquipmentOnExecute executes the request
	PowerNetworkEquipmentOnExecute(r ApiPowerNetworkEquipmentOnRequest) (*http.Response, error)

	/*
	PowerServerOff Power off server

	Power off the given server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiPowerServerOffRequest
	*/
	PowerServerOff(ctx context.Context, serverId string) ApiPowerServerOffRequest

	// PowerServerOffExecute executes the request
	PowerServerOffExecute(r ApiPowerServerOffRequest) (*http.Response, error)

	/*
	PowerServerOn Power on server

	Power on the given server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiPowerServerOnRequest
	*/
	PowerServerOn(ctx context.Context, serverId string) ApiPowerServerOnRequest

	// PowerServerOnExecute executes the request
	PowerServerOnExecute(r ApiPowerServerOnRequest) (*http.Response, error)

	/*
	RemoveNullIpRoute Remove a null route

	Remove an existing null route for the given IP address. It might take a few
minutes before the change is propagated across the network.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param ip The IP Address
	@return ApiRemoveNullIpRouteRequest
	*/
	RemoveNullIpRoute(ctx context.Context, serverId string, ip string) ApiRemoveNullIpRouteRequest

	// RemoveNullIpRouteExecute executes the request
	//  @return Ip
	RemoveNullIpRouteExecute(r ApiRemoveNullIpRouteRequest) (*Ip, *http.Response, error)

	/*
	RetryServerJob Retry a job

	Retry a job for a specific server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param jobId The ID of a Job
	@return ApiRetryServerJobRequest
	*/
	RetryServerJob(ctx context.Context, serverId string, jobId string) ApiRetryServerJobRequest

	// RetryServerJobExecute executes the request
	//  @return CurrentServerJob
	RetryServerJobExecute(r ApiRetryServerJobRequest) (*CurrentServerJob, *http.Response, error)

	/*
	ScanHardware Launch hardware scan

	A hardware scan collects hardware related information from your server.

A hardware scan will require a reboot of your server. The contents of your
hard drive won't be altered in any way. After a successful hardware scan your
server is booted back into the original operating system.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiScanHardwareRequest
	*/
	ScanHardware(ctx context.Context, serverId string) ApiScanHardwareRequest

	// ScanHardwareExecute executes the request
	//  @return ServerJob
	ScanHardwareExecute(r ApiScanHardwareRequest) (*ServerJob, *http.Response, error)

	/*
	UnNullNetworkEquipmentIpRoute Remove a null route

	Remove an existing null route for the given IP address. It might take a few
minutes before the change is propagated across the network.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@param ip The IP Address
	@return ApiUnNullNetworkEquipmentIpRouteRequest
	*/
	UnNullNetworkEquipmentIpRoute(ctx context.Context, networkEquipmentId string, ip string) ApiUnNullNetworkEquipmentIpRouteRequest

	// UnNullNetworkEquipmentIpRouteExecute executes the request
	//  @return Ip
	UnNullNetworkEquipmentIpRouteExecute(r ApiUnNullNetworkEquipmentIpRouteRequest) (*Ip, *http.Response, error)

	/*
	UpdateDdosNotificationSetting Update DDoS notification settings

	Update your DDoS notification settings for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiUpdateDdosNotificationSettingRequest
	*/
	UpdateDdosNotificationSetting(ctx context.Context, serverId string) ApiUpdateDdosNotificationSettingRequest

	// UpdateDdosNotificationSettingExecute executes the request
	UpdateDdosNotificationSettingExecute(r ApiUpdateDdosNotificationSettingRequest) (*http.Response, error)

	/*
	UpdateIpProfile Update an IP

	Update the reverse lookup or DDoS detection profile for the ip address.

DDoS detection profiles can only be changed if the IP address is protected
using Advanced DDoS protection.

For more information about DDoS detection profiles [click here](https://kb.leaseweb.com/products/cyber-security/ddos-ip-protection#DDOSIPProtection-DDoSIPProtectionAdvancedDetectionprofiles) for our KB related article.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param ip The IP Address
	@return ApiUpdateIpProfileRequest
	*/
	UpdateIpProfile(ctx context.Context, serverId string, ip string) ApiUpdateIpProfileRequest

	// UpdateIpProfileExecute executes the request
	//  @return Ip
	UpdateIpProfileExecute(r ApiUpdateIpProfileRequest) (*Ip, *http.Response, error)

	/*
	UpdateNetworkEquipmentCredential Update network equipment credentials

	The usernames or types cannot be changed. In order to change those remove this
credentials and create a new one.

This action is purely administrative and will only update the password
associated with this resource in our database.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@param type_ The type of the credential.
	@param username Username
	@return ApiUpdateNetworkEquipmentCredentialRequest
	*/
	UpdateNetworkEquipmentCredential(ctx context.Context, networkEquipmentId string, type_ CredentialType, username string) ApiUpdateNetworkEquipmentCredentialRequest

	// UpdateNetworkEquipmentCredentialExecute executes the request
	//  @return Credential
	UpdateNetworkEquipmentCredentialExecute(r ApiUpdateNetworkEquipmentCredentialRequest) (*Credential, *http.Response, error)

	/*
	UpdateNetworkEquipmentIp Update an IP

	Update the reverse lookup or DDoS detection profile for the ip address.

DDoS detection profiles can only be changed if the IP address is protected
using Advanced DDoS protection.

For more information about DDoS detection profiles [click here](https://kb.leaseweb.com/products/cyber-security/ddos-ip-protection#DDOSIPProtection-DDoSIPProtectionAdvancedDetectionprofiles) for our KB related article.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@param ip The IP Address
	@return ApiUpdateNetworkEquipmentIpRequest
	*/
	UpdateNetworkEquipmentIp(ctx context.Context, networkEquipmentId string, ip string) ApiUpdateNetworkEquipmentIpRequest

	// UpdateNetworkEquipmentIpExecute executes the request
	//  @return Ip
	UpdateNetworkEquipmentIpExecute(r ApiUpdateNetworkEquipmentIpRequest) (*Ip, *http.Response, error)

	/*
	UpdateNetworkEquipmentReference Update network equipment

	Update the reference for a network equipment.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param networkEquipmentId The ID of a dedicated network equipment
	@return ApiUpdateNetworkEquipmentReferenceRequest
	*/
	UpdateNetworkEquipmentReference(ctx context.Context, networkEquipmentId string) ApiUpdateNetworkEquipmentReferenceRequest

	// UpdateNetworkEquipmentReferenceExecute executes the request
	UpdateNetworkEquipmentReferenceExecute(r ApiUpdateNetworkEquipmentReferenceRequest) (*http.Response, error)

	/*
	UpdateServerBandwidthNotificationSetting Update a bandwidth notification setting

	Update an existing bandwidth notification setting for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param notificationSettingId The ID of a notification setting
	@return ApiUpdateServerBandwidthNotificationSettingRequest
	*/
	UpdateServerBandwidthNotificationSetting(ctx context.Context, serverId string, notificationSettingId string) ApiUpdateServerBandwidthNotificationSettingRequest

	// UpdateServerBandwidthNotificationSettingExecute executes the request
	//  @return BandwidthNotificationSetting
	UpdateServerBandwidthNotificationSettingExecute(r ApiUpdateServerBandwidthNotificationSettingRequest) (*BandwidthNotificationSetting, *http.Response, error)

	/*
	UpdateServerCredential Update server credentials

	The usernames or types cannot be changed. In order to change those remove this
credentials and create a new one.

This action is purely administrative and will only update the password
associated with this resource in our database.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param type_ The type of the credential.
	@param username Username
	@return ApiUpdateServerCredentialRequest
	*/
	UpdateServerCredential(ctx context.Context, serverId string, type_ CredentialType, username string) ApiUpdateServerCredentialRequest

	// UpdateServerCredentialExecute executes the request
	//  @return Credential
	UpdateServerCredentialExecute(r ApiUpdateServerCredentialRequest) (*Credential, *http.Response, error)

	/*
	UpdateServerDataTrafficNotificationSetting Update a data traffic notification setting

	Update an existing data traffic notification setting for this server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param notificationSettingId The ID of a notification setting
	@return ApiUpdateServerDataTrafficNotificationSettingRequest
	*/
	UpdateServerDataTrafficNotificationSetting(ctx context.Context, serverId string, notificationSettingId string) ApiUpdateServerDataTrafficNotificationSettingRequest

	// UpdateServerDataTrafficNotificationSettingExecute executes the request
	//  @return DataTrafficNotificationSettingOpts
	UpdateServerDataTrafficNotificationSettingExecute(r ApiUpdateServerDataTrafficNotificationSettingRequest) (*DataTrafficNotificationSettingOpts, *http.Response, error)

	/*
	UpdateServerReference Update server

	Update the reference for a server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiUpdateServerReferenceRequest
	*/
	UpdateServerReference(ctx context.Context, serverId string) ApiUpdateServerReferenceRequest

	// UpdateServerReferenceExecute executes the request
	UpdateServerReferenceExecute(r ApiUpdateServerReferenceRequest) (*http.Response, error)
}

// DedicatedserverAPIService DedicatedserverAPI service
type DedicatedserverAPIService service

type ApiAddServerToPrivateNetworkRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
	privateNetworkId string
	addServerToPrivateNetworkOpts *AddServerToPrivateNetworkOpts
}

func (r ApiAddServerToPrivateNetworkRequest) AddServerToPrivateNetworkOpts(addServerToPrivateNetworkOpts AddServerToPrivateNetworkOpts) ApiAddServerToPrivateNetworkRequest {
	r.addServerToPrivateNetworkOpts = &addServerToPrivateNetworkOpts
	return r
}

func (r ApiAddServerToPrivateNetworkRequest) Execute() (*http.Response, error) {
	return r.ApiService.AddServerToPrivateNetworkExecute(r)
}

/*
AddServerToPrivateNetwork Add a server to private network

It takes a few minutes before the server has access to the private network.

To get the current status of the server you can call
`/bareMetals/v2/servers/{serverId}`.

Once the server is added to the private network the status changes from
`CONFIGURING` to `CONFIGURED`.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @param privateNetworkId The ID of a Private Network
 @return ApiAddServerToPrivateNetworkRequest
*/
func (a *DedicatedserverAPIService) AddServerToPrivateNetwork(ctx context.Context, serverId string, privateNetworkId string) ApiAddServerToPrivateNetworkRequest {
	return ApiAddServerToPrivateNetworkRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
		privateNetworkId: privateNetworkId,
	}
}

// Execute executes the request
func (a *DedicatedserverAPIService) AddServerToPrivateNetworkExecute(r ApiAddServerToPrivateNetworkRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.AddServerToPrivateNetwork")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/privateNetworks/{privateNetworkId}"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"privateNetworkId"+"}", url.PathEscape(parameterValueToString(r.privateNetworkId, "privateNetworkId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addServerToPrivateNetworkOpts
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCancelActiveJobRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
}

func (r ApiCancelActiveJobRequest) Execute() (*ServerJob, *http.Response, error) {
	return r.ApiService.CancelActiveJobExecute(r)
}

/*
CancelActiveJob Cancel active job

Canceling an active job will trigger the `onfail` flow of the current job
often resulting in a server reboot. If you do not want the server state to
change `expire` the active job instead.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @return ApiCancelActiveJobRequest
*/
func (a *DedicatedserverAPIService) CancelActiveJob(ctx context.Context, serverId string) ApiCancelActiveJobRequest {
	return ApiCancelActiveJobRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
//  @return ServerJob
func (a *DedicatedserverAPIService) CancelActiveJobExecute(r ApiCancelActiveJobRequest) (*ServerJob, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServerJob
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.CancelActiveJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/cancelActiveJob"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloseNetworkInterfaceRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
	networkTypeURL NetworkTypeURL
}

func (r ApiCloseNetworkInterfaceRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloseNetworkInterfaceExecute(r)
}

/*
CloseNetworkInterface Close network interface

Close the network interface of this type of this server.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @param networkTypeURL
 @return ApiCloseNetworkInterfaceRequest
*/
func (a *DedicatedserverAPIService) CloseNetworkInterface(ctx context.Context, serverId string, networkTypeURL NetworkTypeURL) ApiCloseNetworkInterfaceRequest {
	return ApiCloseNetworkInterfaceRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
		networkTypeURL: networkTypeURL,
	}
}

// Execute executes the request
func (a *DedicatedserverAPIService) CloseNetworkInterfaceExecute(r ApiCloseNetworkInterfaceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.CloseNetworkInterface")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/networkInterfaces/{networkTypeURL}/close"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"networkTypeURL"+"}", url.PathEscape(parameterValueToString(r.networkTypeURL, "networkTypeURL")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCloseNetworkInterfacesRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
}

func (r ApiCloseNetworkInterfacesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloseNetworkInterfacesExecute(r)
}

/*
CloseNetworkInterfaces Close all network interfaces

Close all network interfaces for this server.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @return ApiCloseNetworkInterfacesRequest
*/
func (a *DedicatedserverAPIService) CloseNetworkInterfaces(ctx context.Context, serverId string) ApiCloseNetworkInterfacesRequest {
	return ApiCloseNetworkInterfacesRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
func (a *DedicatedserverAPIService) CloseNetworkInterfacesExecute(r ApiCloseNetworkInterfacesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.CloseNetworkInterfaces")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/networkInterfaces/close"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCreateNetworkEquipmentCredentialRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	networkEquipmentId string
	createNetworkEquipmentCredentialOpts *CreateNetworkEquipmentCredentialOpts
}

func (r ApiCreateNetworkEquipmentCredentialRequest) CreateNetworkEquipmentCredentialOpts(createNetworkEquipmentCredentialOpts CreateNetworkEquipmentCredentialOpts) ApiCreateNetworkEquipmentCredentialRequest {
	r.createNetworkEquipmentCredentialOpts = &createNetworkEquipmentCredentialOpts
	return r
}

func (r ApiCreateNetworkEquipmentCredentialRequest) Execute() (*Credential, *http.Response, error) {
	return r.ApiService.CreateNetworkEquipmentCredentialExecute(r)
}

/*
CreateNetworkEquipmentCredential Create new network equipment credentials

Password will NOT be updated on the network equipment. The ability to update
credentials is for convenience only. It provides a secure way to communicate
passwords with Leaseweb engineers in case support is required.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param networkEquipmentId The ID of a dedicated network equipment
 @return ApiCreateNetworkEquipmentCredentialRequest
*/
func (a *DedicatedserverAPIService) CreateNetworkEquipmentCredential(ctx context.Context, networkEquipmentId string) ApiCreateNetworkEquipmentCredentialRequest {
	return ApiCreateNetworkEquipmentCredentialRequest{
		ApiService: a,
		ctx: ctx,
		networkEquipmentId: networkEquipmentId,
	}
}

// Execute executes the request
//  @return Credential
func (a *DedicatedserverAPIService) CreateNetworkEquipmentCredentialExecute(r ApiCreateNetworkEquipmentCredentialRequest) (*Credential, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Credential
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.CreateNetworkEquipmentCredential")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/networkEquipments/{networkEquipmentId}/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"networkEquipmentId"+"}", url.PathEscape(parameterValueToString(r.networkEquipmentId, "networkEquipmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createNetworkEquipmentCredentialOpts
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateServerBandwidthNotificationSettingRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
	bandwidthNotificationSettingOpts *BandwidthNotificationSettingOpts
}

func (r ApiCreateServerBandwidthNotificationSettingRequest) BandwidthNotificationSettingOpts(bandwidthNotificationSettingOpts BandwidthNotificationSettingOpts) ApiCreateServerBandwidthNotificationSettingRequest {
	r.bandwidthNotificationSettingOpts = &bandwidthNotificationSettingOpts
	return r
}

func (r ApiCreateServerBandwidthNotificationSettingRequest) Execute() (*BandwidthNotificationSetting, *http.Response, error) {
	return r.ApiService.CreateServerBandwidthNotificationSettingExecute(r)
}

/*
CreateServerBandwidthNotificationSetting Create a bandwidth notification setting

Create a new bandwidth notification setting for this server.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @return ApiCreateServerBandwidthNotificationSettingRequest
*/
func (a *DedicatedserverAPIService) CreateServerBandwidthNotificationSetting(ctx context.Context, serverId string) ApiCreateServerBandwidthNotificationSettingRequest {
	return ApiCreateServerBandwidthNotificationSettingRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
//  @return BandwidthNotificationSetting
func (a *DedicatedserverAPIService) CreateServerBandwidthNotificationSettingExecute(r ApiCreateServerBandwidthNotificationSettingRequest) (*BandwidthNotificationSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BandwidthNotificationSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.CreateServerBandwidthNotificationSetting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/notificationSettings/bandwidth"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bandwidthNotificationSettingOpts
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateServerCredentialRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
	createServerCredentialOpts *CreateServerCredentialOpts
}

func (r ApiCreateServerCredentialRequest) CreateServerCredentialOpts(createServerCredentialOpts CreateServerCredentialOpts) ApiCreateServerCredentialRequest {
	r.createServerCredentialOpts = &createServerCredentialOpts
	return r
}

func (r ApiCreateServerCredentialRequest) Execute() (*Credential, *http.Response, error) {
	return r.ApiService.CreateServerCredentialExecute(r)
}

/*
CreateServerCredential Create new server credentials

Password will NOT be updated on the server. The ability to update credentials
is for convenience only. It provides a secure way to communicate passwords
with Leaseweb engineers in case support is required.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @return ApiCreateServerCredentialRequest
*/
func (a *DedicatedserverAPIService) CreateServerCredential(ctx context.Context, serverId string) ApiCreateServerCredentialRequest {
	return ApiCreateServerCredentialRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
//  @return Credential
func (a *DedicatedserverAPIService) CreateServerCredentialExecute(r ApiCreateServerCredentialRequest) (*Credential, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Credential
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.CreateServerCredential")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createServerCredentialOpts
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
[...]
