/*
Dedicated Servers

This is the description of the Dedicated Server API.  The base url of this API is `https://api.leaseweb.com`.

API version: v2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dedicatedserver

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


type DedicatedserverAPI interface {

	/*
	AddToPrivateNetwork Add a server to private network

	It takes a few minutes before the server has access to the private network.

To get the current status of the server you can call
`/bareMetals/v2/servers/{serverId}`.

Once the server is added to the private network the status changes from
`CONFIGURING` to `CONFIGURED`.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param privateNetworkId The ID of a Private Network
	@return ApiAddToPrivateNetworkRequest
	*/
	AddToPrivateNetwork(ctx context.Context, serverId string, privateNetworkId string) ApiAddToPrivateNetworkRequest

	// AddToPrivateNetworkExecute executes the request
	AddToPrivateNetworkExecute(r ApiAddToPrivateNetworkRequest) (*http.Response, error)

	/*
	CancelActiveJob Cancel active job

	Canceling an active job will trigger the `onfail` flow of the current job
often resulting in a server reboot. If you do not want the server state to
change `expire` the active job instead.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiCancelActiveJobRequest
	*/
	CancelActiveJob(ctx context.Context, serverId string) ApiCancelActiveJobRequest

	// CancelActiveJobExecute executes the request
	//  @return Job
	CancelActiveJobExecute(r ApiCancelActiveJobRequest) (*Job, *http.Response, error)

	/*
	CloseNetworkInterface Close network interface

	Close the network interface of this type of this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param networkTypeURL
	@return ApiCloseNetworkInterfaceRequest
	*/
	CloseNetworkInterface(ctx context.Context, serverId string, networkTypeURL NetworkTypeURL) ApiCloseNetworkInterfaceRequest

	// CloseNetworkInterfaceExecute executes the request
	CloseNetworkInterfaceExecute(r ApiCloseNetworkInterfaceRequest) (*http.Response, error)

	/*
	CloseNetworkInterfaces Close all network interfaces

	Close all network interfaces for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiCloseNetworkInterfacesRequest
	*/
	CloseNetworkInterfaces(ctx context.Context, serverId string) ApiCloseNetworkInterfacesRequest

	// CloseNetworkInterfacesExecute executes the request
	CloseNetworkInterfacesExecute(r ApiCloseNetworkInterfacesRequest) (*http.Response, error)

	/*
	CreateBandwidthNotificationSetting Create a bandwidth notification setting

	Create a new bandwidth notification setting for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiCreateBandwidthNotificationSettingRequest
	*/
	CreateBandwidthNotificationSetting(ctx context.Context, serverId string) ApiCreateBandwidthNotificationSettingRequest

	// CreateBandwidthNotificationSettingExecute executes the request
	//  @return BandwidthNotificationSetting
	CreateBandwidthNotificationSettingExecute(r ApiCreateBandwidthNotificationSettingRequest) (*BandwidthNotificationSetting, *http.Response, error)

	/*
	CreateCredential Create new server credentials

	Password will NOT be updated on the server. The ability to update credentials
is for convenience only. It provides a secure way to communicate passwords
with Leaseweb engineers in case support is required.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiCreateCredentialRequest
	*/
	CreateCredential(ctx context.Context, serverId string) ApiCreateCredentialRequest

	// CreateCredentialExecute executes the request
	//  @return Credential
	CreateCredentialExecute(r ApiCreateCredentialRequest) (*Credential, *http.Response, error)

	/*
	CreateDataTrafficNotificationSetting Create a data traffic notification setting

	Create a new data traffic notification setting for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiCreateDataTrafficNotificationSettingRequest
	*/
	CreateDataTrafficNotificationSetting(ctx context.Context, serverId string) ApiCreateDataTrafficNotificationSettingRequest

	// CreateDataTrafficNotificationSettingExecute executes the request
	//  @return DataTrafficNotificationSetting
	CreateDataTrafficNotificationSettingExecute(r ApiCreateDataTrafficNotificationSettingRequest) (*DataTrafficNotificationSetting, *http.Response, error)

	/*
	CreateDhcpReservation Create a DHCP reservation

	After rebooting your server it will acquire this DHCP reservation and boot
from the specified `bootfile` url.

Please note that this API call will not reboot or power cycle your server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiCreateDhcpReservationRequest
	*/
	CreateDhcpReservation(ctx context.Context, serverId string) ApiCreateDhcpReservationRequest

	// CreateDhcpReservationExecute executes the request
	CreateDhcpReservationExecute(r ApiCreateDhcpReservationRequest) (*http.Response, error)

	/*
	DeleteBandwidthNotificationSetting Delete a bandwidth notification setting

	Remove a Bandwidth Notification setting for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param notificationSettingId The ID of a notification setting
	@return ApiDeleteBandwidthNotificationSettingRequest
	*/
	DeleteBandwidthNotificationSetting(ctx context.Context, serverId string, notificationSettingId string) ApiDeleteBandwidthNotificationSettingRequest

	// DeleteBandwidthNotificationSettingExecute executes the request
	DeleteBandwidthNotificationSettingExecute(r ApiDeleteBandwidthNotificationSettingRequest) (*http.Response, error)

	/*
	DeleteCredential Delete server credentials

	This action is purely administrative and will only remove the username and
password associated with this resource from our database.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param type_ The type of the credential.
	@param username Username
	@return ApiDeleteCredentialRequest
	*/
	DeleteCredential(ctx context.Context, serverId string, type_ CredentialType, username string) ApiDeleteCredentialRequest

	// DeleteCredentialExecute executes the request
	DeleteCredentialExecute(r ApiDeleteCredentialRequest) (*http.Response, error)

	/*
	DeleteDataTrafficNotificationSetting Delete a data traffic notification setting

	Delete the given data traffic notification setting for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param notificationSettingId The ID of a notification setting
	@return ApiDeleteDataTrafficNotificationSettingRequest
	*/
	DeleteDataTrafficNotificationSetting(ctx context.Context, serverId string, notificationSettingId string) ApiDeleteDataTrafficNotificationSettingRequest

	// DeleteDataTrafficNotificationSettingExecute executes the request
	DeleteDataTrafficNotificationSettingExecute(r ApiDeleteDataTrafficNotificationSettingRequest) (*http.Response, error)

	/*
	DeleteDhcpReservation Delete a DHCP reservation

	Delete a DHCP reservation for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiDeleteDhcpReservationRequest
	*/
	DeleteDhcpReservation(ctx context.Context, serverId string) ApiDeleteDhcpReservationRequest

	// DeleteDhcpReservationExecute executes the request
	DeleteDhcpReservationExecute(r ApiDeleteDhcpReservationRequest) (*http.Response, error)

	/*
	DeleteFromPrivateNetwork Delete a server from a private network

	This API call will remove the dedicated server from the private network.

It takes a few minutes before the server has been removed from the private
network.

To get the current status of the server you can call
`/bareMetals/v2/servers/{serverId}`.

While the server is being removed the status changes to `REMOVING`.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param privateNetworkId The ID of a Private Network
	@return ApiDeleteFromPrivateNetworkRequest
	*/
	DeleteFromPrivateNetwork(ctx context.Context, serverId string, privateNetworkId string) ApiDeleteFromPrivateNetworkRequest

	// DeleteFromPrivateNetworkExecute executes the request
	DeleteFromPrivateNetworkExecute(r ApiDeleteFromPrivateNetworkRequest) (*http.Response, error)

	/*
	EnableRescueMode Launch rescue mode

	Rescue mode allows you to trouble shoot your server in case your installed
operating system is no longer reachable.

You can supply a `postInstallScript` key in the body of the request which
should contain a base64 encoded string with a valid script. This script will
be executed as soon as rescue mode is launched and can be used to further
automate the process. A requirement for the post install script is that it
starts with a shebang line like `#!/usr/bin/env bash`.

After a rescue mode is launched you can manually reboot the server. After this
reboot the server will boot into the existing operating system.

To get a list of available rescue images, you could do so by sending a `GET`
request to `/bareMetals/v2/rescueImages`.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiEnableRescueModeRequest
	*/
	EnableRescueMode(ctx context.Context, serverId string) ApiEnableRescueModeRequest

	// EnableRescueModeExecute executes the request
	//  @return Job
	EnableRescueModeExecute(r ApiEnableRescueModeRequest) (*Job, *http.Response, error)

	/*
	ExpireActiveJob Expire active job

	Expiring an active job will not have any influence on the current state of the
server and is merely an administrative action.

Often you want to `cancel` the job, resulting in a server reboot. In that
case\nuse the `/cancelActiveJob` API call instead.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiExpireActiveJobRequest
	*/
	ExpireActiveJob(ctx context.Context, serverId string) ApiExpireActiveJobRequest

	// ExpireActiveJobExecute executes the request
	//  @return Job
	ExpireActiveJobExecute(r ApiExpireActiveJobRequest) (*Job, *http.Response, error)

	/*
	GetBandwidthMetrics Show bandwidth metrics

	At this moment only bandwidth information for the public interface is supported.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetBandwidthMetricsRequest
	*/
	GetBandwidthMetrics(ctx context.Context, serverId string) ApiGetBandwidthMetricsRequest

	// GetBandwidthMetricsExecute executes the request
	//  @return Metrics
	GetBandwidthMetricsExecute(r ApiGetBandwidthMetricsRequest) (*Metrics, *http.Response, error)

	/*
	GetBandwidthNotificationSetting Show a bandwidth notification setting

	Get a bandwidth notification setting for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param notificationSettingId The ID of a notification setting
	@return ApiGetBandwidthNotificationSettingRequest
	*/
	GetBandwidthNotificationSetting(ctx context.Context, serverId string, notificationSettingId string) ApiGetBandwidthNotificationSettingRequest

	// GetBandwidthNotificationSettingExecute executes the request
	//  @return BandwidthNotificationSetting
	GetBandwidthNotificationSettingExecute(r ApiGetBandwidthNotificationSettingRequest) (*BandwidthNotificationSetting, *http.Response, error)

	/*
	GetBandwidthNotificationSettingList List bandwidth notification settings

	List all bandwidth notification settings for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetBandwidthNotificationSettingListRequest
	*/
	GetBandwidthNotificationSettingList(ctx context.Context, serverId string) ApiGetBandwidthNotificationSettingListRequest

	// GetBandwidthNotificationSettingListExecute executes the request
	//  @return GetBandwidthNotificationSettingListResult
	GetBandwidthNotificationSettingListExecute(r ApiGetBandwidthNotificationSettingListRequest) (*GetBandwidthNotificationSettingListResult, *http.Response, error)

	/*
	GetControlPanelList List control panels

	An `id` of a control panel can be supplied when (re)installing a dedicated
server (for more information on how to install dedicated servers via the API
refer to the API documentation).


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetControlPanelListRequest
	*/
	GetControlPanelList(ctx context.Context) ApiGetControlPanelListRequest

	// GetControlPanelListExecute executes the request
	//  @return ControlPanelList
	GetControlPanelListExecute(r ApiGetControlPanelListRequest) (*ControlPanelList, *http.Response, error)

	/*
	GetControlPanelListByOperatingSystemId List control panels by Operating System

	An `id` of a control panel can be supplied when (re)installing a dedicated
server (for more information on how to install dedicated servers via the API
refer to the API documentation).

Not all operating systems support all control panels. Some operating systems
do not allow for installation of a control panel. To filter the list of
control panels which are supported for an operating system use the
`operatingSystemId` query string parameter to filter this list.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param operatingSystemId Operating system ID
	@return ApiGetControlPanelListByOperatingSystemIdRequest
	*/
	GetControlPanelListByOperatingSystemId(ctx context.Context, operatingSystemId string) ApiGetControlPanelListByOperatingSystemIdRequest

	// GetControlPanelListByOperatingSystemIdExecute executes the request
	//  @return ControlPanelList
	GetControlPanelListByOperatingSystemIdExecute(r ApiGetControlPanelListByOperatingSystemIdRequest) (*ControlPanelList, *http.Response, error)

	/*
	GetCredential Show server credentials

	View the password for the given credential, identified by `type` and
`username`. Auto generated credentials (during a re-install, rescue mode or
ipmi reset can be found here).


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param type_ The type of the credential.
	@param username Username
	@return ApiGetCredentialRequest
	*/
	GetCredential(ctx context.Context, serverId string, type_ CredentialType, username string) ApiGetCredentialRequest

	// GetCredentialExecute executes the request
	//  @return Credential
	GetCredentialExecute(r ApiGetCredentialRequest) (*Credential, *http.Response, error)

	/*
	GetCredentialList List server credentials

	The credentials API allows you to store usernames and passwords securely.

During (re)installations, rescue modes and ipmi resets the newly generated
passwords are stored and can be retrieved using this API.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetCredentialListRequest
	*/
	GetCredentialList(ctx context.Context, serverId string) ApiGetCredentialListRequest

	// GetCredentialListExecute executes the request
	//  @return CredentialList
	GetCredentialListExecute(r ApiGetCredentialListRequest) (*CredentialList, *http.Response, error)

	/*
	GetCredentialListByType List server credentials by type

	List all the credentials filtered by the specified type that are associated with this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param type_ The type of the credential.
	@return ApiGetCredentialListByTypeRequest
	*/
	GetCredentialListByType(ctx context.Context, serverId string, type_ CredentialType) ApiGetCredentialListByTypeRequest

	// GetCredentialListByTypeExecute executes the request
	//  @return CredentialList
	GetCredentialListByTypeExecute(r ApiGetCredentialListByTypeRequest) (*CredentialList, *http.Response, error)

	/*
	GetDataTrafficMetrics Show datatraffic metrics

	At this moment only bandwidth information for the public interface is supported.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetDataTrafficMetricsRequest
	*/
	GetDataTrafficMetrics(ctx context.Context, serverId string) ApiGetDataTrafficMetricsRequest

	// GetDataTrafficMetricsExecute executes the request
	//  @return Metrics
	GetDataTrafficMetricsExecute(r ApiGetDataTrafficMetricsRequest) (*Metrics, *http.Response, error)

	/*
	GetDataTrafficNotificationSetting Show a data traffic notification setting

	Get a datatraffic notification setting for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param notificationSettingId The ID of a notification setting
	@return ApiGetDataTrafficNotificationSettingRequest
	*/
	GetDataTrafficNotificationSetting(ctx context.Context, serverId string, notificationSettingId string) ApiGetDataTrafficNotificationSettingRequest

	// GetDataTrafficNotificationSettingExecute executes the request
	//  @return DataTrafficNotificationSetting
	GetDataTrafficNotificationSettingExecute(r ApiGetDataTrafficNotificationSettingRequest) (*DataTrafficNotificationSetting, *http.Response, error)

	/*
	GetDataTrafficNotificationSettingList List data traffic notification settings

	List all datatraffic notification settings for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetDataTrafficNotificationSettingListRequest
	*/
	GetDataTrafficNotificationSettingList(ctx context.Context, serverId string) ApiGetDataTrafficNotificationSettingListRequest

	// GetDataTrafficNotificationSettingListExecute executes the request
	//  @return GetDataTrafficNotificationSettingListResult
	GetDataTrafficNotificationSettingListExecute(r ApiGetDataTrafficNotificationSettingListRequest) (*GetDataTrafficNotificationSettingListResult, *http.Response, error)

	/*
	GetDdosNotificationSetting Inspect DDoS notification settings

	Show all DDoS Protection related notification settings for this server. These
settings control if you want to be notified via email in case a DDoS was
mitigated.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetDdosNotificationSettingRequest
	*/
	GetDdosNotificationSetting(ctx context.Context, serverId string) ApiGetDdosNotificationSettingRequest

	// GetDdosNotificationSettingExecute executes the request
	//  @return GetDdosNotificationSettingResult
	GetDdosNotificationSettingExecute(r ApiGetDdosNotificationSettingRequest) (*GetDdosNotificationSettingResult, *http.Response, error)

	/*
	GetDhcpReservationList List DHCP reservations

	Please note that this will only show reservations for the public network interface.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetDhcpReservationListRequest
	*/
	GetDhcpReservationList(ctx context.Context, serverId string) ApiGetDhcpReservationListRequest

	// GetDhcpReservationListExecute executes the request
	//  @return GetDhcpReservationListResult
	GetDhcpReservationListExecute(r ApiGetDhcpReservationListRequest) (*GetDhcpReservationListResult, *http.Response, error)

	/*
	GetHardware Show hardware information

	This information is generated when running a hardware scan for your server. A
hardware scan collects hardware information about your system.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetHardwareRequest
	*/
	GetHardware(ctx context.Context, serverId string) ApiGetHardwareRequest

	// GetHardwareExecute executes the request
	//  @return GetHardwareResult
	GetHardwareExecute(r ApiGetHardwareRequest) (*GetHardwareResult, *http.Response, error)

	/*
	GetIp Show a server IP

	Get a single IP address associated with this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param ip The IP Address
	@return ApiGetIpRequest
	*/
	GetIp(ctx context.Context, serverId string, ip string) ApiGetIpRequest

	// GetIpExecute executes the request
	//  @return Ip
	GetIpExecute(r ApiGetIpRequest) (*Ip, *http.Response, error)

	/*
	GetIpList List IPs

	List all IP Addresses associated with this server. Optionally filtered.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetIpListRequest
	*/
	GetIpList(ctx context.Context, serverId string) ApiGetIpListRequest

	// GetIpListExecute executes the request
	//  @return IpList
	GetIpListExecute(r ApiGetIpListRequest) (*IpList, *http.Response, error)

	/*
	GetJob Show a job

	Get a single job for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param jobId The ID of a Job
	@return ApiGetJobRequest
	*/
	GetJob(ctx context.Context, serverId string, jobId string) ApiGetJobRequest

	// GetJobExecute executes the request
	//  @return CurrentJob
	GetJobExecute(r ApiGetJobRequest) (*CurrentJob, *http.Response, error)

	/*
	GetJobList List jobs

	List all jobs for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetJobListRequest
	*/
	GetJobList(ctx context.Context, serverId string) ApiGetJobListRequest

	// GetJobListExecute executes the request
	//  @return JobList
	GetJobListExecute(r ApiGetJobListRequest) (*JobList, *http.Response, error)

	/*
	GetNetworkInterface Show a network interface

	Show the network interface of the given type of this server, including its status.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param networkTypeURL
	@return ApiGetNetworkInterfaceRequest
	*/
	GetNetworkInterface(ctx context.Context, serverId string, networkTypeURL NetworkTypeURL) ApiGetNetworkInterfaceRequest

	// GetNetworkInterfaceExecute executes the request
	//  @return OperationNetworkInterface
	GetNetworkInterfaceExecute(r ApiGetNetworkInterfaceRequest) (*OperationNetworkInterface, *http.Response, error)

	/*
	GetNetworkInterfaceList List network interfaces

	List all network interfaces for this server, including their current status.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetNetworkInterfaceListRequest
	*/
	GetNetworkInterfaceList(ctx context.Context, serverId string) ApiGetNetworkInterfaceListRequest

	// GetNetworkInterfaceListExecute executes the request
	//  @return GetNetworkInterfaceListResult
	GetNetworkInterfaceListExecute(r ApiGetNetworkInterfaceListRequest) (*GetNetworkInterfaceListResult, *http.Response, error)

	/*
	GetNullRouteHistory Show null route history

	Show all null route history for any ips associated with this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetNullRouteHistoryRequest
	*/
	GetNullRouteHistory(ctx context.Context, serverId string) ApiGetNullRouteHistoryRequest

	// GetNullRouteHistoryExecute executes the request
	//  @return NullRouteList
	GetNullRouteHistoryExecute(r ApiGetNullRouteHistoryRequest) (*NullRouteList, *http.Response, error)

	/*
	GetOperatingSystem Show an operating system

	This detailed information shows default options when installing the given
operating system on a dedicated server.

For some operating systems these defaults can be adjusted when making the
`POST` request to `/install`. If the `configurable` parameter is `true` these
defaults can be adjusted by the client.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param operatingSystemId Operating system ID
	@return ApiGetOperatingSystemRequest
	*/
	GetOperatingSystem(ctx context.Context, operatingSystemId string) ApiGetOperatingSystemRequest

	// GetOperatingSystemExecute executes the request
	//  @return GetOperatingSystemResult
	GetOperatingSystemExecute(r ApiGetOperatingSystemRequest) (*GetOperatingSystemResult, *http.Response, error)

	/*
	GetOperatingSystemList List Operating Systems

	An `id` of a operating system can be supplied when (re)installing a dedicated
server (for more information on how to install dedicated servers via the API
refer to the API documentation).


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetOperatingSystemListRequest
	*/
	GetOperatingSystemList(ctx context.Context) ApiGetOperatingSystemListRequest

	// GetOperatingSystemListExecute executes the request
	//  @return GetOperatingSystemListResult
	GetOperatingSystemListExecute(r ApiGetOperatingSystemListRequest) (*GetOperatingSystemListResult, *http.Response, error)

	/*
	GetPowerStatus Show power status

	The server can either be `ON` or `OFF`. Servers can be powered on or off by
using the respective `/powerOn` and `/powerOff` API calls. In addition servers
can also be rebooted using the `/powerCycle` API call.

The `pdu` object describes the power status from the power distribution unit
(PDU) point of view. If your server is connected to multiple PDU ports the
`status` property will report `on` if at least one PDU port has power.

The `ipmi` object describes the power status by quering the remote management
interface of your server.

Note that `pdu.status` can report `on` but your server can still be powered
off if it was shutdown via `IPMI` for example.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetPowerStatusRequest
	*/
	GetPowerStatus(ctx context.Context, serverId string) ApiGetPowerStatusRequest

	// GetPowerStatusExecute executes the request
	//  @return GetPowerStatusResult
	GetPowerStatusExecute(r ApiGetPowerStatusRequest) (*GetPowerStatusResult, *http.Response, error)

	/*
	GetRescueImageList Rescue Images

	Lists all Rescue Images which are available for launching a dedicated server
into rescue mode.

A `rescueImageId` can be supplied to the `POST /rescueMode` API call and will
reboot your server into rescue mode.

Launching rescue mode for a server is often used to troubleshoot an existing
installation.

Note that launching rescue mode does not modify any data on the disks of your
server. It will require your server to be rebooted.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRescueImageListRequest
	*/
	GetRescueImageList(ctx context.Context) ApiGetRescueImageListRequest

	// GetRescueImageListExecute executes the request
	//  @return GetRescueImageListResult
	GetRescueImageListExecute(r ApiGetRescueImageListRequest) (*GetRescueImageListResult, *http.Response, error)

	/*
	GetServer Get server

	Use this API to get information about a single server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiGetServerRequest
	*/
	GetServer(ctx context.Context, serverId string) ApiGetServerRequest

	// GetServerExecute executes the request
	//  @return Server
	GetServerExecute(r ApiGetServerRequest) (*Server, *http.Response, error)

	/*
	GetServerList List servers

	List your Dedicated Servers. This api call supports pagination. Use the
`limit` and `offset` query string parameters to paginate through all your
dedicated servers.

Every `server` object in the json response lists a few properties of a server.
Use the single resource api call to get more details for a single server.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetServerListRequest
	*/
	GetServerList(ctx context.Context) ApiGetServerListRequest

	// GetServerListExecute executes the request
	//  @return GetServerListResult
	GetServerListExecute(r ApiGetServerListRequest) (*GetServerListResult, *http.Response, error)

	/*
	InstallOperatingSystem Launch installation

	Install your server with an Operating System and optional Control Panel.

To retrieve a list of available operating systems use the
`/v2/operatingSystems` endpoint.

To retrieve a list of available control panels use the `/v2/controlPanels`
endpoint.

The default device / partitions to be used are operating system depended and
can be retrieved via the `/v2/operatingSystems/{operatingSystemId}` endpoint.

You are now able to target a specific diskset, like SATA1TB, SATA2TB, SSD256GB,
etc. To see which disksets are available in your server check the `/v2/servers/{serverId}`
endpoint and look for the corresponding diskset id from the hdd array.

For more information about Dedicated Server installation, [click here](https://kb.leaseweb.com/products/dedicated-server/reinstalling-your-dedicated-server) for our related Knowledge Base article.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiInstallOperatingSystemRequest
	*/
	InstallOperatingSystem(ctx context.Context, serverId string) ApiInstallOperatingSystemRequest

	// InstallOperatingSystemExecute executes the request
	//  @return ServerJob
	InstallOperatingSystemExecute(r ApiInstallOperatingSystemRequest) (*ServerJob, *http.Response, error)

	/*
	IpmiReset Launch IPMI reset

	A reset makes sure that your IPMI interface of your server is compatible with
Leaseweb automation.

An IPMI reset will require a reboot of your server. The contents of your hard
drive won't be altered in any way. After a successful IPMI reset your server
is booted back into the original operating system.",


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiIpmiResetRequest
	*/
	IpmiReset(ctx context.Context, serverId string) ApiIpmiResetRequest

	// IpmiResetExecute executes the request
	//  @return Job
	IpmiResetExecute(r ApiIpmiResetRequest) (*Job, *http.Response, error)

	/*
	NullIpRoute Null route an IP

	Null the given IP address. It might take a few minutes before the change is
propagated across the network.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param ip The IP Address
	@return ApiNullIpRouteRequest
	*/
	NullIpRoute(ctx context.Context, serverId string, ip string) ApiNullIpRouteRequest

	// NullIpRouteExecute executes the request
	//  @return Ip
	NullIpRouteExecute(r ApiNullIpRouteRequest) (*Ip, *http.Response, error)

	/*
	OpenNetworkInterface Open network interface

	Open all network interfaces of the given type for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param networkTypeURL
	@return ApiOpenNetworkInterfaceRequest
	*/
	OpenNetworkInterface(ctx context.Context, serverId string, networkTypeURL NetworkTypeURL) ApiOpenNetworkInterfaceRequest

	// OpenNetworkInterfaceExecute executes the request
	OpenNetworkInterfaceExecute(r ApiOpenNetworkInterfaceRequest) (*http.Response, error)

	/*
	OpenNetworkInterfaces Open all network interfaces

	Open all network interfaces of this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiOpenNetworkInterfacesRequest
	*/
	OpenNetworkInterfaces(ctx context.Context, serverId string) ApiOpenNetworkInterfacesRequest

	// OpenNetworkInterfacesExecute executes the request
	OpenNetworkInterfacesExecute(r ApiOpenNetworkInterfacesRequest) (*http.Response, error)

	/*
	PowerCycle Power cycle a server

	Powercyle the server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiPowerCycleRequest
	*/
	PowerCycle(ctx context.Context, serverId string) ApiPowerCycleRequest

	// PowerCycleExecute executes the request
	PowerCycleExecute(r ApiPowerCycleRequest) (*http.Response, error)

	/*
	PowerOff Power off server

	Power off the given server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiPowerOffRequest
	*/
	PowerOff(ctx context.Context, serverId string) ApiPowerOffRequest

	// PowerOffExecute executes the request
	PowerOffExecute(r ApiPowerOffRequest) (*http.Response, error)

	/*
	PowerOn Power on server

	Power on the given server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiPowerOnRequest
	*/
	PowerOn(ctx context.Context, serverId string) ApiPowerOnRequest

	// PowerOnExecute executes the request
	PowerOnExecute(r ApiPowerOnRequest) (*http.Response, error)

	/*
	RemoveNullIpRoute Remove a null route

	Remove an existing null route for the given IP address. It might take a few
minutes before the change is propagated across the network.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param ip The IP Address
	@return ApiRemoveNullIpRouteRequest
	*/
	RemoveNullIpRoute(ctx context.Context, serverId string, ip string) ApiRemoveNullIpRouteRequest

	// RemoveNullIpRouteExecute executes the request
	//  @return Ip
	RemoveNullIpRouteExecute(r ApiRemoveNullIpRouteRequest) (*Ip, *http.Response, error)

	/*
	RetryJob Retry a job

	Retry a job for a specific server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param jobId The ID of a Job
	@return ApiRetryJobRequest
	*/
	RetryJob(ctx context.Context, serverId string, jobId string) ApiRetryJobRequest

	// RetryJobExecute executes the request
	//  @return CurrentJob
	RetryJobExecute(r ApiRetryJobRequest) (*CurrentJob, *http.Response, error)

	/*
	ScanHardware Launch hardware scan

	A hardware scan collects hardware related information from your server.

A hardware scan will require a reboot of your server. The contents of your
hard drive won't be altered in any way. After a successful hardware scan your
server is booted back into the original operating system.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiScanHardwareRequest
	*/
	ScanHardware(ctx context.Context, serverId string) ApiScanHardwareRequest

	// ScanHardwareExecute executes the request
	//  @return Job
	ScanHardwareExecute(r ApiScanHardwareRequest) (*Job, *http.Response, error)

	/*
	UpdateBandwidthNotificationSetting Update a bandwidth notification setting

	Update an existing bandwidth notification setting for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param notificationSettingId The ID of a notification setting
	@return ApiUpdateBandwidthNotificationSettingRequest
	*/
	UpdateBandwidthNotificationSetting(ctx context.Context, serverId string, notificationSettingId string) ApiUpdateBandwidthNotificationSettingRequest

	// UpdateBandwidthNotificationSettingExecute executes the request
	//  @return BandwidthNotificationSetting
	UpdateBandwidthNotificationSettingExecute(r ApiUpdateBandwidthNotificationSettingRequest) (*BandwidthNotificationSetting, *http.Response, error)

	/*
	UpdateCredential Update server credentials

	The usernames or types cannot be changed. In order to change those remove this
credentials and create a new one.

This action is purely administrative and will only update the password
associated with this resource in our database.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param type_ The type of the credential.
	@param username Username
	@return ApiUpdateCredentialRequest
	*/
	UpdateCredential(ctx context.Context, serverId string, type_ CredentialType, username string) ApiUpdateCredentialRequest

	// UpdateCredentialExecute executes the request
	//  @return Credential
	UpdateCredentialExecute(r ApiUpdateCredentialRequest) (*Credential, *http.Response, error)

	/*
	UpdateDataTrafficNotificationSetting Update a data traffic notification setting

	Update an existing data traffic notification setting for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param notificationSettingId The ID of a notification setting
	@return ApiUpdateDataTrafficNotificationSettingRequest
	*/
	UpdateDataTrafficNotificationSetting(ctx context.Context, serverId string, notificationSettingId string) ApiUpdateDataTrafficNotificationSettingRequest

	// UpdateDataTrafficNotificationSettingExecute executes the request
	//  @return DataTrafficNotificationSettingOpts
	UpdateDataTrafficNotificationSettingExecute(r ApiUpdateDataTrafficNotificationSettingRequest) (*DataTrafficNotificationSettingOpts, *http.Response, error)

	/*
	UpdateDdosNotificationSetting Update DDoS notification settings

	Update your DDoS notification settings for this server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiUpdateDdosNotificationSettingRequest
	*/
	UpdateDdosNotificationSetting(ctx context.Context, serverId string) ApiUpdateDdosNotificationSettingRequest

	// UpdateDdosNotificationSettingExecute executes the request
	UpdateDdosNotificationSettingExecute(r ApiUpdateDdosNotificationSettingRequest) (*http.Response, error)

	/*
	UpdateIpProfile Update an IP

	Update the reverse lookup or DDoS detection profile for the ip address.

DDoS detection profiles can only be changed if the IP address is protected
using Advanced DDoS protection.

For more information about DDoS detection profiles [click here](https://kb.leaseweb.com/products/cyber-security/ddos-ip-protection#DDOSIPProtection-DDoSIPProtectionAdvancedDetectionprofiles) for our KB related article.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@param ip The IP Address
	@return ApiUpdateIpProfileRequest
	*/
	UpdateIpProfile(ctx context.Context, serverId string, ip string) ApiUpdateIpProfileRequest

	// UpdateIpProfileExecute executes the request
	//  @return Ip
	UpdateIpProfileExecute(r ApiUpdateIpProfileRequest) (*Ip, *http.Response, error)

	/*
	UpdateReference Update server

	Update the reference for a server.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param serverId The ID of a server
	@return ApiUpdateReferenceRequest
	*/
	UpdateReference(ctx context.Context, serverId string) ApiUpdateReferenceRequest

	// UpdateReferenceExecute executes the request
	UpdateReferenceExecute(r ApiUpdateReferenceRequest) (*http.Response, error)
}

// DedicatedserverAPIService DedicatedserverAPI service
type DedicatedserverAPIService service

type ApiAddToPrivateNetworkRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
	privateNetworkId string
	addToPrivateNetworkOpts *AddToPrivateNetworkOpts
}

func (r ApiAddToPrivateNetworkRequest) AddToPrivateNetworkOpts(addToPrivateNetworkOpts AddToPrivateNetworkOpts) ApiAddToPrivateNetworkRequest {
	r.addToPrivateNetworkOpts = &addToPrivateNetworkOpts
	return r
}

func (r ApiAddToPrivateNetworkRequest) Execute() (*http.Response, error) {
	return r.ApiService.AddToPrivateNetworkExecute(r)
}

/*
AddToPrivateNetwork Add a server to private network

It takes a few minutes before the server has access to the private network.

To get the current status of the server you can call
`/bareMetals/v2/servers/{serverId}`.

Once the server is added to the private network the status changes from
`CONFIGURING` to `CONFIGURED`.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @param privateNetworkId The ID of a Private Network
 @return ApiAddToPrivateNetworkRequest
*/
func (a *DedicatedserverAPIService) AddToPrivateNetwork(ctx context.Context, serverId string, privateNetworkId string) ApiAddToPrivateNetworkRequest {
	return ApiAddToPrivateNetworkRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
		privateNetworkId: privateNetworkId,
	}
}

// Execute executes the request
func (a *DedicatedserverAPIService) AddToPrivateNetworkExecute(r ApiAddToPrivateNetworkRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.AddToPrivateNetwork")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/privateNetworks/{privateNetworkId}"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"privateNetworkId"+"}", url.PathEscape(parameterValueToString(r.privateNetworkId, "privateNetworkId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addToPrivateNetworkOpts
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCancelActiveJobRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
}

func (r ApiCancelActiveJobRequest) Execute() (*Job, *http.Response, error) {
	return r.ApiService.CancelActiveJobExecute(r)
}

/*
CancelActiveJob Cancel active job

Canceling an active job will trigger the `onfail` flow of the current job
often resulting in a server reboot. If you do not want the server state to
change `expire` the active job instead.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @return ApiCancelActiveJobRequest
*/
func (a *DedicatedserverAPIService) CancelActiveJob(ctx context.Context, serverId string) ApiCancelActiveJobRequest {
	return ApiCancelActiveJobRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
//  @return Job
func (a *DedicatedserverAPIService) CancelActiveJobExecute(r ApiCancelActiveJobRequest) (*Job, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Job
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.CancelActiveJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/cancelActiveJob"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCloseNetworkInterfaceRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
	networkTypeURL NetworkTypeURL
}

func (r ApiCloseNetworkInterfaceRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloseNetworkInterfaceExecute(r)
}

/*
CloseNetworkInterface Close network interface

Close the network interface of this type of this server.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @param networkTypeURL
 @return ApiCloseNetworkInterfaceRequest
*/
func (a *DedicatedserverAPIService) CloseNetworkInterface(ctx context.Context, serverId string, networkTypeURL NetworkTypeURL) ApiCloseNetworkInterfaceRequest {
	return ApiCloseNetworkInterfaceRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
		networkTypeURL: networkTypeURL,
	}
}

// Execute executes the request
func (a *DedicatedserverAPIService) CloseNetworkInterfaceExecute(r ApiCloseNetworkInterfaceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.CloseNetworkInterface")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/networkInterfaces/{networkTypeURL}/close"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"networkTypeURL"+"}", url.PathEscape(parameterValueToString(r.networkTypeURL, "networkTypeURL")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCloseNetworkInterfacesRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
}

func (r ApiCloseNetworkInterfacesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CloseNetworkInterfacesExecute(r)
}

/*
CloseNetworkInterfaces Close all network interfaces

Close all network interfaces for this server.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @return ApiCloseNetworkInterfacesRequest
*/
func (a *DedicatedserverAPIService) CloseNetworkInterfaces(ctx context.Context, serverId string) ApiCloseNetworkInterfacesRequest {
	return ApiCloseNetworkInterfacesRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
func (a *DedicatedserverAPIService) CloseNetworkInterfacesExecute(r ApiCloseNetworkInterfacesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.CloseNetworkInterfaces")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/networkInterfaces/close"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCreateBandwidthNotificationSettingRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
	bandwidthNotificationSettingOpts *BandwidthNotificationSettingOpts
}

func (r ApiCreateBandwidthNotificationSettingRequest) BandwidthNotificationSettingOpts(bandwidthNotificationSettingOpts BandwidthNotificationSettingOpts) ApiCreateBandwidthNotificationSettingRequest {
	r.bandwidthNotificationSettingOpts = &bandwidthNotificationSettingOpts
	return r
}

func (r ApiCreateBandwidthNotificationSettingRequest) Execute() (*BandwidthNotificationSetting, *http.Response, error) {
	return r.ApiService.CreateBandwidthNotificationSettingExecute(r)
}

/*
CreateBandwidthNotificationSetting Create a bandwidth notification setting

Create a new bandwidth notification setting for this server.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @return ApiCreateBandwidthNotificationSettingRequest
*/
func (a *DedicatedserverAPIService) CreateBandwidthNotificationSetting(ctx context.Context, serverId string) ApiCreateBandwidthNotificationSettingRequest {
	return ApiCreateBandwidthNotificationSettingRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
//  @return BandwidthNotificationSetting
func (a *DedicatedserverAPIService) CreateBandwidthNotificationSettingExecute(r ApiCreateBandwidthNotificationSettingRequest) (*BandwidthNotificationSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BandwidthNotificationSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.CreateBandwidthNotificationSetting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/notificationSettings/bandwidth"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bandwidthNotificationSettingOpts
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateCredentialRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
	createCredentialOpts *CreateCredentialOpts
}

func (r ApiCreateCredentialRequest) CreateCredentialOpts(createCredentialOpts CreateCredentialOpts) ApiCreateCredentialRequest {
	r.createCredentialOpts = &createCredentialOpts
	return r
}

func (r ApiCreateCredentialRequest) Execute() (*Credential, *http.Response, error) {
	return r.ApiService.CreateCredentialExecute(r)
}

/*
CreateCredential Create new server credentials

Password will NOT be updated on the server. The ability to update credentials
is for convenience only. It provides a secure way to communicate passwords
with Leaseweb engineers in case support is required.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @return ApiCreateCredentialRequest
*/
func (a *DedicatedserverAPIService) CreateCredential(ctx context.Context, serverId string) ApiCreateCredentialRequest {
	return ApiCreateCredentialRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
//  @return Credential
func (a *DedicatedserverAPIService) CreateCredentialExecute(r ApiCreateCredentialRequest) (*Credential, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Credential
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.CreateCredential")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createCredentialOpts
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateDataTrafficNotificationSettingRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
	dataTrafficNotificationSettingOpts *DataTrafficNotificationSettingOpts
}

func (r ApiCreateDataTrafficNotificationSettingRequest) DataTrafficNotificationSettingOpts(dataTrafficNotificationSettingOpts DataTrafficNotificationSettingOpts) ApiCreateDataTrafficNotificationSettingRequest {
	r.dataTrafficNotificationSettingOpts = &dataTrafficNotificationSettingOpts
	return r
}

func (r ApiCreateDataTrafficNotificationSettingRequest) Execute() (*DataTrafficNotificationSetting, *http.Response, error) {
	return r.ApiService.CreateDataTrafficNotificationSettingExecute(r)
}

/*
CreateDataTrafficNotificationSetting Create a data traffic notification setting

Create a new data traffic notification setting for this server.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @return ApiCreateDataTrafficNotificationSettingRequest
*/
func (a *DedicatedserverAPIService) CreateDataTrafficNotificationSetting(ctx context.Context, serverId string) ApiCreateDataTrafficNotificationSettingRequest {
	return ApiCreateDataTrafficNotificationSettingRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
//  @return DataTrafficNotificationSetting
func (a *DedicatedserverAPIService) CreateDataTrafficNotificationSettingExecute(r ApiCreateDataTrafficNotificationSettingRequest) (*DataTrafficNotificationSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DataTrafficNotificationSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.CreateDataTrafficNotificationSetting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/notificationSettings/datatraffic"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dataTrafficNotificationSettingOpts
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateDhcpReservationRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
	createDhcpReservationOpts *CreateDhcpReservationOpts
}

func (r ApiCreateDhcpReservationRequest) CreateDhcpReservationOpts(createDhcpReservationOpts CreateDhcpReservationOpts) ApiCreateDhcpReservationRequest {
	r.createDhcpReservationOpts = &createDhcpReservationOpts
	return r
}

func (r ApiCreateDhcpReservationRequest) Execute() (*http.Response, error) {
	return r.ApiService.CreateDhcpReservationExecute(r)
}

/*
CreateDhcpReservation Create a DHCP reservation

After rebooting your server it will acquire this DHCP reservation and boot
from the specified `bootfile` url.

Please note that this API call will not reboot or power cycle your server.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @return ApiCreateDhcpReservationRequest
*/
func (a *DedicatedserverAPIService) CreateDhcpReservation(ctx context.Context, serverId string) ApiCreateDhcpReservationRequest {
	return ApiCreateDhcpReservationRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
	}
}

// Execute executes the request
func (a *DedicatedserverAPIService) CreateDhcpReservationExecute(r ApiCreateDhcpReservationRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.CreateDhcpReservation")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/leases"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createDhcpReservationOpts
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteBandwidthNotificationSettingRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
	notificationSettingId string
}

func (r ApiDeleteBandwidthNotificationSettingRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteBandwidthNotificationSettingExecute(r)
}

/*
DeleteBandwidthNotificationSetting Delete a bandwidth notification setting

Remove a Bandwidth Notification setting for this server.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @param notificationSettingId The ID of a notification setting
 @return ApiDeleteBandwidthNotificationSettingRequest
*/
func (a *DedicatedserverAPIService) DeleteBandwidthNotificationSetting(ctx context.Context, serverId string, notificationSettingId string) ApiDeleteBandwidthNotificationSettingRequest {
	return ApiDeleteBandwidthNotificationSettingRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
		notificationSettingId: notificationSettingId,
	}
}

// Execute executes the request
func (a *DedicatedserverAPIService) DeleteBandwidthNotificationSettingExecute(r ApiDeleteBandwidthNotificationSettingRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.DeleteBandwidthNotificationSetting")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/notificationSettings/bandwidth/{notificationSettingId}"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"notificationSettingId"+"}", url.PathEscape(parameterValueToString(r.notificationSettingId, "notificationSettingId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteCredentialRequest struct {
	ctx context.Context
	ApiService DedicatedserverAPI
	serverId string
	type_ CredentialType
	username string
}

func (r ApiDeleteCredentialRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteCredentialExecute(r)
}

/*
DeleteCredential Delete server credentials

This action is purely administrative and will only remove the username and
password associated with this resource from our database.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serverId The ID of a server
 @param type_ The type of the credential.
 @param username Username
 @return ApiDeleteCredentialRequest
*/
func (a *DedicatedserverAPIService) DeleteCredential(ctx context.Context, serverId string, type_ CredentialType, username string) ApiDeleteCredentialRequest {
	return ApiDeleteCredentialRequest{
		ApiService: a,
		ctx: ctx,
		serverId: serverId,
		type_: type_,
		username: username,
	}
}

// Execute executes the request
func (a *DedicatedserverAPIService) DeleteCredentialExecute(r ApiDeleteCredentialRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DedicatedserverAPIService.DeleteCredential")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servers/{serverId}/credentials/{type}/{username}"
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"username"+"}", url.PathEscape(parameterValueToString(r.username, "username")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-LSW-Auth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-LSW-Auth"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
[...]
