openapi: 3.0.0
info:
  contact: {}
  description: This documents the rest api dedicatedserver provides.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Leaseweb API for dedicated servers
  version: v2
  x-logo:
    altText: Leaseweb developer documentation
    backgroundColor: '#5484c6'
    href: https://developer.leaseweb.com
    url: https://developer.leaseweb.com/images/logo.png
servers:
- url: https://api.leaseweb.com/bareMetals/v2
tags:
- description: |
    The API uses standard HTTP status codes to indicate the success or failure of the API call. The response will be JSON. Most APIs use the following format:

    ```json
    {
        "errorCode": "APP00800",
        "errorMessage": "The connection with the DB cannot be established.",
        "correlationId": "550e8400-e29b-41d4-a716-446655440000",
        "userMessage": "Cannot handle your request at the moment. Please try again later.",
        "reference": "https://developer.leaseweb.com/errors/APP00800"
    }
    ```
  name: Errors
  x-traitTag: true
  x-displayName: Errors
- description: |
    Authentication for the APIs is required. To authenticate your call, you will need to sent your API key as `X-LSW-Auth` header.

    You can generate API keys in the [Customer Portal](https://secure.leaseweb.com/api-client-management/).
  name: API Key Authentication
  x-traitTag: true
  x-displayName: API Key Authentication
- name: Getting Started
  x-displayName: Getting Started
- name: IPs
  x-displayName: IPs
- name: Network Equipment
  x-displayName: Network Equipment
- name: Private Networks
  x-displayName: Private Networks
- name: Servers
  x-displayName: Servers
- name: Control Panels
  x-displayName: Control Panels
- name: Credentials
  x-displayName: Credentials
- name: DHCP Leases
  x-displayName: DHCP Leases
- name: Jobs
  x-displayName: Jobs
- name: Operating Systems
  x-displayName: Operating Systems
- name: Power
  x-displayName: Power
- name: Rescue Images
  x-displayName: Rescue Images
- name: Metrics
  x-displayName: Metrics
- name: Notification Settings
  x-displayName: Notification Settings
- name: Network Interfaces
  x-displayName: Network Interfaces
paths:
  /networkEquipments:
    get:
      description: |
        List your Dedicated Network Equipment. This api call supports pagination. Use
        the `limit` and `offset` query string parameters to paginate through all your
        dedicated network equipment.

        Every `network equipment` object in the json response lists a few properties
        of a network equipment. Use the single resource api call to get more details
        for a single network equipment.
      operationId: getNetworkEquipmentList
      parameters:
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Filter the list of network equipment by reference.
        example: my-switch
        explode: true
        in: query
        name: reference
        required: false
        schema:
          type: string
        style: form
      - description: Filter the list of network equipment by ip address.
        example: 127.0.0.4
        explode: true
        in: query
        name: ip
        required: false
        schema:
          format: ipv4
          type: string
        style: form
      - description: Filter the list of network equipment by mac address.
        example: aa:bb:cc:dd:ee:ff
        explode: true
        in: query
        name: macAddress
        required: false
        schema:
          $ref: '#/components/schemas/macAddress'
        style: form
      - description: Filter the list of network equipment by site (location).
        example: FRA-10
        explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - description: Filter the list of network equipment by dedicated rack id.
        example: "123"
        explode: true
        in: query
        name: privateRackId
        required: false
        schema:
          type: string
        style: form
      - description: Filter the list for private network capable network equipment
        explode: true
        in: query
        name: privateNetworkCapable
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Filter the list for private network enabled network equipment
        explode: true
        in: query
        name: privateNetworkEnabled
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 20
                  offset: 0
                  totalCount: 2
                networkEquipments:
                - contract:
                    customerId: "10085996"
                    deliveryStatus: ACTIVE
                    id: "49031391001170"
                    reference: My Private Switch
                    salesOrgId: "2000"
                  featureAvailability:
                    automation: true
                    ipmiReboot: false
                    powerCycle: true
                    privateNetwork: false
                    remoteManagement: false
                  id: "12345"
                  location:
                    rack: YY11
                    site: AMS-01
                    suite: HALL3
                    unit: "21"
                  networkInterfaces:
                    internal:
                      gateway: null
                      ip: null
                      ports: []
                    public:
                      gateway: 127.0.2.254
                      ip: 127.0.2.1/24
                      locationId: ""
                      nullRouted: false
                      ports: []
                    remoteManagement:
                      gateway: null
                      ip: null
                      locationId: null
                      ports: []
                  type: SWITCH
                - contract:
                    customerId: "10085996"
                    deliveryStatus: ACTIVE
                    id: "49031513001110"
                    reference: My Other Private Switch
                    salesOrgId: "2000"
                  featureAvailability:
                    automation: false
                    ipmiReboot: false
                    powerCycle: false
                    privateNetwork: false
                    remoteManagement: false
                  id: "45678"
                  location:
                    rack: XX00
                    site: AMS-01
                    suite: HALL3
                    unit: "21"
                  networkInterfaces:
                    internal:
                      gateway: null
                      ip: null
                      ports: []
                    public:
                      gateway: 127.1.1.254
                      ip: 127.1.1.68/24
                      locationId: ""
                      nullRouted: false
                      ports: []
                    remoteManagement:
                      gateway: null
                      ip: null
                      locationId: null
                      ports: []
                  type: SWITCH
              schema:
                $ref: '#/components/schemas/getNetworkEquipmentListResult'
          description: Ok.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      security:
      - X-LSW-Auth: []
      summary: List network equipment
      tags:
      - dedicatedserver
  /networkEquipments/{networkEquipmentId}:
    get:
      description: |
        Use this API to get information about a single network equipment.
      operationId: getNetworkEquipment
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                contract:
                  aggregationPackId: null
                  billingCycle: 1
                  billingFrequency: MONTH
                  contractTerm: 12
                  contractType: NORMAL
                  currency: EUR
                  customerId: "10085996"
                  deliveryStatus: ACTIVE
                  endsAt: null
                  id: "49031391001170"
                  networkTraffic:
                    connectivityType: INTERCONNECTED
                    datatrafficLimit: null
                    datatrafficUnit: null
                    trafficType: null
                    type: null
                  pricePerFrequency: "0.00"
                  reference: My Switch
                  salesOrgId: "2000"
                  sla: Platinum
                  startsAt: 2017-08-01T00:00:00Z
                  status: ACTIVE
                  subnets: []
                featureAvailability:
                  automation: true
                  ipmiReboot: false
                  powerCycle: true
                  privateNetwork: false
                  remoteManagement: false
                id: "12345"
                location:
                  rack: YY11
                  site: AMS-01
                  suite: HALL3
                  unit: "21"
                name: ABC-DE-001
                networkInterfaces:
                  internal:
                    gateway: null
                    ip: null
                    ports: []
                  public:
                    gateway: 127.0.0..254
                    ip: 127.0.0..124/24
                    locationId: ""
                    nullRouted: false
                    ports: []
                  remoteManagement:
                    gateway: null
                    ip: null
                    locationId: null
                    ports: []
                powerPorts:
                - name: AMS-01-HALL3-YY11-PDU01
                  port: "7"
                rack:
                  capacity: ""
                  id: "11111"
                serialNumber: XN51FPD0QX
                specs:
                  brand: HP
                  model: PC 2530-48 J9781A
                type: SWITCH
              schema:
                $ref: '#/components/schemas/networkEquipment'
          description: Ok.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      security:
      - X-LSW-Auth: []
      summary: Get network equipment
      tags:
      - dedicatedserver
    put:
      description: |
        Update the reference for a network equipment.
      operationId: updateNetworkEquipmentReference
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              reference: my-private-switch
            schema:
              $ref: '#/components/schemas/updateNetworkEquipmentReferenceOpts'
        required: true
      responses:
        "204":
          description: No Content.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Update network equipment
      tags:
      - dedicatedserver
  /networkEquipments/{networkEquipmentId}/ips:
    get:
      description: |
        List all IP Addresses associated with this network equipment. Optionally
        filtered.
      operationId: getNetworkEquipmentIpList
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: Filter the collection of ip addresses by network type
        explode: true
        in: query
        name: networkType
        required: false
        schema:
          $ref: '#/components/schemas/networkType'
        style: form
      - description: Filter the collection by ip version
        explode: true
        in: query
        name: version
        required: false
        schema:
          type: string
        style: form
      - description: Filter Ips by Nulled-Status
        explode: true
        in: query
        name: nullRouted
        required: false
        schema:
          type: string
        style: form
      - description: Filter the collection of Ips for the comma separated list of
          Ips
        explode: true
        in: query
        name: ips
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 10
                  offset: 0
                  totalCount: 2
                ips:
                - ddos:
                    detectionProfile: ADVANCED_LOW_UDP
                    protectionType: ADVANCED
                  floatingIp: false
                  gateway: 12.123.123.254
                  ip: 12.123.123.1/24
                  mainIp: true
                  networkType: PUBLIC
                  nullRouted: true
                  reverseLookup: domain.example.com
                  version: 4
                - ddos:
                    detectionProfile: STANDARD_DEFAULT
                    protectionType: STANDARD
                  floatingIp: false
                  gateway: 2001:db8:85a3::8a2e:370:1
                  ip: 2001:db8:85a3::8a2e:370:7334/64
                  mainIp: false
                  networkType: REMOTE_MANAGEMENT
                  nullRouted: false
                  reverseLookup: domain.example.com
                  version: 6
              schema:
                $ref: '#/components/schemas/getNetworkEquipmentIpListResult'
          description: Ok.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: List IPs
      tags:
      - dedicatedserver
  /networkEquipments/{networkEquipmentId}/ips/{ip}:
    get:
      description: |
        Get a single IP address associated with this network equipment.
      operationId: getNetworkEquipmentIp
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: The IP Address
        example: 127.0.0.6
        explode: false
        in: path
        name: ip
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                ddos:
                  detectionProfile: ADVANCED_LOW_UDP
                  protectionType: ADVANCED
                floatingIp: false
                gateway: 12.123.123.254
                ip: 12.123.123.1/24
                mainIp: true
                networkType: PUBLIC
                nullRouted: false
                reverseLookup: domain.example.com
                version: 4
              schema:
                $ref: '#/components/schemas/ip'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Show a network equipment IP
      tags:
      - dedicatedserver
    put:
      description: |
        Update the reverse lookup or DDoS detection profile for the ip address.

        DDoS detection profiles can only be changed if the IP address is protected
        using Advanced DDoS protection.

        For more information about DDoS detection profiles [click here](https://kb.leaseweb.com/products/cyber-security/ddos-ip-protection#DDOSIPProtection-DDoSIPProtectionAdvancedDetectionprofiles) for our KB related article.
      operationId: updateNetworkEquipmentIp
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: The IP Address
        example: 127.0.0.6
        explode: false
        in: path
        name: ip
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              detectionProfile: ADVANCED_LOW_UDP
              reverseLookup: domain.example.com
            schema:
              $ref: '#/components/schemas/updateNetworkEquipmentIpOpts'
      responses:
        "200":
          content:
            application/json:
              example:
                ddos:
                  detectionProfile: ADVANCED_LOW_UDP
                  protectionType: ADVANCED
                floatingIp: false
                gateway: 12.123.123.254
                ip: 12.123.123.1/24
                mainIp: true
                networkType: PUBLIC
                nullRouted: false
                reverseLookup: domain.example.com
                version: 4
              schema:
                $ref: '#/components/schemas/ip'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Update an IP
      tags:
      - dedicatedserver
  /networkEquipments/{networkEquipmentId}/ips/{ip}/null:
    post:
      description: |
        Null the given IP address. It might take a few minutes before the change is
        propagated across the network.
      operationId: nullNetworkEquipmentIpRoute
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: The IP Address
        example: 127.0.0.6
        explode: false
        in: path
        name: ip
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              example:
                ddos:
                  detectionProfile: ADVANCED_LOW_UDP
                  protectionType: ADVANCED
                floatingIp: false
                gateway: 12.123.123.254
                ip: 12.123.123.1/24
                mainIp: true
                networkType: PUBLIC
                nullRouted: false
                reverseLookup: domain.example.com
                version: 4
              schema:
                $ref: '#/components/schemas/ip'
          description: Accepted.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Null route an IP
      tags:
      - dedicatedserver
  /networkEquipments/{networkEquipmentId}/ips/{ip}/unnull:
    post:
      description: |
        Remove an existing null route for the given IP address. It might take a few
        minutes before the change is propagated across the network.
      operationId: unNullNetworkEquipmentIpRoute
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: The IP Address
        example: 127.0.0.6
        explode: false
        in: path
        name: ip
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              example:
                ddos:
                  detectionProfile: ADVANCED_LOW_UDP
                  protectionType: ADVANCED
                floatingIp: false
                gateway: 12.123.123.254
                ip: 12.123.123.1/24
                mainIp: true
                networkType: PUBLIC
                nullRouted: false
                reverseLookup: domain.example.com
                version: 4
              schema:
                $ref: '#/components/schemas/ip'
          description: Accepted.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Remove a null route
      tags:
      - dedicatedserver
  /networkEquipments/{networkEquipmentId}/nullRouteHistory:
    get:
      description: |
        Show all null route history for any ips associated with this a network
        equipment.
      operationId: getNetworkEquipmentNullRouteHistory
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 10
                  offset: 0
                  totalCount: 1
                nullRoutes:
                - automatedUnnullingAt: 2016-08-12T07:45:33+00:00
                  comment: Device Null Route related to DDoS Mitigation
                  ip: 1.1.1.1/32
                  nullLevel: 3
                  nulledAt: 2016-08-12T07:40:27+00:00
                  ticketId: "282912"
              schema:
                $ref: '#/components/schemas/getNetworkEquipmentNullRouteHistoryResult'
          description: Ok.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Show null route history
      tags:
      - dedicatedserver
  /servers:
    get:
      description: |
        List your Dedicated Servers. This api call supports pagination. Use the
        `limit` and `offset` query string parameters to paginate through all your
        dedicated servers.

        Every `server` object in the json response lists a few properties of a server.
        Use the single resource api call to get more details for a single server.
      operationId: getServerList
      parameters:
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Filter the list of servers by reference.
        example: my-db
        explode: true
        in: query
        name: reference
        required: false
        schema:
          type: string
        style: form
      - description: Filter the list of servers by ip address.
        example: 127.0.0.4
        explode: true
        in: query
        name: ip
        required: false
        schema:
          format: ipv4
          type: string
        style: form
      - description: Filter the list of servers by mac address.
        example: aa:bb:cc:dd:ee:ff
        explode: true
        in: query
        name: macAddress
        required: false
        schema:
          $ref: '#/components/schemas/macAddress'
        style: form
      - description: Filter the list of servers by site (location).
        example: FRA-10
        explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - description: Filter the list of servers by dedicated rack id.
        example: "123"
        explode: true
        in: query
        name: privateRackId
        required: false
        schema:
          type: string
        style: form
      - description: Filter the list for private network capable servers
        explode: true
        in: query
        name: privateNetworkCapable
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Filter the list for private network enabled servers
        explode: true
        in: query
        name: privateNetworkEnabled
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 2
                  offset: 80
                  totalCount: 132
                servers:
                - assetId: "627293"
                  contract:
                    customerId: "32923828192"
                    deliveryStatus: ACTIVE
                    id: "674382"
                    reference: database.server
                    salesOrgId: "2300"
                  featureAvailability:
                    automation: true
                    ipmiReboot: false
                    powerCycle: true
                    privateNetwork: true
                    remoteManagement: false
                  id: "12345"
                  location:
                    rack: A83
                    site: AMS-01
                    suite: "99"
                    unit: 16-17
                  networkInterfaces:
                    internal:
                      gateway: 10.22.192.12
                      ip: 10.22.192.3
                      mac: AA:BB:CC:DD:EE:FF
                      ports:
                      - name: EVO-AABB-01
                        port: "30"
                    public:
                      gateway: 95.211.162.62
                      ip: 95.211.162.0
                      mac: AA:AC:CC:88:EE:E4
                      ports: []
                    remoteManagement:
                      gateway: 10.22.192.126
                      ip: 10.22.192.1
                      mac: AA:AC:CC:88:EE:E4
                      ports: []
                  powerPorts:
                  - name: EVO-JV12-APC02
                    port: "10"
                  privateNetworks:
                  - id: "1"
                    linkSpeed: 1000
                    status: CONFIGURED
                    subnet: 127.0.0.80/24
                    vlanId: "2120"
                  rack:
                    type: SHARED
                - assetId: "627294"
                  contract:
                    customerId: "32923828192"
                    deliveryStatus: ACTIVE
                    id: "929282"
                    reference: web.server
                    salesOrgId: "2300"
                  featureAvailability:
                    automation: false
                    powerCycle: false
                    privateNetwork: false
                    remoteManagement: false
                  id: "47854"
                  location:
                    rack: "13"
                    site: AMS-01
                    suite: A6
                    unit: "18"
                  networkInterfaces:
                    internal:
                      mac: null
                      ip: null
                      nullRouted: null
                      gateway: null
                      ports: []
                    public:
                      mac: null
                      ip: null
                      nullRouted: null
                      gateway: null
                      ports: []
                    remoteManagement:
                      mac: null
                      ip: null
                      nullRouted: null
                      gateway: null
                      ports: []
                  privateNetworks:
                  - id: "2"
                    linkSpeed: 1000
                    status: CONFIGURED
                    subnet: 127.0.0.80/24
                    vlanId: "2130"
                  rack:
                    type: SHARED
              schema:
                $ref: '#/components/schemas/getServerListResult'
          description: Ok.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      security:
      - X-LSW-Auth: []
      summary: List servers
      tags:
      - dedicatedserver
  /servers/{serverId}:
    get:
      description: |
        Use this API to get information about a single server.
      operationId: getServer
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                assetId: "627294"
                contract:
                  billingCycle: 12
                  billingFrequency: MONTH
                  contractTerm: 12
                  currency: EUR
                  customerId: "32923828192"
                  deliveryStatus: ACTIVE
                  endsAt: 2023-01-01T00:00:00Z
                  id: "674382"
                  networkTraffic:
                    datatrafficLimit: 100
                    datatrafficUnit: TB|Mbps
                    trafficType: PREMIUM|VOLUME
                    type: 95|FLATFEE|DATATRAFFIC
                  pricePerFrequency: "1090.52"
                  reference: database.server
                  salesOrgId: "2300"
                  sla: BRONZE
                  softwareLicenses:
                  - currency: EUR
                    name: WINDOWS_2012_R2_SERVER
                    price: 12.12
                  startsAt: 2010-01-01T00:00:00Z
                featureAvailability:
                  automation: true
                  ipmiReboot: false
                  powerCycle: true
                  privateNetwork: true
                  remoteManagement: false
                id: "12345"
                location:
                  rack: "13"
                  site: AMS-01
                  suite: A6
                  unit: 16-17
                networkInterfaces:
                  internal:
                    gateway: 123.123.123.126
                    ip: 123.123.123.123/27
                    mac: AA:BB:CC:DD:EE:FF
                    ports: []
                  public:
                    gateway: 123.123.123.126
                    ip: 123.123.123.123/27
                    mac: AA:BB:CC:DD:EE:FF
                    ports:
                    - name: EVO-JV12-1
                      port: "33"
                  remoteManagement:
                    mac: null
                    ip: null
                    nullRouted: null
                    gateway: null
                    ports: []
                    locationId: null
                powerPorts:
                - name: EVO-JV12-APC02
                  port: "10"
                privateNetworks:
                - id: "1"
                  linkSpeed: 1000
                  status: CONFIGURED
                  subnet: 127.0.0.80/24
                  vlanId: "2120"
                rack:
                  type: DEDICATED
                serialNumber: JDK18291JK
                specs:
                  chassis: Dell R210 II
                  cpu:
                    quantity: 4
                    type: Intel Xeon E3-1220
                  hardwareRaidCapable: true
                  hdd:
                  - amount: 2
                    id: SATA2TB
                    performanceType: null
                    size: 2
                    type: SATA
                    unit: TB
                  pciCards:
                  - description: 2x10GE UTP card
                  - description: 2x30GE UTP card
                  ram:
                    size: 32
                    unit: GB
              schema:
                $ref: '#/components/schemas/server'
          description: Ok.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      security:
      - X-LSW-Auth: []
      summary: Get server
      tags:
      - dedicatedserver
    put:
      description: |
        Update the reference for a server.
      operationId: updateServerReference
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              reference: database-server
            schema:
              $ref: '#/components/schemas/updateServerReferenceOpts'
        required: true
      responses:
        "204":
          description: No Content.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Update server
      tags:
      - dedicatedserver
  /servers/{serverId}/ips:
    get:
      description: |
        List all IP Addresses associated with this server. Optionally filtered.
      operationId: getServerIpList
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      - description: Filter the collection of ip addresses by network type
        explode: true
        in: query
        name: networkType
        required: false
        schema:
          $ref: '#/components/schemas/networkType'
        style: form
      - description: Filter the collection by ip version
        explode: true
        in: query
        name: version
        required: false
        schema:
          type: string
        style: form
      - description: Filter Ips by Nulled-Status
        explode: true
        in: query
        name: nullRouted
        required: false
        schema:
          type: string
        style: form
      - description: Filter the collection of Ips for the comma separated list of
          Ips
        explode: true
        in: query
        name: ips
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                ddos:
                  detectionProfile: ADVANCED_LOW_UDP
                  protectionType: ADVANCED
                floatingIp: false
                gateway: 12.123.123.254
                ip: 12.123.123.1/24
                mainIp: true
                networkType: PUBLIC
                nullRouted: false
                reverseLookup: domain.example.com
                version: 4
              schema:
                $ref: '#/components/schemas/ip'
          description: Ok.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: List IPs
      tags:
      - dedicatedserver
  /servers/{serverId}/ips/{ip}:
    get:
      description: |
        Get a single IP address associated with this server.
      operationId: getServerIp
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      - description: The IP Address
        example: 127.0.0.6
        explode: false
        in: path
        name: ip
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                ddos:
                  detectionProfile: ADVANCED_LOW_UDP
                  protectionType: ADVANCED
                floatingIp: false
                gateway: 12.123.123.254
                ip: 12.123.123.1/24
                mainIp: true
                networkType: PUBLIC
                nullRouted: false
                reverseLookup: domain.example.com
                version: 4
              schema:
                $ref: '#/components/schemas/ip'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Show a server IP
      tags:
      - dedicatedserver
    put:
      description: |
        Update the reverse lookup or DDoS detection profile for the ip address.

        DDoS detection profiles can only be changed if the IP address is protected
        using Advanced DDoS protection.

        For more information about DDoS detection profiles [click here](https://kb.leaseweb.com/products/cyber-security/ddos-ip-protection#DDOSIPProtection-DDoSIPProtectionAdvancedDetectionprofiles) for our KB related article.
      operationId: updateIpProfile
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      - description: The IP Address
        example: 127.0.0.6
        explode: false
        in: path
        name: ip
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              detectionProfile: ADVANCED_LOW_UDP
              reverseLookup: domain.example.com
            schema:
              $ref: '#/components/schemas/updateIpProfileOpts'
      responses:
        "200":
          content:
            application/json:
              example:
                ddos:
                  detectionProfile: ADVANCED_LOW_UDP
                  protectionType: ADVANCED
                floatingIp: false
                gateway: 12.123.123.254
                ip: 12.123.123.1/24
                mainIp: true
                networkType: PUBLIC
                nullRouted: false
                reverseLookup: domain.example.com
                version: 4
              schema:
                $ref: '#/components/schemas/ip'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Update an IP
      tags:
      - dedicatedserver
  /servers/{serverId}/ips/{ip}/null:
    post:
      description: |
        Null the given IP address. It might take a few minutes before the change is
        propagated across the network.
      operationId: nullIpRoute
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      - description: The IP Address
        example: 127.0.0.6
        explode: false
        in: path
        name: ip
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              example:
                ddos:
                  detectionProfile: ADVANCED_LOW_UDP
                  protectionType: ADVANCED
                floatingIp: false
                gateway: 12.123.123.254
                ip: 12.123.123.1/24
                mainIp: true
                networkType: PUBLIC
                nullRouted: false
                reverseLookup: domain.example.com
                version: 4
              schema:
                $ref: '#/components/schemas/ip'
          description: Accepted.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Null route an IP
      tags:
      - dedicatedserver
  /servers/{serverId}/ips/{ip}/unnull:
    post:
      description: |
        Remove an existing null route for the given IP address. It might take a few
        minutes before the change is propagated across the network.
      operationId: removeNullIpRoute
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      - description: The IP Address
        example: 127.0.0.6
        explode: false
        in: path
        name: ip
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              example:
                ddos:
                  detectionProfile: ADVANCED_LOW_UDP
                  protectionType: ADVANCED
                floatingIp: false
                gateway: 12.123.123.254
                ip: 12.123.123.1/24
                mainIp: true
                networkType: PUBLIC
                nullRouted: false
                reverseLookup: domain.example.com
                version: 4
              schema:
                $ref: '#/components/schemas/ip'
          description: Accepted.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorDetails: {}
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Remove a null route
      tags:
      - dedicatedserver
  /servers/{serverId}/nullRouteHistory:
    get:
      description: |
        Show all null route history for any ips associated with this server.
      operationId: getServerNullRouteHistory
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 10
                  offset: 0
                  totalCount: 1
                nullRoutes:
                - automatedUnnullingAt: 2016-08-12T07:45:33+00:00
                  comment: Device Null Route related to DDoS Mitigation
                  ip: 1.1.1.1/32
                  nullLevel: 3
                  nulledAt: 2016-08-12T07:40:27+00:00
                  ticketId: "282912"
              schema:
                $ref: '#/components/schemas/getServerNullRouteHistoryResult'
          description: Ok.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Show null route history
      tags:
      - dedicatedserver
  /servers/{serverId}/privateNetworks/{privateNetworkId}:
    delete:
      description: |
        This API call will remove the dedicated server from the private network.

        It takes a few minutes before the server has been removed from the private
        network.

        To get the current status of the server you can call
        `/bareMetals/v2/servers/{serverId}`.

        While the server is being removed the status changes to `REMOVING`.
      operationId: deleteServerFromPrivateNetwork
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of a Private Network
        example: "892"
        explode: false
        in: path
        name: privateNetworkId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content.
        "400":
          content:
            application/json:
              example:
                correlationId: f8d84555-9822-49fb-919a-d4945b201fe3
                errorCode: "400"
                errorMessage: Equipment 27072 is not part of private network 3943
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      security:
      - X-LSW-Auth: []
      summary: Delete a server from a private network
      tags:
      - dedicatedserver
    put:
      description: |
        It takes a few minutes before the server has access to the private network.

        To get the current status of the server you can call
        `/bareMetals/v2/servers/{serverId}`.

        Once the server is added to the private network the status changes from
        `CONFIGURING` to `CONFIGURED`.
      operationId: addServerToPrivateNetwork
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of a Private Network
        example: "892"
        explode: false
        in: path
        name: privateNetworkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              linkSpeed: 100
            schema:
              $ref: '#/components/schemas/addServerToPrivateNetworkOpts'
      responses:
        "204":
          description: No Content.
        "400":
          content:
            application/json:
              example:
                correlationId: f8d84555-9822-49fb-919a-d4945b201fe3
                errorCode: "400"
                errorMessage: Equipment 27072 is not part of private network 3943
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "404":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "404"
                errorMessage: Resource not found
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Found.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "503"
                errorMessage: The API is not available at the moment.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Service Unavailable.
      security:
      - X-LSW-Auth: []
      summary: Add a server to private network
      tags:
      - dedicatedserver
  /controlPanels:
    get:
      description: |
        An `id` of a control panel can be supplied when (re)installing a dedicated
        server (for more information on how to install dedicated servers via the API
        refer to the API documentation).
      operationId: getControlPanelList
      parameters:
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 10
                  offset: 0
                  totalCount: 2
                controlPanels:
                - id: CPANEL_PREMIER_100
                  name: cPanel Premier 100
                - id: CPANEL_PREMIER_150
                  name: cPanel Premier 150
                - id: CPANEL_PREMIER_200
                  name: cPanel Premier 200
                - id: CPANEL_PREMIER_250
                  name: cPanel Premier 250
                - id: PLESK_DEDSER_WEB_ADMIN
                  name: Plesk Web Admin 10 Domains
                - id: PLESK_DEDSER_WEB_PRO
                  name: Plesk Web Pro 30 Domains
                - id: PLESK_DEDSER_WEB_HOST
                  name: Plesk Web Host Unlimited Domains
                - id: VESTA
                  name: Vesta CP
              schema:
                $ref: '#/components/schemas/controlPanelList'
          description: Ok.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: List control panels
      tags:
      - dedicatedserver
  /networkEquipments/{networkEquipmentId}/credentials:
    get:
      description: |
        The credentials API allows you to store usernames and passwords securely.
      operationId: getNetworkEquipmentCredentialList
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 20
                  offset: 0
                  totalCount: 13
                credentials:
                - type: REMOTE_MANAGEMENT
                  username: admin
                - type: RESCUE_MODE
                  username: root
                - type: OPERATING_SYSTEM
                  username: root
                - type: CONTROL_PANEL
                  username: user
                - type: SWITCH
                  username: admin
                - type: PDU
                  username: root
                - type: FIREWALL
                  username: root
                - type: LOAD_BALANCER
                  username: user
                - type: VNC
                  username: admin
                - type: TEMPORARY_OPERATING_SYSTEM
                  username: root
                - type: VPN_USER
                  username: root
                - type: COMBINATION_LOCK
                  username: user
                - type: DATABASE
                  username: user
              schema:
                $ref: '#/components/schemas/credentialList'
          description: Ok.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: List network equipment credentials
      tags:
      - dedicatedserver
    post:
      description: |
        Password will NOT be updated on the network equipment. The ability to update
        credentials is for convenience only. It provides a secure way to communicate
        passwords with Leaseweb engineers in case support is required.
      operationId: createNetworkEquipmentCredential
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              password: mys3cr3tp@ssw0rd
              type: OPERATING_SYSTEM
              username: root
            schema:
              $ref: '#/components/schemas/createNetworkEquipmentCredentialOpts'
      responses:
        "200":
          content:
            application/json:
              example:
                password: mys3cr3tp@ssw0rd
                type: OPERATING_SYSTEM
                username: root
              schema:
                $ref: '#/components/schemas/credential'
          description: Ok.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Create new network equipment credentials
      tags:
      - dedicatedserver
  /networkEquipments/{networkEquipmentId}/credentials/{type}:
    get:
      description: |
        List all the credentials filtered by the specified type that are associated
        with this network equipment.
      operationId: getNetworkEquipmentCredentialListByType
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: The type of the credential.
        explode: false
        in: path
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/credentialType'
        style: simple
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 20
                  offset: 0
                  totalCount: 2
                credentials:
                - type: OPERATING_SYSTEM
                  username: root
                - type: OPERATING_SYSTEM
                  username: user
              schema:
                $ref: '#/components/schemas/credentialList'
          description: Ok.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: List network equipment credentials by type
      tags:
      - dedicatedserver
  /networkEquipments/{networkEquipmentId}/credentials/{type}/{username}:
    delete:
      description: |
        This action is purely administrative and will only remove the username and
        password associated with this resource from our database.
      operationId: deleteNetworkEquipmentCredential
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: The type of the credential.
        explode: false
        in: path
        name: type
        required: true
        schema:
          $ref: '#/components/schemas/credentialType'
        style: simple
      - description: Username
        explode: false
        in: path
        name: username
        required: true
        schema:
          example: root
          type: string
        style: simple
      responses:
        "204":
          description: No Content.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      security:
      - X-LSW-Auth: []
      summary: Delete network equipment credentials
      tags:
      - dedicatedserver
    get:
      description: |
        View the password for the given credential, identified by `type` and
        `username`.
      operationId: getNetworkEquipmentCredential
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
[...]
