openapi: 3.0.0
info:
  contact:
    email: development-networkautomation@leaseweb.com
    name: Network Automation Team
  description: This documents the rest api bmp api provides.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: bmp
  version: v2
servers:
- url: https://api.leaseweb.com/internal/bmpapi/v2
security:
- OAuth2: []
- BearerAuth: []
- ApiKeyAuth: []
tags:
- description: Servers
  name: Servers
- description: Network Equipment
  name: Network Equipment
- description: DHCP Leases
  name: DHCP Leases
- description: Jobs
  name: Jobs
- description: Credentials
  name: Credentials
- description: Power
  name: Power
- description: Operating Systems
  name: Operating Systems
- description: Control Panels
  name: Control Panels
- description: Rescue Images
  name: Rescue Images
- description: Internal
  name: Internal
paths:
  /controlPanels:
    get:
      description: |
        An `id` of a control panel can be supplied when (re)installing a dedicated
        server (for more information on how to install dedicated servers via the API
        refer to the API documentation).
      operationId: getControlPanelList
      parameters:
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 10
                  offset: 0
                  totalCount: 2
                controlPanels:
                - id: CPANEL_PREMIER_100
                  name: cPanel Premier 100
                - id: CPANEL_PREMIER_150
                  name: cPanel Premier 150
                - id: CPANEL_PREMIER_200
                  name: cPanel Premier 200
                - id: CPANEL_PREMIER_250
                  name: cPanel Premier 250
                - id: PLESK_DEDSER_WEB_ADMIN
                  name: Plesk Web Admin 10 Domains
                - id: PLESK_DEDSER_WEB_PRO
                  name: Plesk Web Pro 30 Domains
                - id: PLESK_DEDSER_WEB_HOST
                  name: Plesk Web Host Unlimited Domains
                - id: VESTA
                  name: Vesta CP
              schema:
                $ref: '#/components/schemas/controlPanelList'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: List control panels
      tags:
      - bmp
  /networkEquipments/{networkEquipmentId}/credentials:
    get:
      description: |
        The credentials API allows you to store usernames and passwords securely.
      operationId: networkEquipments-credentials-list
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 10
                  offset: 0
                  totalCount: 4
                credentials:
                - type: REMOTE_MANAGEMENT
                  username: admin
                - type: REMOTE_MANAGEMENT
                  username: root
                - type: OPERATING_SYSTEM
                  username: root
                - type: OPERATING_SYSTEM
                  username: user
              schema:
                $ref: '#/components/schemas/credentialList'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: List credentials
      tags:
      - bmp
    post:
      description: |
        Password will NOT be updated on the network equipment. The ability to update
        credentials is for convenience only. It provides a secure way to communicate
        passwords with Leaseweb engineers in case support is required.
      operationId: networkEquipments-credentials-post
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              password: mys3cr3tp@ssw0rd
              type: OPERATING_SYSTEM
              username: root
            schema:
              $ref: '#/components/schemas/createNetworkEquipmentCredentialOpts'
      responses:
        "200":
          content:
            application/json:
              example:
                password: mys3cr3tp@ssw0rd
                type: OPERATING_SYSTEM
                username: root
              schema:
                $ref: '#/components/schemas/credential'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Create new credentials
      tags:
      - bmp
  /networkEquipments/{networkEquipmentId}/credentials/{type}:
    get:
      description: |
        List all the credentials filtered by the specified type that are associated
        with this network equipment.
      operationId: getNetworkEquipmentCredentialListByType
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: Credential type
        explode: false
        in: path
        name: type
        required: true
        schema:
          example: OPERATING_SYSTEM
          type: string
        style: simple
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 10
                  offset: 0
                  totalCount: 1
                credentials:
                - type: OPERATING_SYSTEM
                  username: root
              schema:
                $ref: '#/components/schemas/credentialList'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: List credentials by type
      tags:
      - bmp
  /networkEquipments/{networkEquipmentId}/credentials/{type}/{username}:
    delete:
      description: |
        This action is purely administrative and will only remove the username and
        password associated with this resource from our database.
      operationId: deleteNetworkEquipmentCredential
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: Credential type
        explode: false
        in: path
        name: type
        required: true
        schema:
          example: OPERATING_SYSTEM
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: username
        required: true
        schema:
          example: root
          type: string
        style: simple
      responses:
        "204":
          description: No Content.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Delete user credentials
      tags:
      - bmp
    get:
      description: |
        View the password for the given credential, identified by `type` and
        `username`.
      operationId: networkEquipments-credentials-get
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: Credential type
        explode: false
        in: path
        name: type
        required: true
        schema:
          example: OPERATING_SYSTEM
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: username
        required: true
        schema:
          example: root
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                password: mys3cr3tp@ssw0rd
                type: OPERATING_SYSTEM
                username: root
              schema:
                $ref: '#/components/schemas/credential'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Show user credentials
      tags:
      - bmp
    put:
      description: |
        The usernames or types cannot be changed. In order to change those remove this
        credentials and create a new one.

        This action is purely administrative and will only update the password
        associated with this resource in our database.
      operationId: updateNetworkEquipmentCredential
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: Credential type
        explode: false
        in: path
        name: type
        required: true
        schema:
          example: OPERATING_SYSTEM
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: username
        required: true
        schema:
          example: root
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              password: mys3cr3tp@ssw0rd
            schema:
              $ref: '#/components/schemas/updateNetworkEquipmentCredentialOpts'
      responses:
        "200":
          content:
            application/json:
              example:
                password: mys3cr3tp@ssw0rd
                type: OPERATING_SYSTEM
                username: root
              schema:
                $ref: '#/components/schemas/credential'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Update user credentials
      tags:
      - bmp
  /networkEquipments/{networkEquipmentId}/powerCycle:
    post:
      description: |
        Powercyle the network equipment.
      operationId: powerCycleNetworkEquipment
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Power cycle a network equipment
      tags:
      - bmp
  /networkEquipments/{networkEquipmentId}/powerInfo:
    get:
      description: |
        The network equipment can either be `ON` or `OFF`. Network Equipment can be
        powered on or off by using the respective `/powerOn` and `/powerOff` API
        calls. In addition network equipment can also be rebooted using the
        `/powerCycle` API call.

        The `pdu` object describes the power status from the power distribution unit
        (PDU) point of view. If your network equipment is connected to multiple PDU
        ports the `status` property will report `on` if at least one PDU port has
        power.
      operationId: getNetworkEquipmentPowerStatus
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                pdu:
                  status: "on"
              schema:
                $ref: '#/components/schemas/getNetworkEquipmentPowerStatusResult'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Show power status
      tags:
      - bmp
  /networkEquipments/{networkEquipmentId}/powerOff:
    post:
      description: |
        Power off the given network equipment.
      operationId: powerNetworkEquipmentOff
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Power off network equipment
      tags:
      - bmp
  /networkEquipments/{networkEquipmentId}/powerOn:
    post:
      description: |
        Power on the given network equipment.
      operationId: powerNetworkEquipmentOn
      parameters:
      - description: The ID of a dedicated network equipment
        example: "12345"
        explode: false
        in: path
        name: networkEquipmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Power on network equipment
      tags:
      - bmp
  /operatingSystems:
    get:
      description: |
        An `id` of a operating system can be supplied when (re)installing a dedicated
        server (for more information on how to install dedicated servers via the API
        refer to the API documentation).
      operationId: getOperatingSystemList
      parameters:
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Filter operating systems by control panel id
        explode: true
        in: query
        name: controlPanelId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 100
                  offset: 0
                  totalCount: 26
                operatingSystems:
                - id: ALMALINUX_8_64BIT
                  name: AlmaLinux 8 (x86_64)
                - id: CENTOS_7_64BIT
                  name: CentOS 7 (x86_64)
                - id: ROCKY_LINUX_8_64BIT
                  name: Rocky Linux 8 (x86_64)
                - id: DEBIAN_11_64BIT
                  name: Debian 11 (amd64)
                - id: DEBIAN_10_64BIT
                  name: Debian 10 (amd64)
                - id: UBUNTU_22_04_64BIT
                  name: Ubuntu 22.04 LTS (Jammy Jellyfish) (amd64)
                - id: UBUNTU_20_04_64BIT
                  name: Ubuntu 20.04 LTS (Focal Fossa) (amd64)
                - id: UBUNTU_18_04_64BIT
                  name: Ubuntu 18.04 LTS (Bionic Beaver) (amd64)
                - id: WINDOWS_SERVER_2019_STANDARD_64BIT
                  name: Windows Server 2019 Standard (x64)
                - id: WINDOWS_SERVER_2019_DATACENTER_64BIT
                  name: Windows Server 2019 Datacenter (x64)
                - id: WINDOWS_SERVER_2016_STANDARD_64BIT
                  name: Windows Server 2016 Standard (x64)
                - id: WINDOWS_SERVER_2016_DATACENTER_64BIT
                  name: Windows Server 2016 Datacenter (x64)
                - id: WINDOWS_SERVER_2012_R2_STANDARD_64BIT
                  name: Windows Server 2012 R2 Standard (x64)
                - id: WINDOWS_SERVER_2012_R2_DATACENTER_64BIT
                  name: Windows Server 2012 R2 Datacenter (x64)
                - id: WINDOWS_SERVER_2012_STANDARD_64BIT
                  name: Windows Server 2012 Standard (x64) (Only available to existing
                    license holders)
                - id: WINDOWS_SERVER_2012_DATACENTER_64BIT
                  name: Windows Server 2012 Datacenter (x64) (Only available to existing
                    license holders)
                - id: ESXI_7_0_64BIT_CSTM
                  name: ESXi 7.0 Targeted (x86_64)
                - id: ESXI_7_0_64BIT
                  name: ESXi 7.0 (x86_64)
                - id: ESXI_6_7_64BIT_CSTM
                  name: ESXi 6.7 Targeted (x86_64)
                - id: ESXI_6_7_64BIT
                  name: ESXi 6.7 (x86_64)
                - id: ESXI_6_5_64BIT_CSTM
                  name: ESXi 6.5 Targeted (x86_64)
                - id: ESXI_6_5_64BIT
                  name: ESXi 6.5 (x86_64)
                - id: FREEBSD_13_64BIT
                  name: FreeBSD 13.1 (amd64)
                - id: FREEBSD_12_64BIT
                  name: FreeBSD 12.3 (amd64)
              schema:
                $ref: '#/components/schemas/getOperatingSystemListResult'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: List Operating Systems
      tags:
      - bmp
  /operatingSystems/{operatingSystemId}:
    get:
      description: |
        This detailed information shows default options when installing the given
        operating system on a dedicated server.

        For some operating systems these defaults can be adjusted when making the
        `POST` request to `/install`. If the `configurable` parameter is `true` these
        defaults can be adjusted by the client.
      operationId: getOperatingSystem
      parameters:
      - description: Operating system ID
        explode: false
        in: path
        name: operatingSystemId
        required: true
        schema:
          example: UBUNTU_22_04_64BIT
          type: string
        style: simple
      - description: The Control Panel ID
        explode: true
        in: query
        name: controlPanelId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                id: CENTOS_7_64BIT
                name: CentOS 7 (x86_64)
                family: centos
                version: "7"
                architecture: 64bit
                configurable: true
                type: linux
                features:
                - PARTITIONING
                - SW_RAID
                - TIMEZONE
                - HOSTNAME
                - SSH_KEYS
                - POST_INSTALL_SCRIPTS
                - CONTROL_PANEL
                - DB_MARIADB
                - DB_REDIS
                - DB_MONGODB
                - DB_POSTGRESQL
                supportedFileSystems:
                - ext2
                - ext3
                - ext4
                - xfs
                - swap
                supportedBootDevices:
                - SATA_SAS
                - NVME
                defaults:
                  device: SATA_SAS
                  partitions:
                  - mountpoint: /boot
                    size: "1024"
                    filesystem: ext2
                  - size: "4096"
                    filesystem: swap
                  - mountpoint: /tmp
                    size: "4096"
                    filesystem: ext4
                  - mountpoint: /
                    size: '*'
                    filesystem: ext4
              schema:
                $ref: '#/components/schemas/getOperatingSystemResult'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Show an operating system
      tags:
      - bmp
  /operatingSystems/{operatingSystemId}/controlPanels:
    get:
      description: |
        An `id` of a control panel can be supplied when (re)installing a dedicated
        server (for more information on how to install dedicated servers via the API
        refer to the API documentation).

        Not all operating systems support all control panels. Some operating systems
        do not allow for installation of a control panel. To filter the list of
        control panels which are supported for an operating system use the
        `operatingSystemId` query string parameter to filter this list.
      operationId: getControlPanelListByOperatingSystem
      parameters:
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: Operating system ID
        explode: false
        in: path
        name: operatingSystemId
        required: true
        schema:
          example: UBUNTU_22_04_64BIT
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 10
                  offset: 0
                  totalCount: 2
                controlPanels:
                - id: CPANEL_PREMIER_100
                  name: cPanel Premier 100
                - id: CPANEL_PREMIER_150
                  name: cPanel Premier 150
                - id: CPANEL_PREMIER_200
                  name: cPanel Premier 200
                - id: CPANEL_PREMIER_250
                  name: cPanel Premier 250
                - id: PLESK_DEDSER_WEB_ADMIN
                  name: Plesk Web Admin 10 Domains
                - id: PLESK_DEDSER_WEB_PRO
                  name: Plesk Web Pro 30 Domains
                - id: PLESK_DEDSER_WEB_HOST
                  name: Plesk Web Host Unlimited Domains
                - id: VESTA
                  name: Vesta CP
              schema:
                $ref: '#/components/schemas/controlPanelList'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: List control panels
      tags:
      - bmp
  /rescueImages:
    get:
      description: |
        Lists all Rescue Images which are available for launching a dedicated server
        into rescue mode.

        A `rescueImageId` can be supplied to the `POST /rescueMode` API call and will
        reboot your server into rescue mode.

        Launching rescue mode for a server is often used to troubleshoot an existing
        installation.

        Note that launching rescue mode does not modify any data on the disks of your
        server. It will require your server to be rebooted.
      operationId: getRescueImageList
      parameters:
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 10
                  offset: 0
                  totalCount: 2
                rescueImages:
                - id: GRML
                  name: GRML Linux Rescue Image (amd64)
                - id: CENTOS_7
                  name: CentOS 7 Linux Rescue Image (amd64)
                - id: FREEBSD
                  name: FreeBSD Rescue Image (amd64)
              schema:
                $ref: '#/components/schemas/getRescueImageListResult'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Rescue Images
      tags:
      - bmp
  /servers/{serverId}/cancelActiveJob:
    post:
      description: |
        Canceling an active job will trigger the `onfail` flow of the current job
        often resulting in a server reboot. If you do not want the server state to
        change `expire` the active job instead.
      operationId: cancelActiveJob
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                createdAt: 2021-01-09T08:54:06+0000
                flow: '#stop'
                isRunning: false
                node: 80:18:44:E0:AF:C4!JGNTQ92
                payload:
                  configurable: true
                  device: SATA2TB
                  fileserverBaseUrl: ""
                  jobType: install
                  numberOfDisks: null
                  operatingSystemId: UBUNTU_22_04_64BIT
                  os:
                    architecture: 64bit
                    family: ubuntu
                    name: Ubuntu 22.04 LTS (Jammy Jellyfish) (amd64)
                    type: linux
                    version: "22.04"
                  partitions:
                  - filesystem: swap
                    size: 4096
                  pop: AMS-01
                  powerCycle: true
                  raidLevel: null
                  serverId: "99944"
                  timezone: UTC
                  x: 1
                progress:
                  canceled: 1
                  expired: 0
                  failed: 0
                  finished: 0
                  inprogress: 0
                  pending: 0
                  percentage: 0
                  total: 1
                  waiting: 0
                serverId: "99944"
                status: CANCELED
                tasks:
                - description: dummy
                  errorMessage: The job was canceled by the api consumer
                  flow: tasks
                  onError: break
                  status: CANCELED
                  statusTimestamps:
                    CANCELED: 2021-01-09T08:54:15+00:00
                    PENDING: 2021-01-09T08:54:06+00:00
                    WAITING: 2021-01-09T08:54:06+00:00
                  uuid: 085ce145-39bd-4cb3-8e2b-53f17a97a463
                type: install
                updatedAt: 2021-01-09T08:54:15+0000
                uuid: c77d8a6b-d255-4744-8b95-8bf4af6f8b48
              schema:
                $ref: '#/components/schemas/serverJob'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Cancel active job
      tags:
      - bmp
  /servers/{serverId}/configureHardwareRaid:
    post:
      description: |
        This is an `internal` only job that can be used to configure Hardware RAID on
        servers that are Hardware RAID capable.

        All existing data will be destroyed!
      operationId: configureHardwareRaid
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              level: 1
              numberOfDisks: 2
              powerCycle: true
              type: HW
            schema:
              $ref: '#/components/schemas/configureHardwareRaidOpts'
      responses:
        "202":
          content:
            application/json:
              example:
                _metadata:
                  limit: 10
                  offset: 0
                  totalCount: 1
                jobs:
                - createdAt: 2018-01-09T10:38:12+0000
                  flow: tasks
                  isRunning: true
                  node: 80:18:44:E0:AF:C4!JGNTQ92
                  progress:
                    canceled: 0
                    expired: 0
                    failed: 0
                    finished: 0
                    inprogress: 0
                    pending: 1
                    percentage: 0
                    total: 1
                    waiting: 0
                  serverId: "99944"
                  status: ACTIVE
                  type: install
                  updatedAt: 2018-01-09T10:38:12+0000
                  uuid: 3a867358-5b4b-44ee-88ac-4274603ef641
              schema:
                $ref: '#/components/schemas/serverJobList'
          description: Accepted.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Configure Hardware Raid
      tags:
      - bmp
  /servers/{serverId}/credentials:
    get:
      description: |
        The credentials API allows you to store usernames and passwords securely.

        During (re)installations, rescue modes and ipmi resets the newly generated
        passwords are stored and can be retrieved using this API.
      operationId: getServerCredentialList
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 10
                  offset: 0
                  totalCount: 4
                credentials:
                - type: REMOTE_MANAGEMENT
                  username: admin
                - type: REMOTE_MANAGEMENT
                  username: root
                - type: OPERATING_SYSTEM
                  username: root
                - type: OPERATING_SYSTEM
                  username: user
              schema:
                $ref: '#/components/schemas/credentialList'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: List credentials
      tags:
      - bmp
    post:
      description: |
        Password will NOT be updated on the server. The ability to update credentials
        is for convenience only. It provides a secure way to communicate passwords
        with Leaseweb engineers in case support is required.
      operationId: addServerCredential
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              password: mys3cr3tp@ssw0rd
              type: OPERATING_SYSTEM
              username: root
            schema:
              $ref: '#/components/schemas/createServerCredentialOpts'
      responses:
        "200":
          content:
            application/json:
              example:
                password: mys3cr3tp@ssw0rd
                type: OPERATING_SYSTEM
                username: root
              schema:
                $ref: '#/components/schemas/credential'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Create new credentials
      tags:
      - bmp
  /servers/{serverId}/credentials/{type}:
    get:
      description: |
        List all the credentials filtered by the specified type that are associated
        with this server.
      operationId: servers-credentials-list-type
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      - description: Credential type
        explode: false
        in: path
        name: type
        required: true
        schema:
          example: OPERATING_SYSTEM
          type: string
        style: simple
      - description: Limit the number of results returned.
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Return results starting from the given offset.
        example: 10
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                _metadata:
                  limit: 10
                  offset: 0
                  totalCount: 1
                credentials:
                - type: OPERATING_SYSTEM
                  username: root
              schema:
                $ref: '#/components/schemas/credentialList'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: List credentials by type
      tags:
      - bmp
  /servers/{serverId}/credentials/{type}/{username}:
    delete:
      description: |
        This action is purely administrative and will only remove the username and
        password associated with this resource from our database.
      operationId: deleteServerCredential
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      - description: Credential type
        explode: false
        in: path
        name: type
        required: true
        schema:
          example: OPERATING_SYSTEM
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: username
        required: true
        schema:
          example: root
          type: string
        style: simple
      responses:
        "204":
          description: No Content.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Delete server credential
      tags:
      - bmp
    get:
      description: |
        View the password for the given credential, identified by `type` and
        `username`. Auto generated credentials (during a re-install, rescue mode or
        ipmi reset can be found here).
      operationId: servers-credentials-get
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      - description: Credential type
        explode: false
        in: path
        name: type
        required: true
        schema:
          example: OPERATING_SYSTEM
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: username
        required: true
        schema:
          example: root
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                password: mys3cr3tp@ssw0rd
                type: OPERATING_SYSTEM
                username: root
              schema:
                $ref: '#/components/schemas/credential'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Show user credentials
      tags:
      - bmp
    put:
      description: |
        The usernames or types cannot be changed. In order to change those remove this
        credentials and create a new one.

        This action is purely administrative and will only update the password
        associated with this resource in our database.
      operationId: servers-credentials-put
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      - description: Credential type
        explode: false
        in: path
        name: type
        required: true
        schema:
          example: OPERATING_SYSTEM
          type: string
        style: simple
      - description: Username
        explode: false
        in: path
        name: username
        required: true
        schema:
          example: root
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              password: mys3cr3tp@ssw0rd
            schema:
              $ref: '#/components/schemas/updateServerCredentialOpts'
      responses:
        "200":
          content:
            application/json:
              example:
                password: mys3cr3tp@ssw0rd
                type: OPERATING_SYSTEM
                username: root
              schema:
                $ref: '#/components/schemas/credential'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Update user credentials
      tags:
      - bmp
  /servers/{serverId}/expireActiveJob:
    post:
      description: |
        Expiring an active job will not have any influence on the current state of the
        server and is merely an administrative action.

        Often you want to `cancel` the job, resulting in a server reboot. In that
        case\nuse the `/cancelActiveJob` API call instead.
      operationId: expireActiveJob
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                createdAt: 2021-01-09T08:50:45+0000
                flow: '#stop'
                isRunning: false
                node: 80:18:44:E0:AF:C4!JGNTQ92
                payload:
                  configurable: true
                  device: SATA2TB
                  fileserverBaseUrl: ""
                  jobType: install
                  numberOfDisks: null
                  operatingSystemId: UBUNTU_22_04_64BIT
                  os:
                    architecture: 64bit
                    family: ubuntu
                    name: Ubuntu 22.04 LTS (Jammy Jellyfish) (amd64)
                    type: linux
                    version: "22.04"
                  partitions:
                  - filesystem: swap
                    size: 4096
                  pop: AMS-01
                  powerCycle: true
                  raidLevel: null
                  serverId: "99944"
                  timezone: UTC
                  x: 1
                progress:
                  canceled: 0
                  expired: 1
                  failed: 0
                  finished: 0
                  inprogress: 0
                  pending: 0
                  percentage: 0
                  total: 1
                  waiting: 0
                serverId: "99944"
                status: EXPIRED
                tasks:
                - description: dummy
                  errorMessage: The job was expired by the api consumer
                  flow: tasks
                  onError: break
                  status: EXPIRED
                  statusTimestamps:
                    EXPIRED: 2021-01-09T08:51:54+00:00
                    PENDING: 2021-01-09T08:50:45+00:00
                    WAITING: 2021-01-09T08:50:45+00:00
                  uuid: 0286423e-06ac-49bf-ace5-35af97bde4b1
                type: install
                updatedAt: 2021-01-09T08:51:54+0000
                uuid: fe54dd20-a815-47da-bcb4-5550a160dbbe
              schema:
                $ref: '#/components/schemas/serverJob'
          description: Ok.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Expire active job
      tags:
      - bmp
  /servers/{serverId}/hardwareScan:
    post:
      description: |
        A hardware scan collects hardware related information from your server.

        A hardware scan will require a reboot of your server. The contents of your
        hard drive won't be altered in any way. After a successful hardware scan your
        server is booted back into the original operating system.
      operationId: scanHardware
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              powerCycle: false
            schema:
              $ref: '#/components/schemas/scanHardwareOpts'
      responses:
        "202":
          content:
            application/json:
              example:
                createdAt: 2018-01-09T09:07:09+0000
                flow: tasks
                isRunning: true
                node: 80:18:44:E0:AF:C4!JGNTQ92
                payload:
                  fileserverBaseUrl: ""
                  jobType: hardwareScan
                  pop: AMS-01
                  powerCycle: true
                  serverId: "99944"
                progress:
                  canceled: 0
                  expired: 0
                  failed: 0
                  finished: 0
                  inprogress: 0
                  pending: 1
                  percentage: 0
                  total: 5
                  waiting: 4
                serverId: "99944"
                status: ACTIVE
                tasks:
                - description: dummy
                  errorMessage: null
                  flow: tasks
                  onError: break
                  status: PENDING
                  statusTimestamps:
                    PENDING: 2018-01-09T10:38:12+00:00
                    WAITING: 2018-01-09T10:38:12+00:00
                  uuid: 8a10b74b-2a94-4a3b-88da-b9c07faa240d
                type: hardwareScan
                updatedAt: 2018-01-09T09:07:09+0000
                uuid: 2dcca92d-b5df-4837-bd99-b568ac54569a
              schema:
                $ref: '#/components/schemas/serverJob'
          description: Accepted.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Launch hardware scan
      tags:
      - bmp
  /servers/{serverId}/install:
    post:
      description: |
        Install your server with an Operating System and optional Control Panel.

        To retrieve a list of available operating systems use the
        `/v2/operatingSystems` endpoint.

        To retrieve a list of available control panels use the `/v2/controlPanels`
        endpoint.

        The default device / partitions to be used are operating system depended and
        can be retrieved via the `/v2/operatingSystems/{operatingSystemId}` endpoint.

        You are now able to target a specific diskset, like SATA1TB, SATA2TB, SSD256GB,
        etc. To see which disksets are available in your server check the `/v2/servers/{serverId}`
        endpoint and look for the corresponding diskset id from the hdd array.

        For more information about Dedicated Server installation, [click here](https://kb.leaseweb.com/products/dedicated-server/reinstalling-your-dedicated-server) for our related Knowledge Base article.
      operationId: installOperatingSystem
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              controlPanelId: PLESK_12
              device: SATA2TB
              hostname: ubuntu22.local
              operatingSystemId: UBUNTU_22_04_64BIT
              partitions:
              - filesystem: ext2
                mountpoint: /boot
                size: "1024"
              - filesystem: swap
                size: "4096"
              - filesystem: ext4
                mountpoint: /tmp
                size: "4096"
              - filesystem: ext4
                mountpoint: /
                size: '*'
              sshKeys: ssh-rsa AAAAB3NzaC1y... user@domain.com
            schema:
              $ref: '#/components/schemas/installOperatingSystemOpts'
      responses:
        "202":
          content:
            application/json:
              example:
                createdAt: 2021-03-06T21:55:32+0000
                flow: tasks
                isRunning: true
                node: AA:BB:CC:DD:EE:FF!DKFJKD8989
                payload:
                  configurable: true
                  device: SATA2TB
                  fileserverBaseUrl: 10.11.20.2
                  isUnassignedServer: false
                  jobType: install
                  numberOfDisks: null
                  operatingSystemId: UBUNTU_22_04_64BIT
                  os:
                    architecture: 64bit
                    family: ubuntu
                    name: Ubuntu 22.04 LTS (Jammy Jellyfish) (amd64)
                    type: linux
                    version: "22.04"
                  partitions:
                  - filesystem: ext2
                    mountpoint: /boot
                    size: 1024
                  - filesystem: swap
                    size: 4096
                  - filesystem: ext4
                    mountpoint: /tmp
                    size: 4096
                  - filesystem: ext4
                    mountpoint: /
                    size: '*'
                  pop: AMS-01
                  powerCycle: true
                  raidLevel: null
                  serverId: "12345"
                  timezone: UTC
                progress:
                  canceled: 0
                  expired: 0
                  failed: 0
                  finished: 0
                  inprogress: 0
                  pending: 1
                  percentage: 0
                  total: 26
                  waiting: 25
                serverId: "12345"
                status: ACTIVE
                tasks:
                - description: dummy
                  errorMessage: null
                  flow: tasks
                  onError: break
                  status: PENDING
                  statusTimestamps:
                    PENDING: 2021-01-09T09:18:06+00:00
                    WAITING: 2021-01-09T09:18:06+00:00
                  uuid: c1a56a5a-ae38-4b12-acb6-0cba9ceb1016
                type: install
                updatedAt: 2021-03-06T21:55:32+0000
                uuid: bcf2bedf-8450-4b22-86a8-f30aeb3a38f9
              schema:
                $ref: '#/components/schemas/serverJob'
          description: Accepted.
        "400":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "400"
                errorMessage: The API could not interpret your request correctly.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Bad Request.
        "401":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "401"
                errorMessage: You are not authorized to view this resource.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Not Authorized.
        "403":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
        "500":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "500"
                errorMessage: '''The API could not handle your request at this time.'
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Internal Server Error.
        "503":
          content:
            application/json:
              example:
                correlationId: 289346a1-3eaf-4da4-b707-62ef12eb08be
                errorCode: "403"
                errorMessage: Access to the requested resource is forbidden.
              schema:
                $ref: '#/components/schemas/errorResult'
          description: Forbidden.
      summary: Launch installation
      tags:
      - bmp
  /servers/{serverId}/ipmiReset:
    post:
      description: |
        A reset makes sure that your IPMI interface of your server is compatible with
        Leaseweb automation.

        An IPMI reset will require a reboot of your server. The contents of your hard
        drive won't be altered in any way. After a successful IPMI reset your server
        is booted back into the original operating system.",
      operationId: ipmiResetServer
      parameters:
      - description: The ID of a server
        example: "12345"
        explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              callbackUrl: https://callbacks.example.org
            schema:
              $ref: '#/components/schemas/ipmiResetServerOpts'
      responses:
        "202":
          content:
            application/json:
              example:
                createdAt: 2018-01-09T09:18:06+0000
                flow: tasks
                isRunning: true
                node: 80:18:44:E0:AF:C4!JGNTQ92
                payload:
                  fileserverBaseUrl: ""
                  hasPublicIpmiIp: false
                  jobType: ipmiReset
                  pop: AMS-01
                  powerCycle: true
                  serverId: "99944"
                progress:
                  canceled: 0
                  expired: 0
                  failed: 0
                  finished: 0
                  inprogress: 0
                  pending: 1
                  percentage: 0
                  total: 1
                  waiting: 0
                serverId: "99944"
                status: ACTIVE
                tasks:
                - description: dummy
                  errorMessage: null
                  flow: tasks
                  onError: break
                  status: PENDING
                  statusTimestamps:
                    PENDING: 2018-01-09T09:18:06+00:00
                    WAITING: 2018-01-09T09:18:06+00:00
[...]
